
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr: var(--ion-background-color);
}
.body {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  .navigation {
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    ul {
      display: flex;
      width: 350px;
      li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
        a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          text-align: center;
          font-weight: 500;
        }
        .icon {
          position: relative;
          display: block;
          line-height: 75px;
          font-size: 1.5em;
          text-align: center;
          transition: 0.5s;
          color: #222327;
          img {
            width: 40px;
            padding-top: 19px;
          }
        }
        .text {
          position: absolute;
          color: #222327;
          font-weight: 400;
          font-size: 0.75em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(20px);
        }
      }
      li.active {
        a {
          .icon {
            transform: translateY(-32px);
          }
          .text {
            opacity: 1;
            transform: translateY(10px);
          }
        }
      }
      .indicator {
        position: absolute;
        top: -42%;
        width: 70px;
        height: 70px;
        background: #54bf7b;
        border-radius: 50%;
        border: 6px solid var(--ion-background-color);
        transition: 0.5s;
      }
      .indicator::before {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        top: 42%;
        left: -39%;
        border-top-right-radius: 20px;
        box-shadow: 0px -10px 0px 0px transparent;
      }
      .indicator::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        top: 42%;
        right: -39%;
        border-top-left-radius: 20px;
        box-shadow: 0px -10px 0px 0px transparent;
      }

      li:nth-child(1).active ~ .indicator {
        transform: translateX(calc(70px * 0));
      }

      li:nth-child(2).active ~ .indicator {
        transform: translateX(calc(70px * 1));
      }

      li:nth-child(3).active ~ .indicator {
        transform: translateX(calc(70px * 2));
      }
      li:nth-child(4).active ~ .indicator {
        transform: translateX(calc(70px * 3));
      }
      li:nth-child(5).active ~ .indicator {
        transform: translateX(calc(70px * 4));
      }
    }
  }
}
