<proto-sign-up-header
  [percentage]="50">
</proto-sign-up-header>

<ion-content>
  <div class="proto-content">
    <div class="proto-title">
      {{ 'FORGOTUSERNAMESTEPONE.title' | translate }}
    </div>
    <div class="proto-text">{{ 'FORGOTUSERNAMESTEPONE.text' | translate }}</div>

    <form
      class="proto-form"
      autocomplete="new-password"
      [formGroup]="forgotUsernameForm"
    >
      <div class="form__fields">
        <input
          autocomplete="new-password"
          style="opacity: 0;position: absolute;"
          type="email"
          name="fakeuseremailremembered"
        />
        <input
          autocomplete="new-password"
          style="opacity: 0;position: absolute;"
          type="password"
          name="fakepasswordremembered"
        />   
        <div class="proto-input">
          <ion-input
            class="proto-input__field"
            [ngClass]="{'error': processing && forgotUsernameForm.controls.email.invalid}"
            name="email"
            formControlName="email"
            (keyup.enter)="nextStep()"
            type="text"
            placeholder=" ">
          </ion-input>
          <label
            class="proto-input__label"
            [ngClass]="{'error': processing && forgotUsernameForm.controls.email.invalid}">
            {{ 'FORGOTUSERNAMESTEPONE.email' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </label>
        </div>

        <div class="proto-input">
          <ion-input class="proto-input__field"
            [ngClass]="{'error': processing && forgotUsernameForm.controls.password.invalid}"
            name="password"
            formControlName="password"
            (keyup.enter)="nextStep()"
            [type]="passwordStrengthInfo.password1Type"
            placeholder=" ">
          </ion-input>
          <label 
            class="proto-input__label"
            [ngClass]="{'error': processing && forgotUsernameForm.controls.password.invalid}">
            {{ 'LOGIN.userPassword' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </label>
          <ion-button (click)="togglePasswordVisibility()" class="password-toggle" mode="md" fill="clear">
              <ion-icon color="primary" [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
          </ion-button>                
        </div>  

      </div>
    </form>
  </div>
</ion-content>

<proto-sign-up-footer
  currentFormIsValid="true"
  (primaryAction)="nextStep()"
  (secondaryAction)="backToLogin()"
  [secondaryCaption]="'FORGOTUSERNAMESTEPONE.later' | translate">
</proto-sign-up-footer>
