@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 0px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;

  .page-title {
    font-size: 32px;
    color: var(--ion-text-color-rgb);
  }
}

.proto-input {
  border-bottom: 1px solid #757575;
}

.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;
  .account {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);;
      .item {
        --background: transperent;
        --border-width: 0;
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        --border-radius: 8px;
        margin-bottom: 0;
      }
      &_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        border-bottom: none;
        width: 100%;
        .item {
          &__title {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &_value {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}


.ion-activatable {
  position: relative;
  overflow: hidden;
}






.password-hint {
  margin-top: 30px;
}

.strength-meter-row {
  position: relative;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: -2px;
  margin-right: -2px;

  ion-col {
      background-color: #DDD;
      margin-left: 2px;
      margin-right: 2px;
      padding: 2px;

  }
  .red {
      background-color: #ff0f0f;
  }
  .green {
      background-color: green;
  }
}

.strength-label {
  font-size: 12px;
}

.sl-bad {
  color: #ff0f0f;
}

.sl-good {
  color: green;
  font-weight: bold !important;
}

.password-toggle {
  --background: var(--ion-background-color);;
  --color: var(--ion-text-color);
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 2;
}


.red {
  background-color: #ff0f0f;
}
.green {
  background-color: green;
}


.save-button {
  background: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-light);
}

.save-button-disabled {
  opacity: 0.2;
}

.cancel-button {
  background: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-light);
}

.buttons {
  margin-top: 20px;
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    width: 48%;
 }
}

ion-footer {
  margin-bottom: env(safe-area-inset-bottom);
}