<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.changePassword' | translate }}</h3>
  </div>
</ion-header>

<ion-content>

  <div class="proto-content page-content">

    <form class="proto-form"
      autocomplete="new-password"
      [formGroup]="signForm">


      <div class="proto-input">
        <ion-input class="proto-input__field"
          [ngClass]="{'error': signProcessing && signForm.controls.password.invalid}"
          name="currentPassword"
          formControlName="currentPassword"
          [type]="passwordStrengthInfo.password0Type"
          placeholder=" "></ion-input>
        <label class="proto-input__label"
          [ngClass]="{'error': signProcessing && signForm.controls.password.invalid}">
          {{ 'SETTINGS.currentPassword' | translate }}
          <app-mandatory-field-indicator></app-mandatory-field-indicator>
        </label>
        <ion-button (click)="togglePassword0Visibility()" class="password-toggle" mode="md" fill="clear">
          <ion-icon [name]="passwordStrengthInfo.password0Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
        </ion-button>
      </div>

      <ion-row class="strength-meter-row ion-align-items-center">
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="red"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>

        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="red"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>

        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>

        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="transparent"></ion-col>

        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
        <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
      </ion-row>
      <span class="strength-label">{{ passwordStrengthInfo.password1StrengthText }}</span>
      <div class="proto-input">
        <ion-input class="proto-input__field"
          [ngClass]="{'error': signProcessing && signForm.controls.password.invalid}"
          name="password"
          formControlName="password"
          (ionFocus)="displayRequirements.password1 = true"
          (ionBlur)="checkPassword1Strength(); displayRequirements.password1 = false"
          (keyup.enter)="save()"
          (ionChange)="checkPassword1Strength()"
          [type]="passwordStrengthInfo.password1Type"
          placeholder=" "></ion-input>
        <label class="proto-input__label"
          [ngClass]="{'error': signProcessing && signForm.controls.password.invalid}">
          {{ 'SETTINGS.newPassword' | translate }}
          <app-mandatory-field-indicator></app-mandatory-field-indicator>
        </label>
        <p class="proto-input__requirements password-hint" *ngIf="displayRequirements.password1">
          {{ 'SIGNSTEPONE.REQUIREMENTS.PASSWORD' | translate }}
        </p>
        <ion-button (click)="togglePassword1Visibility()" class="password-toggle" mode="md" fill="clear">
          <ion-icon [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="this.passwordStrengthInfo.password1Strength >= 2">
        <span class="strength-label sl-bad" *ngIf="signForm.controls.password.value.length == 0 ||
          signForm.controls.password.value != signForm.controls.passwordConfirm.value">
          {{ passwordStrengthInfo.password2StrengthText }}
        </span>
        <span class="strength-label sl-good" *ngIf="signForm.controls.password.value.length > 0 &&
          signForm.controls.password.value == signForm.controls.passwordConfirm.value">
          {{ passwordStrengthInfo.password2StrengthText }}
        </span>
        <div class="proto-input">
          <ion-input class="proto-input__field"
            [ngClass]="{'error': signProcessing && signForm.controls.passwordConfirm.invalid}"
            name="passwordConfirm"
            formControlName="passwordConfirm"
            (ionBlur)="checkPassword2Strength()"
            (keyup.enter)="save()"
            (ionChange)="checkPassword2Strength()"
            [type]="passwordStrengthInfo.password2Type"
            placeholder=" "></ion-input>
          <label class="proto-input__label"
            [ngClass]="{'error': signProcessing && signForm.controls.passwordConfirm.invalid}">
            {{ 'SETTINGS.confirmNewPassword' | translate }}
            <app-mandatory-field-indicator></app-mandatory-field-indicator>
          </label>
          <ion-button (click)="togglePassword2Visibility()" class="password-toggle" mode="md" fill="clear">
            <ion-icon [name]="passwordStrengthInfo.password2Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
          </ion-button>
        </div>
      </div>

    </form>



  </div>

</ion-content>

<ion-footer>
      <div class="buttons">
      <div class="button cancel-button ion-activatable" (click)="goBack()"><ion-ripple-effect></ion-ripple-effect>{{ 'SETTINGS.cancel' | translate }}</div>
      <div class="button save-button {{ passwordStrengthInfo.okButtonClass }} ion-activatable" (click)="save()">
        <ion-ripple-effect *ngIf="passwordStrengthInfo.okButtonEnabled"></ion-ripple-effect>
        {{ 'SETTINGS.ok' | translate }}
      </div>
    </div>
</ion-footer>
