<ion-header>
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="userImage"></app-job-header>
  <div class="page-title">{{ 'FEEDBACK.formTitle' | translate }}</div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="page-content" >
    <form [formGroup]="feedbackFormGroup">
      <ion-item class="selector" lines="none">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-select mode="md"
                formControlName="subject"
                interface="action-sheet"
                [okText]="'SIGNSTEPEIGHT.selectOk' | translate"
                [cancelText]="'SIGNSTEPEIGHT.selectCancel' | translate"
                [placeholder]="'FEEDBACK.selectType' | translate">
        <ion-select-option [value]="feedbacktype" *ngFor="let feedbacktype of feedbacktypes">{{ 'FEEDBACK.'+feedbacktype | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    <br><br>
    <ion-item class="textform" lines="none">
      <ion-textarea formControlName="message"  rows="6" [placeholder]="'FEEDBACK.describe' | translate"></ion-textarea>
    </ion-item>
    <!-- <div class="button ion-activatable" (click)="sendFeedback()"><ion-ripple-effect></ion-ripple-effect>{{ 'FEEDBACK.send' | translate }}</div> -->
    </form>
  </div>

</ion-content>
<ion-footer>
  <div class="footer"
    [ngStyle]="{'display': keyboardIsOpened ? 'none' : 'block' }">
    <!-- <img src="./assets/wave.svg" class="footer__wave"> -->
  </div>

  <div class="button-secondary"
    *ngIf="!keyboardIsOpened"
    (click)="onSecondaryAction()">
    <p>{{ secondaryCaption }}</p>
  </div>

  <div class="button"
    [ngStyle]="{'bottom.px': keyboardIsOpened ? keyboardHeight + 84/2 : 84}"
    (click)="sendFeedback()">
    <ion-icon name="chevron-forward-outline" color="light"></ion-icon>
  </div>

</ion-footer>
