@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 30px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-primary);
  //   transform: translate3d(0, 0, 0);
  //   bottom: 130px;
  //   left: -60px;
  // }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-secondary);
  //   transform: translate3d(0, 0, 0);
  //   bottom: 160px;
  //   left: -115px;
  // }

  app-back-button {
    position: absolute;
    top: -40px !important; 
    left: 0 !important;
  }

}
.page-title {
  width: 100%;
  font-size: 35px;
  text-align: left;
  margin: 25px 0 25px 28px;
  color: var(--ion-text-color);
}

.button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 20px;
  background: var(--ion-color-primary);;
  border-radius: 8px;
  width: 90%;
  border: 1px solid var(--ion-color-primary);;
}

.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;
  color: var(--ion-text-color);
  .text{
    font-size: 25px;
  }
  .subtext{
    font-size: 15px;
  }

}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.form {
  margin: 20px 15px;
  padding-top: 20px;
  @media only screen and (max-width: 320px) {
    margin: 5px 15px;
    padding-top: 0;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    margin: 5px 15px;
    padding-top: 0;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    margin: 20px 15px;
    padding-top: 10px;
  }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    margin: 10px 15px;
    padding-top: 20px;
  }
}
:host {
  z-index: 9999;
}

.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 84px;
  display: contents;

  transition: 1s all ease-out;

  &__wave {
    transform: scale(1.25);
  }
}

.button {
  position: fixed;
  right: 24px;
  bottom: 0;
  transform: translateY(50%);

  width: 52px;
  height: 52px;
  border: 4px solid var(--ion-border-color);
  border-radius: 8px;
  background: var(--ion-color-primary);

  transition: 1s all ease-out;

  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    font-size: 24px;
  }
}

.button-secondary {
  position: absolute;
  bottom: 60px;
  left: 20px;

  background: var(--ion-background-color);
  padding: 5px;

  p {
    // color: #1321F5;
    color: var(--ion-text-color);
    font-size: 14px;
  }
}

.selector {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--ion-text-color);
  ion-select {
    --padding-start: 0px;
    text-align: left;
    --color: var(--ion-text-color);
  }
}

.textform {
  padding-left: 10px;
  padding-right: 10px;
}