<ion-header [translucent]="true">
</ion-header>

<ion-content>
    <canvas #canvasx id="canvasx" style="height: 50px;"></canvas>
    <div class="ion-text-center">

        <h1 *ngIf="
        registrationSteps.ACCOUNT_CREATED  && 
        registrationSteps.DEVICE_BRANDED  && 
        registrationSteps.LOGGED_IN  && 
        registrationSteps.GEN_ENCRYPTION  && 
        registrationSteps.BACKUP_ENCRYPTION  && 
        registrationSteps.FINISHING_UP ">{{ 'SIGNSTEPSEVEN.congrats' | translate }}</h1>

        <h1 *ngIf="
        !registrationSteps.ACCOUNT_CREATED  || 
        !registrationSteps.DEVICE_BRANDED  || 
        !registrationSteps.LOGGED_IN  || 
        !registrationSteps.GEN_ENCRYPTION  || 
        !registrationSteps.BACKUP_ENCRYPTION  || 
        !registrationSteps.FINISHING_UP ">{{ 'REGISTRATIONSTEPS.HEADING' | translate }}</h1>

        <h3 *ngIf="
        !registrationSteps.ACCOUNT_CREATED  || 
        !registrationSteps.DEVICE_BRANDED  || 
        !registrationSteps.LOGGED_IN  || 
        !registrationSteps.GEN_ENCRYPTION  || 
        !registrationSteps.BACKUP_ENCRYPTION  || 
        !registrationSteps.FINISHING_UP ">{{ 'REGISTRATIONSTEPS.SUBHEADING' | translate }}</h3>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.ACCOUNT_CREATED" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.ACCOUNT_CREATED" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.ACCOUNT_CREATED' | translate}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.DEVICE_BRANDED" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.DEVICE_BRANDED" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.DEVICE_BRANDED' | translate}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.LOGGED_IN" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.LOGGED_IN" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.LOGGED_IN' | translate}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.GEN_ENCRYPTION" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.GEN_ENCRYPTION" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.GEN_ENCRYPTION' | translate}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.BACKUP_ENCRYPTION" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.BACKUP_ENCRYPTION" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.BACKUP_ENCRYPTION' | translate}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-spinner *ngIf="!registrationSteps.FINISHING_UP" name="lines"></ion-spinner>
                <ion-icon style="font-size: 28px; color: #54BF7B;" *ngIf="registrationSteps.FINISHING_UP" name="checkmark-done-outline"></ion-icon>
            </ion-col>
            <ion-col style="text-align: left;" size="9">{{'REGISTRATIONSTEPS.FINISHING_UP' | translate}}</ion-col>
        </ion-row>
    
        <ion-row *ngIf="
        registrationSteps.ACCOUNT_CREATED  && 
        registrationSteps.DEVICE_BRANDED  && 
        registrationSteps.LOGGED_IN  && 
        registrationSteps.GEN_ENCRYPTION  && 
        registrationSteps.BACKUP_ENCRYPTION  && 
        registrationSteps.FINISHING_UP ">
            <ion-col>
                <ion-button (click)="nextStep()">{{ 'SIGNSTEPSEVEN.ready' | translate }}</ion-button>
            </ion-col>
        </ion-row>
        
    </div>
</ion-content>
