ion-content{
  h1 {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 40px;
  }
}

.page-content {
  width: 100%;
  min-height: 100%;
  padding: 10px 15px 10px;
  background-color: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    margin: 24px 10px;
    line-height: 1.35;
    @media only screen and (max-width: 320px) {
      margin: 10px 10px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      margin: 24px 10px 0px;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 24px 10px 0px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
      margin: 24px 10px;
    }
  }
  .form {
    margin: 20px 15px;
    padding-top: 20px;
    @media only screen and (max-width: 320px) {
      margin: 5px 15px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      margin: 5px 15px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 20px 15px;
      padding-top: 10px;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 10px 15px;
      padding-top: 20px;
    }
    &__fields {
      display: flex;
      flex-direction: column;
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--ion-border-color);;
      }
      .input {
        position: relative;
        margin: 5px 10px 10px 0;
        padding-left: 0;
        @media only screen and (max-width: 320px) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        &__field {
          margin: 10px 0 10px 0;
          margin-top: 0;
          font-size: 16px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--ion-border-color);
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          &:focus~label,
          &:not(:placeholder-shown)~label {
            top: -10px;
            font-size: 12px;
          }
          &:focus~.bar:after,
          &:focus~.bar:before {
            width: 50%;
          }
          :focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        &__label {
          color: var(--ion-text-color);
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 14px;
          font-size: 12px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}


.page-footer {
  padding-top: 115pt;
  position: relative;
  z-index: 1;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 225px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
  .skip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 25px 27px;
    color: white;
  }
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 45px;
    @media only screen and (max-width: 320px) {
      padding: 15px 15px 25px;
    }

    &__next {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      top: 10px;
      right: 36px;
      transform: rotate(0deg);
      cursor: pointer;
      &:active {
        transform: rotate(0deg);
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    &__back {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      right: 185px;
      top: 25px;
      cursor: pointer;
      transform: rotate(180deg);
      &:active {
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    .button-reject {
      float: left;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
    .button-submit {
      float: right;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-primary);
      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }
      &--inactive {
        pointer-events: none;
        color: #D7D7D7;
        background: #F7F7F7;
        border: 2px solid #D7D7D7;
      }
    }
  }
}

.error {
  color: #733122 !important;
}


.alert-radio-group button:nth-child(3) .alert-radio-label:before {
  content: url('/assets/flags/ZMB.png');
}

ion-item{
  --background: var(--ion-background-color);
  --border-width: 0;
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  --padding-start: 0;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}

