@import "../../../../theme/index";

$assetPath: "../../assets";

@include big-circle-page-header($assetPath);
@include big-circle-page-content($assetPath);
@include big-circle-page-footer($assetPath);
@include big-circle-page-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

// --background: var(--ion-background-color);
// --color: var(--ion-text-color);