<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'DATAPROCESS.requestDetails' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <ion-grid>
        <ion-row *ngFor="let keyv of keyValue">
          <ion-col size="6">{{ keyv.key }}</ion-col>
          <ion-col size="6">{{ keyv.value }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
  </ion-card-content>

  
</ion-card>