<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 6</div>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h1>{{ 'SIGNSTEPFIVE.almost_there' | translate }} </h1>
    <form class="proto-form" 
      autocomplete="new-password" 
      [formGroup]="signForm">

      <div class="proto-input">
        <label>
          {{ 'SIGNSTEPTHREE.email' | translate }}
        </label>

        <ion-input class="proto-input__field" 
          #inputElem
          [ngClass]="{'error': signProcessing && signForm.controls.email_id.invalid}" 
          name="email_id" 
          formControlName="email_id" 
          (keyup.enter)="nextStep()"
          type="email"
          placeholder=" ">
        </ion-input>
      </div>
    </form>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
</ion-content>

<!--
<proto-sign-up-header *ngIf="success && loginSuccess"
  [percentage]="100">
</proto-sign-up-header>
<proto-sign-up-header *ngIf="!success || !loginSuccess"
  [percentage]="100"
  [onGoBack]="prevStep">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content" *ngIf="success; else notSuccessContent">

    <div class="proto-title" *ngIf="success; else notSuccessTitle">
      <span *ngIf="!pinExists && !thirdComponent"> {{ 'SIGNSTEPFIVE.titleSuccess' | translate }} </span>
      <span *ngIf="pinExists && !thirdComponent"> {{ 'SIGNSTEPFIVE.newSteps.component2Heading' | translate }} </span>
    </div>
    <ng-template #notSuccessTitle>
        <div class="proto-title">{{ 'SIGNSTEPFIVE.titleError' | translate }}</div>
    </ng-template>
    <div class="icon-success" *ngIf="!thirdComponent"></div>
    <div class="icon-thirdcomponent" *ngIf="thirdComponent"></div>

    <div class="text-success" id="textSuccess" *ngIf="loginSuccess && !pinExists && !thirdComponent">{{ 'SIGNSTEPFIVE.newSteps.component1Body' | translate }}</div>
    <div class="text-success" id="textSuccess" *ngIf="loginSuccess && pinExists && !thirdComponent">{{ 'SIGNSTEPFIVE.newSteps.component2Body' | translate }}</div>
    <div class="text-success" id="textSuccess" *ngIf="loginSuccess && thirdComponent">{{ 'SIGNSTEPFIVE.newSteps.component2Body' | translate }}</div>
    <div class="buttons" *ngIf="loginSuccess && !pinExists && !thirdComponent">
      <div class="button-success"  (click)="displayModal()">{{ 'SIGNSTEPFIVE.newSteps.component1Button' | translate }}</div>
      <div class="button-success-dashboard" (click)="skipPinEntry()"> {{ 'BUTTON.SKIP' | translate }} </div>
    </div>
    <div class="buttons" *ngIf="loginSuccess && pinExists && !thirdComponent">
      <div class="button-success"  (click)="nextStep()">{{ 'SIGNSTEPFIVE.newSteps.component2Button' | translate }}</div>
      <div class="button-success-dashboard" (click)="goToDashboard()">{{ 'BUTTON.SKIP' | translate }}</div>
    </div>
    <div class="buttons" *ngIf="loginSuccess && thirdComponent">
      <div class="button-success"  (click)="nextStep()">{{ 'SIGNSTEPFIVE.newSteps.component2Button' | translate }}</div>
      <div class="button-success-dashboard" (click)="goToDashboard()">{{ 'BUTTON.SKIP' | translate }}</div>
    </div>
    <div class="buttons" *ngIf="!loginSuccess">
      <div class="button-success"  (click)="goToLogin()">{{ 'SIGNSTEPFIVE.goToLogin' | translate }}</div>
    </div>


  <ng-template #notSuccessContent>

      <div class="icon-error"></div>
      <div class="text-error">{{ 'SIGNSTEPFIVE.textError' | translate }}</div>
      <div class="button-error" (click)="prevStep()">{{ 'SIGNSTEPFIVE.buttonError' | translate }}</div>

  </ng-template>

</div>

</ion-content>
-->
