ion-content {
    background-color: var(--ion-background-color);
    width: 100%;
    display: flex;
    margin-left: auto;
    bottom: 20%;
    --overflow: hidden;
    border: 1px solid var(--ion-border-color);
    &::-webkit-scrollbar {
        display: none;
    }

    .ion-text-center {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .ion-text-right {
        background-color: var(--ion-background-color);
        color: var(--ion-text-color);
        ion-button {
            --background: var(--ion-background-color);
            --color: var(--ion-text-color);    
        }
    }

    .didPopover {
        background-color: var(--ion-background-color);
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        white-space: pre-wrap;
        color: var(--ion-text-color);
        overflow: hidden;
    }    
}

.buttons {
    display: flex;
    padding: 0 15px 0;
    justify-content: space-between;
    
    .button {
      text-align: center;
      padding: 10px 15px;
      background-color: var(--ion-color-primary);
      color: #FFFFFF;
      font-size: 15px;
      border-radius: 8px;
      width: 98%;
      margin-bottom: 20px;
    }
}

