<ion-content>
  <div class="ion-text-right">
    <ion-button fill="clear" (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="heading" class="ion-text-center">{{ heading }}</div>
  <div class="didPopover">
   {{ data }}
  </div>
  <div class="buttons" *ngIf="button">
    <div class="button" (click)="openInstagram()">
      <ion-icon name="logo-instagram"></ion-icon>
    </div>
  </div>
</ion-content>

