ion-content {
  .step {
    width: 100%;
    font-size: .7rem;
    color: var(--ion-text-color);
    margin: 64px 0 6px 0;
  }

  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);    
  } 

  h1 {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 40px;
  }

  .warning {
    font-size: .8rem;
    color: var(--ion-text-color);
  }
  
  ion-input {
    border:  1px solid var(--ion-text-color);
  }

  .sl-bad {
    color: #ff0f0f;
  }

  .sl-good {
      color: green;
      font-weight: bold !important;   
  }

  ion-checkbox {
    --size: 24px;
    --background-checked: var(--ion-color-primary);
  }
  
  ion-checkbox::part(container) {
    border-radius: 4px;
    border: 1px solid var(--ion-text-color);
  } 
  ion-item {
    border-bottom: 0 !important;
    ion-label {
      a {
        text-decoration: none;
        color: var(--ion-text-color);
        font-size: .7rem;
      }
    }
  }
}

.pure-select {
    ion-label {
      top: 5px;
    }
  }
  
.proto-item.menu-item-select {
    ion-label {
        position: absolute;
        left: 0;
    }
    ion-select {
        --padding-bottom: 7px;
    }
    margin-right: 0 !important;
}

ion-item {
    --background: var(--ion-background-color);
    --border-width: 0;
    --inner-border-width: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-end: 0;
    --padding-start: 0;
    border-bottom: 1px solid var(--ion-border-color);
    ::ng-deep .select-icon-inner{
      display: none;
    }
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
  }

  .proto-input__field {
    border-bottom: 1px solid var(--ion-text-color);
  }  

  .checkbox-label {
    font-size: 12px;
    white-space: unset;
  }
  
  .legal-info {
    position: absolute;
    top:0;
    padding: 25px;
    padding-top: 0;
  }
  
  .legal-close {
    z-index: 100;
    position: fixed;
    top:0;
    font-size: 50px;
  }