<!-- <ion-content> -->
  <ion-grid class="gridLayout">
    <ion-row>
      <ion-col size="12"><div class="ion-text-center" style="font-size: 22px;">{{ 'POPOVER_TRANSACTION.heading' | translate }}</div></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12"> -->
        <div class="ion-text-center" style="padding-top: 10px; padding-bottom: 10px">
          <ion-icon style="font-size: 200px;" src="../../../../../assets/icon/WEBWalletAssets/TransactionOverview.svg"></ion-icon>
        </div>
      <!-- </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="4"><div class="ion-text-left">{{ 'POPOVER_TRANSACTION.to' | translate }}</div></ion-col>
      <ion-col size="8"><div class="ion-text-right">{{ displayInformation.to }}</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><div class="ion-text-left">{{ 'POPOVER_TRANSACTION.value' | translate }}</div></ion-col>
      <ion-col size="8"><div class="ion-text-right">{{ displayInformation.value }} {{ displayInformation.currency }}<br>~ {{ displayInformation.valueConvert }} {{symbol}}</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><div class="ion-text-left">{{ 'POPOVER_TRANSACTION.gas' | translate }}</div></ion-col>
      <ion-col size="8"><div class="ion-text-right">{{ displayInformation.gas }} {{ displayInformation.currency }}<br>~ {{ displayInformation.gasConvert }} {{symbol}}</div></ion-col>
    </ion-row>
    
    <div class="helix-border"></div>
    <!-- <ion-item-divider mode="ios">
      <ion-grid> -->
        <ion-row>
          <ion-col size="4"><div class="ion-text-left">{{ 'POPOVER_TRANSACTION.total' | translate }}</div></ion-col>
          <ion-col size="8"><div class="ion-text-right">{{ displayInformation.total }} {{ displayInformation.currency }}<br>~ {{ displayInformation.totalConvert }} {{symbol}}</div></ion-col>
        </ion-row>
      <!-- </ion-grid>
    </ion-item-divider> -->
    
    <div class="buttons">
      <div class="cancel-button" (click)="cancel()">{{ 'POPOVER_TRANSACTION.cancel' | translate }}</div>
      <div class="confirm-button" (click)="confirm()">{{ 'POPOVER_TRANSACTION.confirm' | translate }}</div>
    </div>
  </ion-grid>

  

<!-- </ion-content> -->
