<proto-sign-up-header *ngIf="!success"
  [percentage]="100"
  [onGoBack]="prevStep">
</proto-sign-up-header>

<proto-sign-up-header *ngIf="success"
  [percentage]="100">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content">

  <div class="proto-title" *ngIf="success; else notSuccessTitle">{{ 'SIGNSTEPTEN.titleSuccess' | translate }}</div>
  <ng-template #notSuccessTitle>
      <div class="proto-title">{{ 'SIGNSTEPTEN.titleError' | translate }}</div>
  </ng-template>
  <div class="ion-padding" *ngIf="success; else notSuccessContent">
    <div class="icon-success"></div>
    <div class="text-success">{{ 'SIGNSTEPTEN.textSuccess' | translate }}</div>
    <div class="buttons">
      <div class="proto-button-tertiary" (click)="getVerified()">
        {{ 'SIGNSTEPTEN.getVerified' | translate }}
      </div>
      <div class="proto-button-secondary" (click)="nextStep()">
        {{ 'SIGNSTEPTEN.buttonSuccess' | translate }}
      </div>
    </div>
  </div>

  <ng-template #notSuccessContent>
    <div class="ion-padding" class="page-content">
      <div class="icon-error"></div>
      <div class="text-error">{{ 'SIGNSTEPTEN.textError' | translate }}</div>
      <div class="button-error" (click)="prevStep()">{{ 'SIGNSTEPTEN.buttonError' | translate }}</div>
    </div>
  </ng-template>

  </div>

</ion-content>

<!-- <ion-footer mode="ios">
    <div class="page-footer">

          <div class="skip"><span (click)="skipReg()">{{ 'SIGNSTEPTEN.home' | translate }}</span></div>

    </div>
</ion-footer> -->
