<ion-content
  [forceOverscroll]="false"
  style="overflow: hidden"
  [fullscreen]="true"
>
  <ion-slides
    #slides
    id="slides"
    class="slides"
    pager="false"
    (ionSlideWillChange)="slidesWillChange()"
    (ionSlideDrag)="lastSlideDrag()"
    (ionSlideNextStart)="animateForward()"
    (ionSlidePrevStart)="animateBackward()"
  >
    <ion-slide class="slide slide-0">

      <div class="headerLarge">
        JOBGRADER
      </div>
      <div class="subline">
        Upgrade the way you work with Web3
      </div>

      <div id="clickToActivate" class="button--start" *ngIf="isLoaded">
        
        

        <br><br>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button" (click)="goToNextSlide()">
                {{ 'BUTTON.CREATE_ACCOUNT' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button" (click)="goToSignIn()">
                {{ 'BUTTON.LOGIN' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button class="button" (click)="goToHome()">
                {{ 'BUTTON.BROWSE' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
       
      </div>
    </ion-slide>

    <!-- <ng-template> -->
      <ion-slide *ngFor="let jobgraderSlide of jobgraderSlides; let i = index" class="slide" style="
        background-image: url({{jobgraderSlide.background}});
        background-size: cover;
        background-position: center;
        ">
      
        <div class="jobgraderSlideHeading">
          JOBGRADER
        </div>
        <div style="color: white; font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px;">
          Your jobs. Your money.
        </div>
        <div class="jobgraderSlideContainer">
            <!-- <div style="padding-top: 20px;">
              <ion-img [src]="jobgraderSlide.image"></ion-img>
            </div> -->
            <div class="container">
              <div style="text-align: center;">
                <img class="badge" [src]="jobgraderSlide.image">
                <!-- <ion-img class="badge" [src]="jobgraderSlide.image"></ion-img> -->
              </div>
              <h4 class="heading">
                {{ jobgraderSlide.header }} -
              </h4>
              <h4 class="content">{{ jobgraderSlide.content }}</h4>
            </div>
            
            <div class="navBarButtons">
              <div style="margin-top: 10px;" (click)="goToModNav()">{{ 'BUTTON.SKIP' | translate }}</div>
              <div class="next" (click)="goToNextSlide()">
                <ion-icon style="margin-top: 12px; color: #FF9C00;" name="chevron-forward-outline"></ion-icon>
              </div>
            </div>
          </div>
      
    </ion-slide>
    <!-- </ng-template> -->
    

  </ion-slides>
</ion-content>
<ion-footer>
  <div class="pagination" *ngIf="!isFirstSlide">
    <div class="pagination--indices">
      <div
        class="pagination--bullet"
        *ngFor="let item of ghostArray(6); let i = index;"
        [ngStyle]="{'background': activeSlideIndex > i + paginationOffset ? 'rgba(sliderColor,sliderColor,sliderColor,1)' : 'rgba(sliderColor,sliderColor,sliderColor,0.25)'}"
      ></div>
    </div>
    <div
      class="pagination--bullet pagination--bullet__active"
      [ngStyle]="{'left.px': activeSlideIndex * 20 - (20 * paginationOffset)}"
    ></div>
  </div>
</ion-footer>
