.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.altVideo {
  display: none;
}

@keyframes forward {
  0% {
    margin-top: -35%;
    margin-right: -60%;
  }
  100% {
    margin-top: -75%;
    margin-right: -30%;
  }
}

@keyframes backward {
  0% {
    margin-top: -75%;
    margin-right: -30%;
  }
  100% {
    margin-top: -35%;
    margin-right: -60%;
  }
}

.element-bottom {
  position: absolute;
  bottom: 0;

  z-index: 1;
  overflow: hidden;

  width: 100%;
  height: 300px;

  background-size: cover;
  background-image: url("../../assets/blue_bottom.svg");
  background-repeat: no-repeat;
  background-position-y: 100px;

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  pointer-events: none;
}

@keyframes forward-blue {
  0% {
    background-position-y: 100px;
  }
  100% {
    background-position-y: 0px;
  }
}

@keyframes backward-blue {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 100px;
  }
}

.element-bottom-move-forward {
  animation: forward-blue 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.element-bottom-move-backward {
  animation: backward-blue 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.slides {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  display: block;
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.helixVideo {
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

video {
  pointer-events: none;
}

.slide {
  width: 100%;
  height: 100%;

  display: initial;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  overflow-y: scroll;

  // padding-left: 10%;
  // padding-right: 10%;
  padding-top: 25px;

  background: #47B567;

  .jobgraderSlideHeading {
    text-align: center;
    font-family: "FredokaOne Regular";
    font-size: 36px;
    padding: 14px 10px 0 10px;
    color: white;
  }

  .jobgraderImageContainer {
    background-color: #EEC0A7;
    border-radius: 50%;

    .image {
      height: 300px;
      width: 275px;
      margin-left: 50px;
      margin-top: 10px;
      padding-top: -20px;
    }

  }

  .jobgraderSlideContainer {
    
    /* margin-top: 50px; */
    bottom: 68px;
    position: fixed;
    width: 100%;
    background-color: #FF9C00;
    // border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: white;

    .container {

      // background-color: white;
      // border-radius: 20px;
      padding-top: 20px;
      margin-top: 20px;
      min-height: 100px;

      .badge {
        position: absolute;
        width: 74px;
        right: 42vw;
        top: -39px;
      }

      .heading {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
        color: #1C0C0A;
        text-transform: uppercase;
      }

      .content {
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
        color: #1C0C0A;
        text-transform: uppercase;
      }

    }

    

    

    .navBarButtons {
      // padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      // font-size: 12px;

      .next {
        background: white;
        color: black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

    }
 
  }

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  // ion-img {
  //   padding-left: 21%;
  //   padding-right: 21%;
  // }
}

.element-red {
  position: absolute;
  // display: no-repeat;
  bottom: 0;
  left: 0;
  width: 150vw;
  height: 150vw;
  margin-bottom: -130%;
  margin-left: -48%;
  background-size: cover;

  background-image: url("../../assets/red-circle.svg");
  z-index: 2;
  overflow: hidden;

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  &-move-forward {
    animation: forward 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-move-backward {
    animation: backward 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-image {
    display: block;
    ion-img {
      width: 15%;
      margin-left: 200px;
      margin-top: 30px;
    }
  }
}

.web3slide {
  width: 100%;
  height: 100%;

  display: initial;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  overflow-y: hidden;
  overflow-x: hidden;

  background: white;

  &-headerImage {
    // height: 80px;
    margin: 20px 20px 0 20px;
  }

  &-subheading {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    color: #2f2f2f;
    font-size: 23px;
    font-family: "Jost Bold", Helvetica, sans-serif;
  }

  &-heading {
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    color: #2f2f2f;
  }

  // &-image {
  //   z-index: 3;
  // }

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.slide-0 {
  width: 100%;
  height: 100%;

  padding-top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  background-size: cover;
  background-image: url("../../assets/jobgrader-walkthrough/backgrounds/000.png");
  background-color: var(--ion-color-primary);
  background-position: center;

  // background-image: url("../../assets/web2-3-walkthrough/helixid_StartBackground.png");
  // background-position-x: center;
  // background-position-y: top;

  &-logo {
    width: 100%;
    &-font {
      color: #222528;
      text-align: left;
      width: 100%;
    }
    &-underscore {
      width: 20px;
      height: 2px;
      background: white;
      margin-left: 65px;
      margin-top: -10px;
    }
  }

  &-heading {
    margin-top: 76px;
    color: #222528;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-secondary);
  //   top: -490px;
  //   left: -270px;
  //   transform: translate3d(0, 0, 0);
  // }
}

.heading {
  font-size: 40px;
  color: #222528;
}

.headerLarge {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 48px;
  text-align: center;
  font-family: "FredokaOne Regular";
  font-size: 36px;
  color: var(--ion-color-primary);
}

.subline {
  color: var(--ion-color-primary); 
  font-size: 18px; 
  text-align: center; 
  padding-left: 10px; 
  padding-right: 10px;
  margin-top: -8px;
}

.button {
  --background: white;
  --background-focused:  white;
  --background-activated:  white;
  --background-hover:  white;
  --border-radius: 8px;

  --color: var(--ion-color-secondary);
  --color-activated: var(--ion-color-secondary);
  --color-focused: var(--ion-color-secondary);
	--color-hover: var(--ion-color-secondary);

  --border-width: 2px;
  --border-color: var(--ion-color-primary);

  text-transform: none;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;

  width: 70%;
  height: 40px;
  
  // &--backButton {
  //   --background: var(--ion-background-color);
  // }

  &--top {
    transition: 1s opacity ease-in;
    position: absolute;
    text-align: center;
    z-index: 999;
    background-image: url("../../assets/web2-3-walkthrough/helix-overhead-bg.svg");
    height: 357px;
    background-position: bottom;
    width: 100%;
    padding: 10px;
    ::ng-deep strong,
    ::ng-deep b {
      font-family: "Jost Bold", Helvetica, sans-serif;
    }
  }

  &--mid {
    transition: 1s opacity ease-in;
    position: absolute;
    text-align: center;
    z-index: 999;
    width: 100%;
  }

  &--start {
    transition: 1s opacity ease-in;
    position: absolute;
    bottom: 10%;
    /* left: 50%; */
    text-align: center;
    /* transform: translateX(-50%); */
    z-index: 999;
    width: 100%;
    ::ng-deep strong,
    ::ng-deep b {
      font-family: "Jost Bold", Helvetica, sans-serif;
    }
    
    & + .hint {
      position: absolute;
      bottom: calc(15% - 50px);
      left: 50%;
      text-align: center;
      width: 100%;
      transform: translateX(-50%);
      color: white;
      z-index: 1;
      white-space: nowrap;
    }
  }

  &--end {
    color: blue;
    transition: 1s opacity ease-in;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #f04141;
  }

  &-underscore {
    font-style: normal;
    border-bottom: 2px solid var(--ion-color-secondary);
    padding: 2px 0 0;
    line-height: 22px;
    letter-spacing: 0px;
  }

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.arrow-forward {
  position: absolute;
  background: white;
  border: 0px solid blue;
  color: blue;
  border-radius: 50%;
  z-index: 9999;

  width: 78px;
  height: 78px;

  bottom: 100px;
  right: 50px;

  box-shadow: 0 0 10px rgba(0, 0, 100, 0.25);
  ion-icon {
    font-size: 50px;
    margin: 14px;
  }
}

.visible {
  opacity: 1;
}

.pagination {
  z-index: 10;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  &--indices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &--bullet {
    background: rgba(0, 0, 0, 0.25);
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition-property: left, background;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    &__active {
      position: absolute;
      top: 0;
      width: 30px;
      background: rgba(0, 0, 0, 1);
    }
  }
}

.paginationButton {
  z-index: 10;
  position: fixed;
  bottom: 45%;

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.buttonsAlt {
  display: contents;
  background-color: var(--ion-color-secondary);
  padding: 15px 15px 15px;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
  .buttonAlt {
    text-align: center;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 8px;
    width: 100%;
    // margin-left: -28%;
    // margin-right: -28%;
  }
}

.rightButton {
  background: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-light);
}

.leftButton {
  background: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-light);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.backButton {
  display: block;
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
  font-size: 16px;
  height: 20px;
  width: 25%;
}

.postVideoLogos {
  width: 100%;
  padding: 5%;
  // margin-left: 25%;
}

.web3Logo1 {
  // width: 100%;
  padding: 70px;
}

.web3Logo2 {
  width: 40%;
  padding: 10px;
}

.web3Logo3 {
  width: 85%;
  padding: 5%;
}

.slideControl {
  overflow-y: scroll;
}

.fab-button {
  width: 95%;
  --border-radius: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2.5%;
}
