ion-content {
  .step {
    width: 100%;
    font-size: 0.7rem;
    color: var(--ion-text-color);
    margin: 64px 0 6px 0;
  }

  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);
  }

  h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
}
ion-datetime {
  width: 100%;
  text-align: right;
}

.pure-select {
  ion-label {
    top: 0;
  }
}

.proto-item.menu-item-select {
  ion-label {
    position: absolute;
    left: 0;
  }
  margin-right: 0 !important;
}

.profile-picture-label {
  font-size: 13px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-background-color);
  position: relative;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 254px;
  //   height: 254px;
  //   top: -145px;
  //   right: -45px;
  //   background-size: cover;
  //   background-image: url("../../../../assets/red-circle.svg");
  //   z-index: -1;
  // }

  i.helix_id {
    position: absolute;
    top: 85px;
    left: 25px;
    width: 94px;
    height: 28px;
    background: url("../../../../assets/icon/helix_id.svg") no-repeat center;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    font-size: 20px;
    padding: 180px 25px 0;
    @media only screen and (max-width: 320px) {
      padding: 120px 25px 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      padding: 145px 25px 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      padding: 180px 25px 0;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      padding: 180px 25px 0;
    }
  }
}

.page-content {
  width: 100%;
  min-height: 100%;
  padding: 0 15px 10px;
  background-color: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    margin: 24px 10px;
    line-height: 1.35;
    color: var(--ion-text-color);
    @media only screen and (max-width: 320px) {
      margin: 10px 10px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      margin: 24px 10px 0px;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 24px 10px 0px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 24px 10px;
    }
  }
  .form {
    margin: 0 15px 20px;
    padding-top: 0;
    @media only screen and (max-width: 320px) {
      margin: 0 15px 5px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      margin: 0 15px 5px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 0 15px 20px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 0 15px 10px;
      padding-top: 0;
    }
    &__fields {
      display: flex;
      flex-direction: column;
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--ion-border-color);

        .checkmark {
          right: 5px;
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: currentColor;
          opacity: 0.33;
          pointer-events: none;
        }
      }
      .input {
        position: relative;
        margin: 5px 10px 10px 0;
        padding-left: 0;
        @media only screen and (max-width: 320px) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        &__field {
          margin: 10px 0 10px 0;
          margin-top: 0;
          font-size: 16px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--ion-border-color);
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -10px;
            font-size: 12px;
          }
          &:focus ~ .bar:after,
          &:focus ~ .bar:before {
            width: 50%;
          }
          :focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        &__label {
          color: var(--ion-text-color);
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 14px;
          font-size: 12px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}

.page-footer {
  padding-top: 115pt;
  position: relative;
  z-index: 1;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 220px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
  .skip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 25px 27px;
    color: white;
  }
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 45px;
    @media only screen and (max-width: 320px) {
      padding: 15px 15px 25px;
    }

    &__next {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      top: 10px;
      right: 36px;
      transform: rotate(0deg);
      cursor: pointer;
      &:active {
        transform: rotate(0deg);
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    &__back {
      width: 77px;
      height: 77px;
      background-size: cover;
      background-image: url("../../../../assets/icon/prev-next-sign.svg");
      position: absolute;
      right: 185px;
      top: 25px;
      cursor: pointer;
      transform: rotate(180deg);
      &:active {
        background-size: cover;
        background-image: url("../../../../assets/icon/active-prev-next-sign.svg");
      }
    }
    .button-reject {
      float: left;
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: 20px;
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
    .button-submit {
      float: right;
      text-align: center;
      padding: 10px 15px;
      color: #ffffff;
      font-size: 20px;
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-primary);
      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }
      &--inactive {
        pointer-events: none;
        color: #d7d7d7;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
      }
    }
  }
}

.error {
  color: #733122 !important;
}

ion-item {
  --background: var(--ion-background-color);
  --border-width: 0;
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  --padding-start: 0;
  ::ng-deep .select-icon-inner {
    display: none;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  width: 100%;
  z-index: 2;
}

code-input {
  --item-border: 1px solid var(--ion-tab-icon-color);
  --item-border-bottom: 1px solid var(--ion-tab-icon-color);
  --item-border-has-value: 1px solid var(--ion-color-primary);
  --item-border-bottom-has-value: 1px solid var(--ion-color-primary);
  --item-border-focused: 1px solid var(--ion-color-secondary);
  --item-border-bottom-focused: 1px solid var(--ion-color-secondary);
  --item-height: 3em;
  --item-border-radius: 20px;
  --item-spacing: 10px;
  font-size: 30px;
}

.addPadding {
  padding-top: 10px;
}
