<ion-header class="page-header ion-no-border">
  <span class="back-btn" (click)="goBack()"><ion-ripple-effect></ion-ripple-effect></span>
  <div class="fleet">{{ 'SIGNATURE.title' | translate }}</div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="ion-padding" class="profile-content">
    <h4 class="welcome-title">{{ 'SIGNATURE.cartype' | translate }}</h4>
    <h3 class="access-message-text">MB E 220D T-Model</h3>

    <h4 class="welcome-title">{{ 'SIGNATURE.pickUp' | translate }}</h4>
    <h3 class="access-message">Mo, 01.08.2019,8am,</h3>
    <h3 class="access-message-text">Frankfurt am Main</h3>

    <h4 class="welcome-title">{{ 'SIGNATURE.return' | translate }}</h4>
    <h3 class="access-message">TU, 02.08.2019,7am</h3>
    <h3 class="access-message-text">Frankfurt am Main</h3>

    <h4 class="welcome-title">{{ 'SIGNATURE.costs' | translate }}</h4>
    <h3 class="access-message-text">123 €</h3>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="page-footer">
    <div class="buttons">
      <div class="button-reject" (click)="reject()">{{ 'SIGNATURE.reject' | translate }}</div>
      <div class="button-submit" (click)="signature()">{{ 'SIGNATURE.signature' | translate }}</div>
    </div>
  </div>
</ion-footer>
