.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 83px;
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   bottom: 56px;
  //   right: -172px;
  //   background-size: cover;
  //   background-image: url("../../assets/red-circle.svg");
  //   z-index: -1;
  // }

  .fleet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 120px;
    margin-bottom: 27px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.1px;
    background-color: rgb(114, 212, 188);
    border-radius: 50%;
    border: 6px solid #fff;
  }

}

.bottom-fixed-shape {
  position: fixed;
  width: 700px;
  max-width: 700px;
  bottom: -240px;
  left: -160px;
}

.profile-content {
  width: 100%;
  min-height: 100%;
  padding: 0 42px;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
}

.access-message {
  line-height: 0.80;
  font-size: 19px;
  margin-top: 0;
}

 .bottom-space{
  margin-bottom: 39px;
 }

.access-message-text {
  line-height: 0.80;
  font-size: 19px;
  margin-bottom: 39px;
  margin-top: 0;
}

.welcome-title {
  font-size: 16px;
  margin: 0 0 10pt;
}

.strock-button {
  float: right;
  text-align: center;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 20px;
  background: var(--ion-color-primary);
  border-radius: 8px;
  width: 48%;
  border: 1px solid var(--ion-color-primary);
}

.page-footer {
  padding-top: 90pt;
  position: relative;
  background-color: transparent !important;
  
  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 15px 45px;
    @media only screen and (max-width: 320px) {
      padding: 15px 15px 25px;
    }
    .button-reject {
      float: left;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-primary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-primary);
      &:active {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
      }
    }
    .button-submit {
      float: right;
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 48%;
      border: 2px solid var(--ion-color-secondary);
      &:active {
        background: #7385FF;
        border: 2px solid #7385FF;
      }
      &--inactive {
        pointer-events: none;
        color: #D7D7D7;
        background: #F7F7F7;
        border: 2px solid #D7D7D7;
      }
    }
  }
}
