.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  position: relative;
  @media only screen and (max-width: 320px) {
    height: 130px;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    height: 130px;
  }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    height: 130px;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    height: 130px;
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   bottom: 0;
  //   left: -172px;
  //   background-size: cover;
  //   background-image: url("../../assets/red-circle.svg");
  //   z-index: -1;
  // }
  // &:after {
  //   display: none;
  // }
}

.page-content {
  width: 100%;
  padding: 55px 42px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 320px) {
    padding-top: 0px;
    min-height: calc(100% - 70px);
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    padding-top: 0px;
    min-height: calc(100% - 75px);
  }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    padding-top: 25px;
    min-height: calc(100% - 110px);
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    padding-top: 25px;
    min-height: calc(100% - 110px);
  }
  z-index: 11;
  &__title {
    font-size: 35px;
    text-align: center;
  }
  &__icon {
    width: 102px;
    height: 102px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-failed.svg");
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
  }
  &__button {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 170px;
    border: 1px solid var(--ion-color-primary);
    &:active {
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
    }
  }
}

.page-footer {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 225px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
}
