<ion-header class="page-header"></ion-header>
<ion-content [forceOverscroll]="false">
  <div class="ion-padding" class="page-content">
    <h1 class="page-content__title">{{ 'VERIFFFAILED.title' | translate }}</h1>
    <div class="page-content__icon"></div>
    <div class="page-content__subtitle">{{ 'VERIFFFAILED.subtitle' | translate }}</div>
    <div class="page-content__button" (click)="navigateToHome()">{{ 'VERIFFFAILED.button' | translate }}</div>
  </div>
</ion-content>
