<ion-header mode="ios">
  <div class="page-header">
    <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
    <h3 class="page-title">{{ 'PROFILE.requests' | translate }}</h3>
    <div class="buttons">
      <div class="button show-button ion-activatable" (click)="scanRequest()">
        <ion-ripple-effect></ion-ripple-effect>{{'REQUESTS.buttons.home' |
        translate}}
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="page-content">
    <ion-list class="vault__list" *ngIf="requests.length > 0">
      <ion-item
        class="ion-activatable"
        *ngFor="let request of requests"
        (click)="show(request)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <div class="vault__list_item">
          <div class="item__title">
            <span style="float: left" *ngIf="request.status == 0"
              >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} - ({{
              'DATAPROCESS.pending' | translate }}) {{ request.username }}</span
            >
            <span style="float: left" *ngIf="request.status == 1"
              >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} - ({{
              'DATAPROCESS.confirmed' | translate }}) {{ request.username
              }}</span
            >
            <span style="float: left" *ngIf="request.status == -1"
              >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} - ({{
              'DATAPROCESS.rejected' | translate }}) {{ request.username
              }}</span
            >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<!-- <ion-footer>
</ion-footer> -->
