<ion-content class="ion-padding">
  <div class="header">
    <!-- <ion-icon
      class="add-icon"
      (click)="openCustomTokenModal()"
      name="add-circle-outline"
    ></ion-icon> -->
    <p class="txt">{{ 'ADDTOKENS.heading' | translate }}</p>
    <p class="txt" (click)="close()">{{ 'ADDTOKENS.button' | translate }}</p>
  </div>
  <div class="search-div">
    <ion-searchbar
      show-clear-button="focus"
      clear-icon="close-outline"
      placeholder="Search"
      (ionInput)="searchInput($event)"
    ></ion-searchbar>
    <p class="txt">{{ 'ADDTOKENS.subheading' | translate }}</p>
  </div>

  <div class="currencies-list-div">
    <ion-list class="ion-no-margin ion-no-padding" details="false" lines="full">
      <ion-item class="ion-margin-bottom" *ngFor="let c of currencies_data">
        <ion-icon class="currency-icon" slot="start" [src]="c.icon"></ion-icon>
        <ion-label>
          <h5>{{ c.name }}</h5>
          <p>{{ c.currency }}</p>
        </ion-label>
        <ion-toggle
          [disabled]="c.disabled"
          [(ngModel)]="c.active"
          (ionChange)="updateData($event)"
          color="success"
          slot="end"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
