<proto-sign-up-header
  [percentage]="50"
  [onGoBack]="prevStep">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content page-content">

    <div class="proto-title">{{ 'SIGNSTEPEIGHT.title' | translate }}</div>

    <ion-grid class="ion-no-margin">
      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="ion-text-center" *ngIf="!(documentDisplayArray.length > 3)">
          <ion-card class="ion-no-margin addDoc" (click)="addDocument()">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'LEGALDOCUMENTS.addDoc' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center" *ngIf="documentDisplayArray.length > 3">
          <ion-card class="ion-no-margin" [ngClass]="{
            'passport': documentDisplayArray[3] == 'PASSPORT',
            'driverlicence': documentDisplayArray[3] == 'DRIVERS_LICENSE',
            'residencepermit': documentDisplayArray[3] == 'RESIDENCE_PERMIT',
            'idcard': documentDisplayArray[3] == 'ID_CARD'
        }" (click)="showModal(documentDisplayArray[3], true)">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span *ngIf="documentDisplayArray[3] == 'PASSPORT'">{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
              <span *ngIf="documentDisplayArray[3] == 'DRIVERS_LICENSE'">{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
              <span *ngIf="documentDisplayArray[3] == 'RESIDENCE_PERMIT'">{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
              <span *ngIf="documentDisplayArray[3] == 'ID_CARD'">{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center" *ngIf="documentDisplayArray.length > 0">
          <ion-card class="ion-no-margin" [ngClass]="{
            'passport': documentDisplayArray[0] == 'PASSPORT',
            'driverlicence': documentDisplayArray[0] == 'DRIVERS_LICENSE',
            'residencepermit': documentDisplayArray[0] == 'RESIDENCE_PERMIT',
            'idcard': documentDisplayArray[0] == 'ID_CARD'
        }" (click)="showModal(documentDisplayArray[0], true)">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span *ngIf="documentDisplayArray[0] == 'PASSPORT'">{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
              <span *ngIf="documentDisplayArray[0] == 'DRIVERS_LICENSE'">{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
              <span *ngIf="documentDisplayArray[0] == 'RESIDENCE_PERMIT'">{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
              <span *ngIf="documentDisplayArray[0] == 'ID_CARD'">{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="ion-text-center" *ngIf="documentDisplayArray.length > 1">
          <ion-card class="ion-no-margin" [ngClass]="{
            'passport': documentDisplayArray[1] == 'PASSPORT',
            'driverlicence': documentDisplayArray[1] == 'DRIVERS_LICENSE',
            'residencepermit': documentDisplayArray[1] == 'RESIDENCE_PERMIT',
            'idcard': documentDisplayArray[1] == 'ID_CARD'
        }" (click)="showModal(documentDisplayArray[1], true)">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span *ngIf="documentDisplayArray[1] == 'PASSPORT'">{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
              <span *ngIf="documentDisplayArray[1] == 'DRIVERS_LICENSE'">{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
              <span *ngIf="documentDisplayArray[1] == 'RESIDENCE_PERMIT'">{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
              <span *ngIf="documentDisplayArray[1] == 'ID_CARD'">{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center" *ngIf="documentDisplayArray.length > 2" >
          <ion-card class="ion-no-margin" [ngClass]="{
            'passport': documentDisplayArray[2] == 'PASSPORT',
            'driverlicence': documentDisplayArray[2] == 'DRIVERS_LICENSE',
            'residencepermit': documentDisplayArray[2] == 'RESIDENCE_PERMIT',
            'idcard': documentDisplayArray[2] == 'ID_CARD'
        }" (click)="showModal(documentDisplayArray[2], true)">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span *ngIf="documentDisplayArray[2] == 'PASSPORT'">{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
              <span *ngIf="documentDisplayArray[2] == 'DRIVERS_LICENSE'">{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
              <span *ngIf="documentDisplayArray[2] == 'RESIDENCE_PERMIT'">{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
              <span *ngIf="documentDisplayArray[2] == 'ID_CARD'">{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>

<proto-sign-up-footer
  [currentFormIsValid]="signForm.valid"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="''">
</proto-sign-up-footer>
