.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  // @media only screen and (max-width: 320px) {
  //   height: 130px;
  // }
  // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  //   height: 130px;
  // }
  // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  //   height: 130px;
  // }
  // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  //   height: 130px;
  // }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   bottom: 0;
  //   left: -172px;
  //   background-size: cover;
  //   background-image: url("../../assets/red-circle.svg");
  //   z-index: -1;
  // }
  // &:after {
  //   display: none;
  // }
}

.page-content {
  width: 100%;
  padding: 0 42px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  // @media only screen and (max-width: 320px) {
  //   padding-top: 0px;
  //   min-height: calc(100% - 70px);
  // }
  // @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  //   padding-top: 0px;
  //   min-height: calc(100% - 75px);
  // }
  // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  //   padding-top: 25px;
  //   min-height: calc(100% - 110px);
  // }
  // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  //   padding-top: 25px;
  //   min-height: calc(100% - 110px);
  // }
  z-index: 11;
  &__title {
    font-size: 35px;
    text-align: center;
  }
  &__icon1 {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-thanks.svg");
  }
  &__icon2 {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-failed.svg");
  }
  &__icon3 {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../../assets/icon/veriff-home.svg");
  }
  &__subtitle {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  &__button1 {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    background: var(--ion-color-primary);
    border-radius: 8px;
    width: 98%;
    border: 1px solid var(--ion-color-primary);
    &:active {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
    }
  }
  &__button2 {
    float: right;
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    background: var(--ion-color-secondary);
    border-radius: 8px;
    width: 98%;
    border: 1px solid var(--ion-color-secondary);
    &:active {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
    }
  }
}

.page-footer {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 225px;
  //   pointer-events: none;
  //   background-size: cover;
  //   background-image: url("../../assets/blue-footer.svg");
  //   z-index: -1;
  // }
}
