<ion-header class="page-header"></ion-header>
<ion-content class="veriff-thanks-content" [forceOverscroll]="false">
  <div class="ion-padding" class="page-content">
    <h1 class="page-content__title">{{ 'VERIFFTHANKS.title' | translate }}</h1>
    <div style="display: -webkit-inline-box; padding-top: 20px;">
      <div class="page-content__icon1"></div>
      <div class="page-content__subtitle">{{ 'VERIFFTHANKS.subtitle1' | translate }}</div>
    </div>
    <div style="display: -webkit-inline-box;">
      <div class="page-content__icon2"></div>
      <div class="page-content__subtitle">{{ 'VERIFFTHANKS.subtitle2' | translate }}</div>
    </div>
    <div style="display: -webkit-inline-box;">
      <div class="page-content__icon3"></div>
      <div class="page-content__subtitle">{{ 'VERIFFTHANKS.subtitle3' | translate }}</div>
    </div>
    
    <!-- <div class="page-content__button" (click)="navigateToHome()">{{ 'VERIFFTHANKS.button' | translate }}</div> -->
  </div>
</ion-content>
<ion-footer>
  <ion-grid style="width: 100%;">
    <ion-row>
      
      <ion-col size="12">
        <div class="page-content__button1" (click)="navigateToProfile()">{{ 'VERIFFTHANKS.button2' | translate }}</div>
      </ion-col>
      <ion-col size="12">
        <div class="page-content__button2" (click)="navigateToKYC()">{{ 'VERIFFTHANKS.button3' | translate }}</div>
      </ion-col>
      <ion-col size="12">
        <div class="page-content__button1" (click)="navigateToHome()">{{ 'VERIFFTHANKS.button1' | translate }}</div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
