@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

.innovator-badge {
  @include innovatorBadge();
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-primary);
  //   top: -430px;
  //   left: -90px;
  //   transform: translate3d(0, 0, 0);
  // }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-secondary);
  //   top: -490px;
  //   left: -170px;
  //   transform: translate3d(0, 0, 0);
  // }

  .page-title {
    position: relative;
    font-size: 32px;
    color: var(--ion-text-color);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }

  .profile {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 25px;
    height: 170px;
  }

  .profile-cover {
    text-align: center;
    display: inline-block;
    width: 111px;
    height: 111px;
    object-fit: cover;
    object-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid #FFFFFF;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

}

.search {
  margin: 0 10px;
  ion-searchbar {
    ::ng-deep .searchbar-input-container{
        .searchbar-input{
          --background: var(--ion-background-color);
          --color: var(--ion-text-color);
          padding-right: 60px;
          padding-left: 10px;
          border-bottom: 1px solid var(--ion-text-color);
          border-radius: 0;
          box-shadow: none;
        }
        // ::-webkit-input-placeholder { /* WebKit browsers */
        //   text-transform: lowercase !important;
        // }
        // :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        //     text-transform: lowercase !important;
        // }
        // ::-moz-placeholder { /* Mozilla Firefox 19+ */
        //     text-transform: lowercase !important;
        // }
        // :-ms-input-placeholder { /* Internet Explorer 10+ */
        //     text-transform: lowercase !important;
        // }
        // ::placeholder { /* Recent browsers */
        //     text-transform: lowercase !important;
        // }
        .searchbar-search-icon {
          width: 30px;
          right: 8px;
          left: unset;
        }
        .searchbar-clear-button{
          right: 35px;
        }
    }
  }
}


.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;
  margin: 20px 0 0;
  .vault {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: var(--helix-sort-background-color);
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        border-radius: 8px;
        border: 1px solid var(--ion-border-color);
        margin-bottom: 15px;
        margin-left: 20px;
      }
      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border-bottom: none;
        background-color: var(--helix-sort-background-color);
        .item {
          &__icon {
            display: flex;
            width: 26px;
            height: 21px;
            background-size: cover;
            background-image: url("../../assets/icon/folder.svg");
            margin-right: 25px;
            color: var(--ion-text-color);
          }
          &__frozenicon{
            display: flex;
            width: 26px;
            height: 21px;
            background-size: cover;
            background-image: url("../../assets/icon/folder-frozen.svg");
            margin-right: 25px;
            pointer-events: none;
          }
          &__title {
            font-size: 20px;
            color: var(--ion-text-color);
            &__frozen{
              font-size: 20px;
              color: #cdcdcd;
              pointer-events: none;
            }
            .certificates-badge {
              position: absolute;
              top: 30%;
              right: 15px;
            }
          }
        }
      }
    }
  }
  .superMenu-1 {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: var(--ion-color-primary);
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        border-radius: 8px;
        border: 1px solid var(--ion-border-color);
        margin-bottom: 15px;
      }
      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border-bottom: none;
        background-color: var(--ion-color-primary);
        .item {
          &__icon {
            display: flex;
            width: 26px;
            height: 25px;
            background-size: cover;
            background-image: url("../../assets/icon/folder-open-outline.svg");
            margin-right: 25px;
            color: var(--ion-text-color);
          }
          &__title {
            font-size: 20px;
            color: white;
            &__frozen{
              color: #cdcdcd;
            }
          }
        }
      }
    }
  }
  .superMenu-2 {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: var(--ion-color-secondary);
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        border-radius: 8px;
        border: 1px solid var(--ion-border-color);
        margin-bottom: 15px;
      }
      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border-bottom: none;
        background-color: var(--ion-color-secondary);
        .item {
          &__icon {
            display: flex;
            width: 26px;
            height: 25px;
            background-size: cover;
            background-image: url("../../assets/icon/folder-open-outline.svg");
            margin-right: 25px;
            color: var(--ion-text-color);
          }
          &__frozenicon{
            display: flex;
            width: 26px;
            height: 25px;
            background-size: cover;
            background-image: url("../../assets/icon/folder-open-outline-frozen.svg");
            margin-right: 25px;
            color: var(--ion-text-color);
          }
          &__title {
            font-size: 20px;
            color: white;
            &__frozen{
              color: white;
            }
          }
        }
      }
    }
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.indent {
  margin-left: 15px;
}
