<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'KYC.OTC' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-title>
    
  </ion-card-title>


<ion-card-content>
  <ion-slides [pager]="true" #slides>
    <ion-slide>
      <div style="width: 100%; padding: 20px;">
        <!-- QR code comes here<br> -->
        <div class="qr-container">
          <div class="qr-code-container">
            <ngx-qrcode class="qr-code"
              qrc-element-type="url" 
              [value] = "qrCodeValue"
              *ngIf="qrCodeValue"
              [ngClass]="{ 'is-hidden': qrCodeIsHidden }">
            </ngx-qrcode>
          </div>
          <p>{{ qrCodeCaptionCountdown }}</p>
        </div>
        <br><br>
        <!-- <ion-button style="width: 100%;" (click)="navigateToDidPage()">{{ 'SIGNSTEPFIVE.buttonSuccess' | translate }}</ion-button> -->
        <div class="buttons">
          <div class="button did-button ion-activatable" (click)="navigateToDidPage()"><ion-ripple-effect></ion-ripple-effect>{{ 'SIGNSTEPFIVE.buttonSuccess' | translate }}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="didObject.didExists">
      <div style="width: 75%;">
        <strong>clearName</strong><br><br>
        <b>{{ didObject.clearName }}<br><br><ion-icon src="../../../assets/icon/copy.svg" (click)="copyClearname()"></ion-icon></b><br><br>
        <strong>DID</strong><br><br>
        <b>{{ didObject.did }}</b><br><br><ion-icon src="../../../assets/icon/copy.svg" (click)="copyDID()"></ion-icon><br><br>
        <!-- <ion-button style="width: 100%;" (click)="showDIDDocument()">{{ 'CERTIFICATES.didDoc' | translate }}</ion-button> -->
        <div class="buttons">
          <div class="button did-button ion-activatable" (click)="showDIDDocument()"><ion-ripple-effect></ion-ripple-effect>{{ 'CERTIFICATES.didDoc' | translate }}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="width: 90%;">
        {{ 'OTC.CONTENT.WHY' | translate }}
        <br><br>
        <div class="buttons">
          <div class="button did-button ion-activatable" (click)="openScanner()"><ion-ripple-effect></ion-ripple-effect>{{ 'OTC.BUTTONS.SCAN' | translate }}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="checkBoxArray.length > 0">
      <div style="width: 90%; display: grid;">
        {{ 'OTC.CONTENT.INFO' | translate }}
        <ion-list>
          <ion-item *ngFor="let entry of checkBoxArray">
            <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
            <div style="display: block;">
              <h4>{{ entry.key }}</h4>
              <h2>{{ entry.value }}</h2>
            </div>
          </ion-item>
        </ion-list>
        <div class="buttons">
          <div class="button did-button ion-activatable" (click)="verifyMessage()"><ion-ripple-effect></ion-ripple-effect>{{ 'OTC.BUTTONS.VERIFY' | translate }}</div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-card-content>