@import "../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 0 15px 15px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: white;
      font-size: 20px;
      border-radius: 8px;
      width: 100%;

      &--save {
        background: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
    //     &:active {
    //       background: #7385FF;
    //       border: 2px solid #7385FF;
    //   }
    }
   }
  
  }

ion-item {
    background: none;
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    align-items: center;
    --border-color: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }
