<ion-content class="container">
  <i class="big_red_circle"></i>
  <div class="content_container">
    <i class="phone"></i>
    <div class="text">
      Unrecognized
      Parameter sent
    </div>
    <div class="button" (click)="goToPageHome()">
      take me home
    </div>
  </div>
  <div class="blue_bottom"></div>
</ion-content>
