<ion-card transparent class="ion-no-padding">
  <ion-toolbar>
    <!-- <ion-title>{{ 'WALLET.transaction' | translate }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "LEGALDOCUMENTS.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <ion-title>{{ "WALLET.transaction" | translate }}</ion-title>
      <br />
      <div style="text-align: center" *ngIf="icon">
        <img class="profileImage" [src]="icon" />
      </div>
      <div *ngFor="let keyv of keyValue">
        <div class="title">{{ keyv.key }}</div>
        <div class="value">
          <span style="float: left; display: contents">
            {{ keyv.value }}
          </span>
          <br />
        </div>
        <br />
      </div>
      <br />
      <div class="buttons">
        <div class="button ion-activatable" (click)="viewOnExplorer()">
          <ion-ripple-effect></ion-ripple-effect>{{ buttonText }}
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
