@import "../../../theme/index";

ion-card {
  margin-top: 3%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 0px;
  p {
    text-align: justify;
  }
}

ion-title {
  display: contents;
  text-align: center;
  font-size: 20px;
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

ion-card-content {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);

  padding: 10px;
  .title {
    padding-left: 2.5px;
    padding-right: 2.5px;
    font-size: 14px;
  }
  .value {
    padding-left: 2.5px;
    padding-right: 2.5px;
    font-size: 16px;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
  }
}

.profileImage {
  border-radius: 50%;
  height: 100px;
}
