<proto-sign-up-header
  [percentage]="25"
  [title]="null"
  [iconName]="null"
  [onGoBack]="goToPreviousStep">
</proto-sign-up-header>

<ion-content>

  <div class="proto-content">

    <div class="proto-title">{{ 'SIGNSTEPNINE.title' | translate }}</div>

    <form class="proto-form" style="margin-top: -20px;"
      autocomplete="new-password"
      [formGroup]="signForm">

        <ion-list mode="ios">
          <ion-item>
            <ion-toggle color="primary" formControlName="termsConditions" class="proto-toggle"></ion-toggle>
            <ion-label [ngClass]="{'error': signProcessing && signForm.controls.termsConditions.invalid}" class="checkbox-label"
            (click)="iabTermsConditions()">{{ 'SIGNSTEPNINE.termsConditions.part1' | translate }} <u>{{ 'SIGNSTEPNINE.terms.termsConditions' | translate }}</u> {{ 'SIGNSTEPNINE.termsConditions.part2' | translate }} </ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle color="primary" formControlName="dataPrivacy" class="proto-toggle"></ion-toggle>
            <ion-label [ngClass]="{'error': signProcessing && signForm.controls.dataPrivacy.invalid}" class="checkbox-label"
            (click)="iabDataPrivacy()">{{ 'SIGNSTEPNINE.dataPrivacy.part1' | translate }} <u>{{ 'SIGNSTEPNINE.terms.privacyPolicy' | translate }}</u> {{ 'SIGNSTEPNINE.dataPrivacy.part2' | translate }}</ion-label>
          </ion-item>
          <!-- <ion-item>
            <ion-toggle color="primary" formControlName="accessThirdParty" class="proto-toggle"></ion-toggle>
            <ion-label [ngClass]="{'error': signProcessing && signForm.controls.accessThirdParty.invalid}" class="checkbox-label"
            (click)="iabThirdParty()">{{ 'SIGNSTEPNINE.accessThirdParty.part1' | translate }} <u>{{ 'SIGNSTEPNINE.terms.trustedPartners' | translate }}</u> {{ 'SIGNSTEPNINE.accessThirdParty.part2' | translate }}</ion-label>
          </ion-item> -->
        </ion-list>

    </form>
  </div>

</ion-content>

<proto-sign-up-footer
  [currentFormIsValid]="signForm.valid"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="''">
</proto-sign-up-footer>
