@import "../../../theme/index";

// @include header-before-after-animation(
//   getRandomNumberInRange($startKey, $endKey, 1, false),
//   getRandomNumberInRange(30, 40, 1, false)
// );

ion-card {
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

ion-card-header {
  background-color: var(--ion-color-primary);
  padding: 20px 10px;
}

.wallet2 {
  .top-section {
    p {
      margin: 0;
    }

    .badge-div {
      text-align: right;
      margin-bottom: -14px;
      margin-top: 2.5px;
    }
    .name-details-div {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 4%;
    }
  }
  .nav-item-icon {
    i {
      width: 60px;
      height: 60px;
      background-size: cover;
      display: block;
    }
  }
  .nav-item-heading {
    color: white;
    font-size: 20px;
    display: flex;
    // padding-top: 15px;
    padding-left: 5px;
    white-space: nowrap;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .nav-item-description {
    // float: right;
    color: white;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px 15px;
    border: 1.5px solid white;
  }
  .nav-item-address {
    display: flex;
    color: white;
    font-size: 12px;
    padding-left: 5px;
    text-overflow: ellipsis;
    margin-top: 7px;
  }
  .unverifiedWallet {
    background-color: #7385ff;
  }
  .inactiveWallet {
    background-color: #4a4a4a;
  }
  .monitoringWallet {
    background-color: #c727d8;
  }
  .middle-section {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .middle-section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    .money-nft-circle {
      background: #046fff;
      height: 125px;
      width: 125px;
      color: white;
      font-size: x-large;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-color: #fb3c50;
      border: 3px solid #ffffffc4;
      box-shadow: 0 0 10px #ffffff;
      text-align: center;
      p {
        margin: 0;
      }
      .inner-circle {
        background: #046fff;
        height: 32px;
        width: 100px;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .value {
          font-size: 28px;
          font-weight: bolder;
        }
      }
      .value {
        font-size: 28px;
        font-weight: bolder;
      }
      .sign-div-fitted {
        height: 22px;
        width: 100%;
        .sign {
          font-size: 16px;
          margin-top: 3px;
          font-weight: bold;
        }
      }
    }
  }
}

.fl-r {
  float: right;
}
.wallet {
  .nav-item-icon {
    i {
      width: 71px;
      height: 71px;
      background-size: cover;
      display: block;
      margin-left: 14px;
      margin-top: 14px;
    }
  }
  .unverifiedWallet {
    background-color: #7385ff;
  }
  .inactiveWallet {
    background-color: #4a4a4a;
  }
  .monitoringWallet {
    background-color: #c727d8;
  }
}

.addWallet {
  ion-card-header {
    background-color: grey;
    height: 100px;
  }
  .nav-item-icon {
    i {
      background-image: url("../../../assets/icon/add-circle-outline-white.svg");
      width: 60px;
      height: 60px;
      background-size: cover;
      display: inline-block;
    }
  }
}

ion-card-content {
  border-top: 6px solid #fffffd;
  color: var(--ion-color-dark);
}

.mt-2 {
  margin-top: 2.5px !important;
}
.mt--5 {
  margin-top: -5px !important;
}
.p-10 {
  padding: 5px 10px;
}

.buttons {
  padding-top: 10px;
  border-bottom: 1px solid var(--ion-text-color);
  .action-buttons-div {
    padding: 3.5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
      margin-right: 5px;
      margin-left: 5px;
      .modButtonsN {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--ion-color-secondary);
        border: 4px solid #fff;
        height: 60px;
        width: 60px;
        &--inactive {
          background-color: var(--ion-color-secondary-tint);;
          pointer-events: none;
        }
        ion-icon {
          margin: 0px;
          font-size: 55px;
        }
      }
  
      .headline {
        font-size: small;
        margin-top: 0px !important;
        margin-bottom: 0px;
      }
    }
  }
  
}

/* CREDIT CARD IMAGE STYLING */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

.container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 56vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin: auto;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.badge-div {
  text-align: right;
  margin-bottom: -14px;
  margin-top: 2.5px;
  .nav-item-description {
    // float: right;
    color: white;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 20px;
    padding: 7px 15px;
    border: 1.5px solid white;
  }
}
