<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
  <br>
  <div class="page-header">
    <div class="page-title">{{ 'KYC.INTERMEDIARY.title' | translate }}</div>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="page-content">
    <div class="page-disclaimer">
      {{ 'KYC.INTERMEDIARY.message' | translate }}
    </div>
    <br>
    <div class="page-disclaimer">
      {{ 'KYC.INTERMEDIARY.select' | translate }}
    </div>
    <ion-grid>
      <ion-row class="ion-margin-vertical">
        <ion-col size="4">
          <ion-card class="ion-no-margin passport">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-no-margin idcard">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioIDCard2' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-no-margin driverlicence">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-margin-vertical">
        <ion-col size="6">
          <ion-card class="ion-no-margin driverlicence">
            <ion-card-header>
              <div class="nav-item-icon"><i></i></div>
            </ion-card-header>
            <ion-card-content>
              <span>{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
    </ion-grid>

    
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="skip-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="cancel()">
          <!-- <ion-spinner slot="start" name="lines-small" *ngIf="!activateButton"></ion-spinner> -->
          {{ 'BUTTON.SKIP' | translate }}
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="next-button" [ngClass]="{ 'inactive': !activateButton}" style="margin-bottom: 20px;" (click)="next()">
          <!-- <ion-spinner slot="start" name="lines-small" *ngIf="!activateButton"></ion-spinner> -->
          {{ 'ALTWALKTHROUGH.next' | translate }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-footer>
