@import "../../../theme/index";


// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 30px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;
  
  
}

.page-title {
  // width: 88%;
  font-size: 35px;
  text-align: left;
  margin-bottom: 20px;
  color: var(--ion-text-color);
}

.page-disclaimer {
  width: 88%;
  text-align: left;
  margin: 0 0 0 28px;
  color: var(--ion-text-color);
}

.page-content {
  background-color: var(--ion-background-color);

  .inactive {
    opacity: 0.5;
    z-index: 3;
    pointer-events: none;
  }

}

.next-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 20px;
  background: var(--ion-color-primary);
  border-radius: 8px;
  width: 98%;
  border: 1px solid var(--ion-color-primary);
  .inactive {
    background: var(--ion-color-primary-tint);
    border: 1px solid var(--ion-color-primary-tint);
    pointer-events: none;
  }
}

.skip-button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 20px;
  background: var(--ion-color-secondary);
  border-radius: 8px;
  width: 98%;
  border: 1px solid var(--ion-color-secondary);
  .inactive {
    background: var(--ion-color-secondary-tint);
    border: 1px solid var(--ion-color-secondary-tint);
    pointer-events: none;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}


ion-card {
  width: 105px;
  margin-left: calc(50% - 50px);
  border-radius: 10px;
  position: relative;
}

ion-card-header {
  background-color: var(--ion-color-primary);
  height: 127px;
  
}

.unavailable {
  opacity: 0.5;
}

ion-card-content {
  padding: 5px;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 15px;
  color: var(--ion-color-dark);
  letter-spacing: 0.1px;
  text-align: center;
  min-height: 60px;
}
.passport {
  .nav-item-icon {
    i {
      background-image: url('../../../assets/icon/reisepass.svg');
      width: 57px;
      height: 80px;
      background-size: cover;
      display: block;
      margin-left: 4px;
      margin-top: 5px;
    }
  }

}

.driverlicence {
  .nav-item-icon {
    i {
      background-image: url('../../../assets/icon/fuehrerschein.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      margin-left: -7.5px;
      margin-top: 15px;
    }
  }

}

.residencepermit {
  .nav-item-icon {
    i {
      background-image: url('../../../assets/icon/aufenthaltserlaubnis.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      margin-left: -7.5px;
      margin-top: 15px;
    }
  }

}

.idcard {
  .nav-item-icon {
    i {
      background-image: url('../../../assets/icon/personalausweis.svg');
      width: 80px;
      height: 48px;
      background-size: cover;
      display: block;
      margin-left: -7.5px;
      margin-top: 15px;
    }
  }
}