<ion-content style="padding: 20px;">
  <div class="ion-text-right">
    <ion-button fill="clear" (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <div class="ion-text-center" style="font-size: 20px;">
    {{ 'WEB3WALLETMODAL.gas-price' | translate }} <ion-icon name="information-circle-outline" (click)="showTooltip()"></ion-icon>
  </div>
  <div class="ion-text-center" style="font-size: 12px;">{{ 'WEB3WALLETMODAL.not-paid-helixid' | translate }}</div>
  <br>
  <div class="ion-text-center" style="font-size: 16px;">{{ 'WEB3WALLETMODAL.fast' | translate }} (~ &lt; 1 Min.)</div>
  <div class="buttons" (click)="changeValue('fast')">
    <div class="button">~ {{ fastConverted }}{{ symbol }} ({{ fast }} {{ currency }})</div>
  </div>
  <div class="ion-text-center" style="font-size: 16px;">{{ 'WEB3WALLETMODAL.slow' | translate }} (~ &gt; 3 Min.)</div>
  <div class="buttons" (click)="changeValue('normal')">
    <div class="button">~ {{ normalConverted }}{{ symbol }} ({{ normal }} {{ currency }})</div>
  </div>
</ion-content>
