<ng-container *ngIf="!match">
        <i class="icon" [ngClass]="{

            'icon--red': property1 === 2,
            'icon--green': property1 === 1,
            'icon--yellow': property1 === 3,
            'icon--blue': property1 === 4
        }" > <!-- tooltip="{{ getToolTip() }}" [positionH]="leftPosition" [event]="tooltipEvent" [duration]="duration" arrow -->

            <!-- <svg *ngIf="property1 === 0" width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.62668 11.7557H9.0918V6.21973H1.62668V11.7557Z"
                stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
                <path
                d="M7.80743 3.44705C7.80743 3.05198 7.71379 2.67879 7.54746 2.34844C7.14477 1.54866 6.31608 1 5.35892 1C4.00679 1 2.9108 2.09551 2.9108 3.44705V5.21991V6.21991"
                stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
            </svg> -->

            <!-- <svg *ngIf="property1 !== 0" width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.62668 10.7557H9.0918V5.21973H1.62668V10.7557Z"
                stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
                <path
                d="M7.80743 5.21991V3.44705C7.80743 2.09551 6.71144 1 5.35892 1C4.00679 1 2.9108 2.09551 2.9108 3.44705V5.21991"
                stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
            </svg> -->

            <svg *ngIf="!!property1 && property1 !== 0" width="30" height="30" viewBox="0 0 60 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Schloss Copy 7</title>
                <g id="IDCard-Watermark" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="IDCard" transform="translate(-2676.000000, -2631.000000)">
                        <g id="Schloss-Copy-7" transform="translate(2676.000000, 2631.000000)">
                            <circle id="Oval" fill="#19EA49" cx="30" cy="30" r="30"></circle>
                            <polyline id="Line-Copy" stroke="#F7F7F7" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" points="11 32.4416244 21.9747292 43 49 17"></polyline>
                        </g>
                    </g>
                </g>
            </svg>
        </i>
</ng-container>

<ng-container *ngIf="match">
    <i class="icon" [ngClass]="{

        'icon--red': property1 === 2,
        'icon--green': property1 === 1 && property2 === 1,
        'icon--yellow': property1 === 3,
        'icon--blue': property1 === 4
    }" > <!-- tooltip="{{ getToolTip() }}" [positionH]="leftPosition" [event]="tooltipEvent" [duration]="duration" arrow -->

        <!-- <svg *ngIf="property1 === 0 || property2 === 0" width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.62668 11.7557H9.0918V6.21973H1.62668V11.7557Z"
            stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
            <path
            d="M7.80743 3.44705C7.80743 3.05198 7.71379 2.67879 7.54746 2.34844C7.14477 1.54866 6.31608 1 5.35892 1C4.00679 1 2.9108 2.09551 2.9108 3.44705V5.21991V6.21991"
            stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
        </svg> -->

        <!-- <svg *ngIf="property1 !== 0 && property2 !== 0 " width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.62668 10.7557H9.0918V5.21973H1.62668V10.7557Z"
            stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
            <path
            d="M7.80743 5.21991V3.44705C7.80743 2.09551 6.71144 1 5.35892 1C4.00679 1 2.9108 2.09551 2.9108 3.44705V5.21991"
            stroke="black" stroke-width="1.47" stroke-linecap="round" stroke-linejoin="round" />
        </svg> -->

        <svg *ngIf="!!property1 && !!property2 && property1 !== 0 && property2 !== 0 " width="30" height="30" viewBox="0 0 60 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Schloss Copy 7</title>
            <g id="IDCard-Watermark" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="IDCard" transform="translate(-2676.000000, -2631.000000)">
                    <g id="Schloss-Copy-7" transform="translate(2676.000000, 2631.000000)">
                        <circle id="Oval" fill="#19EA49" cx="30" cy="30" r="30"></circle>
                        <polyline id="Line-Copy" stroke="#F7F7F7" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" points="11 32.4416244 21.9747292 43 49 17"></polyline>
                    </g>
                </g>
            </g>
        </svg>
    </i>
</ng-container>

<!-- tooltip="{{ getToolTip() }}" positionH="left" [event]="tooltipEvent" [duration]="duration" arrow -->
