// .item__content_icon {}
.icon {
    position: absolute;
    right: 0;
    top: -18px;
    padding: 20px 0 20px 20px;
    &--default {
      color: var(--ion-text-color);
      svg > path,
      svg > rect {
        stroke: var(--ion-text-color);
      }
    }
    &--red {
      color: #733122;
      svg > path,
      svg > rect {
        stroke: #733122;
      }
    }
    &--green {
      color: #11FF87;
      svg > path,
      svg > rect {
        stroke: #11FF87;
      }
    }
    &--yellow {
      color: #FFD900;
      svg > path,
      svg > rect {
        stroke: #FFD900;
      }
    }
    &--blue {
      color: #BF7B54;
      svg > path,
      svg > rect {
        stroke: #BF7B54;
      }
    }
  }