:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 12.5px;
  }

  .backg {
    background: var(--ion-background-color);
    width: -webkit-fill-available;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .heading {
    margin: 25px 0;
    text-align: center;
    max-width: 90%;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  
  .button-container {
    width: 90%;
    /* height: 100%; */
    display: flex;
    position: absolute;
    bottom: 40px;
    flex-direction: row;
  }
  
  .contact-add-modal-button {
    width: 100%;
      min-width: 0;
    margin: 5px;
    background: var(--ion-color-primary);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid transparent;
    &--disabled {
        border: 2px solid grey;
          color: grey;
          background: transparent;
    }
  }
  