<ion-content style="
background: rgba(20,20,20,0);
">
  <ion-grid>
    <ion-row style="
    padding-top: 30px;
    ">
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <div style="
            font-size: 22px; 
            color: white; 
            text-align: center;"
        >
        {{ heading }}
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row style="
    padding-top: 20vh;
    ">
      <!-- <ion-col size="2"></ion-col>
      <ion-col size="8" style="
      height: 50vh;
      "> -->
      <ion-col size="12">
        <ion-item style="
          border-radius: 50px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          --background: transparent;
          background: transparent;
          border: 5px solid white;
          width: 70vw;
          ">
            <div style="
              height: 70vw;
            "></div>
        </ion-item>     
      </ion-col> 
      <!-- </ion-col>
      <ion-col size="2"></ion-col> -->
    </ion-row>
    <ion-row style="
      position: absolute;
      bottom: 10px;
      width: 100%;
    ">
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <div style="
          text-align: center;
        ">
          <ion-icon style="
            font-size: 50px; 
            color: white;
          " name="close-circle-outline"
          (click)="cancel()"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>