<ion-header mode="ios" class="ion-padding header">
  <ion-toolbar class="toolbar">
    <!-- <ion-buttons slot="start" slot="start" (click)="goBack()">
      <app-back-button></app-back-button>
    </ion-buttons> -->
    <ion-icon src="../../../assets/icon/ellipsis-horizontal.svg" slot="end" class="button-back"
      (click)="edit()">
    </ion-icon>
  </ion-toolbar>
  <ion-avatar class="header-avatar" *ngIf="_ChatService.chatThreadToView && _ChatService.chatThreadToView.userWrapper">
    <img *ngIf="_ChatService.chatThreadToView.userWrapper.displayPicture" [src]="_DomSanitizer.bypassSecurityTrustUrl(_ChatService.chatThreadToView.userWrapper.displayPicture)">
    <img *ngIf="!_ChatService.chatThreadToView.userWrapper.displayPicture" src="../../../assets/job-user.svg">
  </ion-avatar>
</ion-header>

<app-back-button (click)="goBack()"></app-back-button>

<ion-content [forceOverscroll]="false">

  <div class="content">

    <div class="contact-container" style="width: 100%;">
      <h1 class="contact-heading" *ngIf="_ChatService.chatThreadToView && _ChatService.chatThreadToView.userWrapper">
        {{ _ChatService.chatThreadToView.userWrapper.username }}
      </h1>
      <ion-button class="proto-button-tertiary" mode="ios" (click)="chat()">
        {{ 'BUTTON.MESSAGE' | translate }}
      </ion-button>
      <ion-button class="proto-button-primary" mode="ios" (click)="showKeyPairs()" *ngIf="powerUserMode">
        chatKeyPairs
      </ion-button>
    </div>

  </div>

</ion-content>
