ion-content {
  --overflow: hidden;
}

@import "../../../theme/index.scss";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

@mixin background-element-top {
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vw;
  //   margin-top: -75%;
  //   margin-right: -20%;
  //   background-size: cover;
  //   background-image: url("../../../assets/red-circle.svg");
  //   z-index: -1;
  //   overflow: hidden;
  // }
}

@mixin background-element-bottom {
  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: -60vw;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vw;
  //   background-size: cover;
  //   background-image: url("../../../assets/blue_bottom.svg");
  //   z-index: 1;
  //   overflow: hidden;
  // }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
  &-avatar {
    width: 111px;
    height: 111px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    border: 5px solid white;
    top: 25px;
    background: white;
  }
  @include background-element-top;
}

.toolbar {
  --background: transparent;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --border-style: none;
}

.button-back {
  font-size: 30px;
  height: 50px;
}

.content {
  padding: 25px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include background-element-bottom;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
  }
}

.contact-heading {
  margin: 10px;
}

.contact-email {
  margin: 2.5px;
  font-size: 20px;
  color: grey;
}

.list {
  width: 100%;
  --background: transparent;
  background: transparent;
}

.item {
  --background: transparent;
  --padding-start: 0;
  &-name {
    font-size: 20px;
  }
  &-mail {
    color: grey;
    font-size: 18px;
  }
  &-avatar {
    --border-radius: 100%;
    margin-top: 15px;
    width: 75px;
    height: 75px;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
