<ion-header class="page-header ion-no-border">
  <app-back-button (click)="cancel()"></app-back-button>
  <div class="profile">
    <img [src]="userPhoto" alt="" class="profile-cover" />
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="ion-padding" class="profile-content">
    <div>
      <h1 class="welcome-title">{{ 'VERIFICATION.hello' | translate }}</h1>
      <h3 class="access-message">{{ description }}</h3>

      <ion-row *ngFor="let info of infos">
        <ion-col class="access-texts" size="2">
          <ion-img [src]="info.image"></ion-img>
        </ion-col>
        <ion-col class="access-texts" size="10">  
            {{ info.text }}
        </ion-col>
        
      </ion-row>
      
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="page-footer">
      <div class="buttons">
        <div class="button-reject" (click)="deny()">{{ 'VERIFICATION.reject' | translate }}</div>
        <div class="button-submit" (click)="confirm()">{{ 'VERIFICATION.accept' | translate }}</div>
      </div>
    </div>
</ion-footer>
