<div class="footer"
  [ngStyle]="{'display': keyboardIsOpened ? 'none' : 'block' }">
  <!-- <img src="../../../../assets/wave.svg" class="footer__wave"> -->
</div>

<div class="button-secondary"
  *ngIf="!keyboardIsOpened && onSecondaryAction && secondaryActionVisible"
  (click)="onSecondaryAction()">
  <p>{{ secondaryCaption }}</p>
</div>

<div class="button-tertiary"
  *ngIf="!keyboardIsOpened && onTertiaryAction && tertiaryActionVisible"
  (click)="onTertiaryAction()">
  <p>{{ tertiaryCaption }}</p>
</div>

<div 
  *ngIf="primaryActionVisible"
  [ngClass]="getSubmitButtonClass()"
  [ngStyle]="getSubmitButtonStyle()"
  (click)="onPrimaryAction()">
  <!-- <ion-icon src="../../../../assets/icon/arrow.svg" color="light"></ion-icon> -->
  <ion-icon name="chevron-forward-outline" color="light"></ion-icon>
</div>
