:host {
  z-index: 9999;
}

.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 100px;;
  background: var(--ion-background-color);
  transition: 1s all ease-out;

  &__wave {
    transform: scale(1.25);
  }
}

.button {
  position: fixed;
  right: 24px;
  bottom: 0;
  transform: translateY(50%);

  width: 52px;
  height: 52px;
  border: 4px solid var(--ion-color-primary);;
  border-radius: 50%;
  background: var(--ion-color-primary);

  transition: 1s all ease-out;

  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    font-size: 24px;
  }
}

.disabled-submit {
  pointer-events: none;
  background: #F2F2F2;
}

.button-secondary {
  position: absolute;
  bottom: 95px;
  left: 20px;

  padding: 5px;

  p {
    // color: #1321F5;
    color: var(--ion-text-color);
    font-size: 14px;
  }
}

.button-tertiary {
  position: absolute;
  bottom: 60px;
  left: 20px;

  padding: 5px;

  p {
    // color: #1321F5;
    color: var(--ion-text-color);
    font-size: 14px;
  }
}
