<ion-content class="ion-padding">
  <div class="dismiss" (click)="onDismiss()">X</div>
  <ion-grid>
    <ion-row>
      <ion-col size="12"><h1>Error</h1></ion-col>
      <ion-col size="4"><b>Type</b></ion-col>
      <ion-col size="8">
        <span *ngIf="isHttpError">Http</span>
        <span *ngIf="!isHttpError">Client</span>
      </ion-col>
      <ion-col size="8" *ngIf="isHttpError"><b>Status</b></ion-col>
      <ion-col size="4" *ngIf="isHttpError"><span>{{error.status}}</span></ion-col>
      <ion-col size="4" *ngIf="!isHttpError"><b>Code</b></ion-col>
      <ion-col size="8" *ngIf="!isHttpError"><span>{{error.code || 'none'}}</span></ion-col>
      <ion-col size="12"><b>Stack:</b></ion-col>
      <ion-col size="12"><span>{{error.stack}}</span></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
