ion-content {
  ion-grid {
    color: var(--ion-color-light) !important;
    background: var(--ion-color-danger) !important;
  }
  .dismiss {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px;
    z-index: 100000003;
    color: var(--ion-color-light);
  }
}
