p {
    margin: 0;
  }
  ion-grid {
    ion-row {
      margin-bottom: 1rem;
      border-bottom: 1px solid #d3d3d342;
      padding-bottom: 1rem;
      vertical-align: middle;
      .icon-col {
        vertical-align: middle;
        // text-align: center;
        padding-right: 8px;
  
        .icon {
          height: 30px;
          width: 30px;
        }
      }
  
      .name {
        font-size: small;
      }
      .symbol {
        font-size: small;
        color: gray;
        margin-top: 3px;
      }
      .chart-col {
        vertical-align: middle;
        text-align: center;
        .indicator-div-green {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          p {
            font-size: xx-small;
            color: green;
          }
          img {
            height: 17px;
          }
        }
        .indicator-div-red {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          p {
            font-size: xx-small;
            color: red;
          }
          img {
            height: 17px;
          }
        }
      }
      .price-col {
        text-align: right;
        vertical-align: middle;
        .symbol-price {
          font-size: small;
        }
        .converted-value {
          font-size: small;
          margin-top: 3px;
        }
      }
    }
  }
  