<ion-grid class="ion-no-margin ion-no-padding ion-padding-start ion-padding-end">
  <ion-row *ngFor="let item of data; let i = index; trackBy: trackByData;" (click)="chartService.navigateToCryptoHistory(item.currency)">
    <ion-col size="1" class="icon-col">
      <img class="icon" [src]="item.icon" alt="">
    </ion-col>
    <ion-col size="4">
      <p class="name">{{item.name}}</p>
      <p class="symbol">{{item.currency.split("_")[0]}}</p>
    </ion-col>
    <ion-col size="3" class="chart-col">
      <!-- <app-line-chart [data]="price_data[i]" [id_index]="i+1"></app-line-chart>
      <div class="indicator-div-green" *ngIf="price_data[i][price_data[i].length - 1].value >= price_data[i][price_data[i].length - 2].value" >
        <img src="../../../../../assets/crypto/trending-up-outline.svg" alt="">
        <p>+{{ (((price_data[i][price_data[i].length - 1].value / price_data[i][price_data[i].length - 2].value ) - 1)*100).toFixed(2) }} %</p>
      </div>

      <div  class="indicator-div-red" *ngIf="price_data[i][price_data[i].length - 1].value < price_data[i][price_data[i].length - 2].value" >
        <img src="../../../../../assets/crypto/trending-down-outline.svg" alt="">
        <p>{{ (((price_data[i][price_data[i].length - 1].value / price_data[i][price_data[i].length - 2].value ) - 1)*100).toFixed(2) }} %</p>
      </div> -->

    </ion-col>
    <ion-col size="4" class="price-col" >
      <p class="symbol-price">{{item.currency.split("_")[0]}} {{ getReadableBalance(item.balance) }}</p>
      <p class="converted-value">{{ item.eurBalance ? item.eurBalance : (symbol + ' ' + '0.00') }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
