@import "../../theme/index.scss";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));


@mixin background-element-top {
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vw;
  //   margin-top: -75%;
  //   margin-right: -20%;
  //   background-size: cover;
  //   background-image: url("../../assets/red-circle.svg");
  //   z-index: -1;
  //   overflow: hidden;
  // }
}

@mixin background-element-bottom {
  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: -60vw;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vw;
  //   background-size: cover;
  //   background-image: url("../../assets/blue_bottom.svg");
  //   z-index: 1;
  //   overflow: hidden;
  // }
}

.key-exchange {
  background-color: var(--ion-color-secondary);
  font-size: 13px;
}

.date-display {
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  border-width: 0px;
  margin-top: 10px;
  white-space: pre-wrap;
  background-color: grey;
  color: #fff;
}

.message {
  padding: 12px;
  border-radius: 20px;
  border-width: 0px;
  // border-style: solid;
  margin-top: 10px;
  white-space: pre-wrap;

  .msg-text {
    display: block;
  }

  .msg-key-exchange {
    display: block;
  }

  .msg-url {
    display: block;
  }
}

.time {
  margin-top: 10px;
  float: right;
  font-size: small;
}

.other-message {
  background-color: #D8D9DB;
  color: #000;

  .time {
    color: #000;
  }
}

.my-message {
  background-color: var(--ion-color-secondary);
  color: #fff;

  .time {
    color: #fff;
  }
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.message-input {
  width: 100%;
  // border: 1px solid var(--ion-color-medium);
  border: none !important;
  border-radius: 10px;
  background: var(--ion-background-color);
  color: var(--ion-text-color);
  resize: none;
  padding: 10px;
}

.message-input:focus, .message-input:focus{
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
  &-avatar {
    width: 111px;
    height: 111px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    border: 5px solid white;
    top: 55px;
    background: white;
  }
  @include background-element-top;
}

.custom-disappeary-toolbar {
  --background: var(--ion-background-color);
  background-color: var(--ion-background-color);
  ion-title {
    color: var(--ion-text-color);
  }
}


.drop-shadow {
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

ion-footer {
  .toolbar {
    --background: transparent;
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --border-style: none;
  }
  ion-toolbar {
    --border-color: darkgrey;
  }
}

.button-back {
  font-size: 30px;
  height: 50px;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.conversation-locked, .loading-conversation {
  --border-style: none;
  ion-label {
    white-space: normal;
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid black;

  width: 50vw;
  height: 50vw;

  @media (max-height: 568px) {
    width: 25vw;
    height: 25vw;
  }

}

.qr-code {
  // width: 100%;
  // height: 100%;

  opacity: 1;
  transition: opacity 2s linear;

  &.is-hidden {
    opacity: 0;
  }
}





