<proto-sign-up-header [progressBar]="false" [percentage]="12.5">
</proto-sign-up-header>

<ion-content>
  <div class="proto-content">
    <h1 class="proto-title" *ngIf="!!userCallname; else noName">
      {{ 'LOGIN.welcomeBack' | translate : {userCallname: userCallname} }}
    </h1>
    <ng-template #noName>
      <h1 class="proto-title">{{ 'LOGIN.welcome' | translate }}</h1>
    </ng-template>

    <form
      class="proto-form"
      autocomplete="new-password"
      [formGroup]="loginForm"
      *ngIf="!loginModePIN && !displayLoadingDots"
    >
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="text"
        name="fakeusernameremembered"
      />
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="email"
        name="fakeuseremailremembered"
      />
      <input
        autocomplete="new-password"
        style="opacity: 0; position: absolute"
        type="password"
        name="fakepasswordremembered"
      />

      <div class="proto-input">
        <ion-input
          #email
          class="proto-input__field"
          [ngClass]="{'error': (f[fieldNames.email].dirty && f[fieldNames.email].invalid)}"
          [formControlName]="fieldNames.email"
          (keyup.enter)="submitLogin(f[fieldNames.email].value, f[fieldNames.password].value)"
          (focus)="markFormAsValid()"
          type="email"
          placeholder=" "
        >
        </ion-input>
        <label
          class="proto-input__label"
          [ngClass]="{'error': f[fieldNames.email].dirty && f[fieldNames.email].invalid}"
        >
          {{ 'LOGIN.userName' | translate }}
        </label>
      </div>

      <div class="proto-input">
        <ion-input
          class="proto-input__field"
          [ngClass]="{'error': f[fieldNames.password].dirty && f[fieldNames.password].invalid}"
          [formControlName]="fieldNames.password"
          (keyup.enter)="submitLogin(f[fieldNames.email].value, f[fieldNames.password].value)"
          (focus)="markFormAsValid()"
          [type]="passwordStrengthInfo.password1Type"
          placeholder=" "
        >
        </ion-input>
        <label
          class="proto-input__label"
          [ngClass]="{'error': f[fieldNames.password].dirty && f[fieldNames.password].invalid}"
        >
          {{ 'LOGIN.userPassword' | translate }}
        </label>
        <ion-button
          (click)="togglePasswordVisibility()"
          class="password-toggle"
          mode="md"
          fill="clear"
        >
          <ion-icon
            color="primary"
            [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'"
            slot="icon-only"
            mode="md"
          ></ion-icon>
        </ion-button>
      </div>

      <div class="proto-hyperlink" [ngClass]="keyboardOpen ? 'no-pointer' : ''">
        <span (click)="forgotPassword()"
          >{{ 'BUTTON.FORGOT_PASSWORD' | translate }}</span
        >
        <span (click)="forgotUsername()"
          >{{ 'BUTTON.FORGOT_USERNAME' | translate }}</span
        >
        <span (click)="resetDevice()"
          >{{ 'BUTTON.RESET_DEVICE' | translate }}</span
        >
        <span (click)="toggleLoginMode()" *ngIf="loginHash && encryptedPIN"
          >{{ 'LOGIN.loginPin' | translate }}</span
        >
        <span (click)="goToBrowseMode()" *ngIf="!loginHash"
          >{{ 'ALTWALKTHROUGH.buttons.right' | translate }}</span
        >
      </div>

      <div class="finger-print" *ngIf="fingerprintIsAvailable">
        <ion-button
          class="button_unlock"
          fill="outline"
          size="large"
          shape="round"
          (click)="useBiometric()">
          <ion-icon slot="icon-only" src="assets/icon/secure.svg"></ion-icon>
        </ion-button>
      </div>

      <!-- <div class="buttons">
              <div class="buttons__button">

              </div>
              <div class="buttons__button">
                <img class="button_unlock" src="../../assets/icon/thumb_unlock.svg" />
              </div>
            </div> -->
    </form>

    <div style="text-align: center; font-size: 50px;">
      <ion-spinner *ngIf="!loginModePIN && displayLoadingDots" name="lines-sharp"></ion-spinner>
    </div>
    
    <div *ngIf="loginModePIN">
      <h1 class="proto-title" *ngIf="!displayLoadingDots">{{ 'LOGIN.loginPinHeader' | translate }}</h1>
      <code-input
        *ngIf="!displayLoadingDots"
        #codeInput
        [isCodeHidden]="pinNotVisible"
        [codeLength]="5"
        (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)"
      >
      </code-input>
      <div style="text-align: center; font-size: 50px;">
        <ion-spinner *ngIf="displayLoadingDots" name="lines-sharp"></ion-spinner>
      </div>
      <ion-button
        (click)="togglePinVisibility()"
        class="pin-toggle"
        mode="md"
        fill="clear"
        *ngIf="!displayLoadingDots"
      >
        <ion-icon
          color="primary"
          style="padding: 10px"
          [name]="pinNotVisible ? 'eye' : 'eye-off'"
          slot="icon-only"
          mode="md"
        ></ion-icon>
      </ion-button>
      <div class="proto-hyperlink" *ngIf="!displayLoadingDots" [ngClass]="keyboardOpen ? 'no-pointer' : ''">
        <span (click)="toggleLoginMode()"
          >{{ 'LOGIN.loginUsername' | translate }}</span
        >
      </div>

      <div class="finger-print" *ngIf="fingerprintIsAvailable">
        <ion-button
          *ngIf="!displayLoadingDots"
          class="button_unlock"
          fill="outline"
          size="large"
          shape="round"
          (click)="useBiometric()">
          <ion-icon slot="icon-only" src="assets/icon/secure.svg"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>

<proto-sign-up-footer
  *ngIf="!displayLoadingDots"
  currentFormIsValid="true"
  [secondaryActionVisible]="!loginHash"
  (primaryAction)="submitLogin(f[fieldNames.email].value, f[fieldNames.password].value)"
  [primaryActionVisible]="!loginModePIN"
  (secondaryAction)="signUp()"
  [secondaryCaption]="'BUTTON.SIGN-UP' | translate"
>
</proto-sign-up-footer>
