<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGSABOUT.title' | translate }}</h3>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="page-content">
    <ion-list class="about__list">
      <ion-item>
        <div class="about__list_item">
          <div class="item__title">{{ 'SETTINGSABOUT.build' | translate }}</div>
          <div class="item__content">
            <div class="item__content_value">
            {{ code }}
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="about__list_item">
          <div class="item__title">{{ 'SETTINGSABOUT.version' | translate }}</div>
          <div class="item__content">
            <div class="item__content_value">
            {{ number }}
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="about__list_item">
          <div class="item__title">{{ 'SETTINGSABOUT.environment' | translate }}</div>
          <div class="item__content">
            <div class="item__content_value">
            {{ helixEnv }}
            </div>
          </div>
        </div>
      </ion-item>
      <!-- <ion-item>
        <div class="buttons">
          <div class="button" (click)="checkForUpdate()">{{ 'SETTINGSABOUT.update' | translate }}</div>
        </div>
      </ion-item> -->
    </ion-list>
  </div>

</ion-content>
