.back-btn {
    position: absolute !important;
    left: 15px;
    top: 96px;
    display: block;
    width: 32px;
    height: 16px;
    color: var(--ion-text-color) !important;
    margin-left: auto;
    padding: 15px;
    z-index: 5;
    border-radius: 50% !important;
    box-sizing: content-box;

    ion-ripple-effect {
        border-radius: 50% !important;
        overflow: hidden !important;
    }
}