<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
</ion-header>

<ion-content [scrollEvents]="true">

  <br><br>
  <div class="trusted-partner">
    <span class="icon-container"><ion-icon class="category-icon" src="../../assets/icon/job-categories/Fortune.svg"></ion-icon></span>
    <span class="name">Fortune</span>
  </div>
  <div class="page-content">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item lines="none">
                  Question: BlaBla
                </ion-item>
                <ion-item lines="none">
                  <ion-input placeholder="Enter your answer"></ion-input>
                </ion-item>
              </ion-list>
              <div class="buttons" (click)="sendFortunes()">
                <div class="button">{{ 'SUBMIT_FORTUNE' | translate }}</div>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
  </div>
</ion-content>