<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
</ion-header>

<ion-content [scrollEvents]="true">

  <!-- <br><br>
  <div class="trusted-partner">
    <span class="icon-container"><ion-icon class="category-icon" src="../../assets/icon/job-categories/Fortune.svg"></ion-icon></span>
    <span class="name">Fortune</span>
  </div> -->
  <div class="page-content">
    <div class="cards" *ngIf="jobs.length > 0; else emptyTemplate">
      <div class="card" #card *ngFor="let job of jobs; trackBy: trackByData; let i=index;" [style.zIndex]="jobs.length - i" id="{{'card-'+i}}">
        <ion-card mode="ios">
          <ion-card-content mode="md">
            <img src="{{job.photo}}" alt="">

            <ion-item lines="none">
              <ion-label>
                <h2>
                  {{job.name}}
                </h2>
                <h1>
                  {{job.price}}
                </h1>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>

       <!-- Icons -->
       <ion-icon #up src="assets/icon/thumbs_up_icon.svg" class="icon" color="danger" id="reject-icon"></ion-icon>
       <ion-icon #down src="assets/icon/thumbs_down_icon.svg" class="icon" color="primary" id="accept-icon"></ion-icon>
    </div>

    <span class="description">{{ jobs[0]?.description }}</span>

    <ng-template #emptyTemplate>
      <div class="center">
        <ion-icon name="checkmark-circle"></ion-icon>
        <br>
        <ion-note>All Done!</ion-note>
      </div>
    </ng-template>
  </div>
</ion-content>