<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.security' | translate }}</h3>
  </div>
</ion-header>

<ion-content>

  <div class="page-content">
    <ion-list mode="ios">
      <ion-item *ngIf="faioIsAvailable">
        <ion-toggle [(ngModel)]="toggleValue" color="primary" (ngModelChange)="storeFaio($event)" class="proto-toggle"></ion-toggle>
        <ion-label>{{ 'SECURITY.faio_' + (platform.is('android') ? 'android' : 'ios') | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tapToActivate">
        <ion-toggle [(ngModel)]="powerUserMode" color="primary" (ngModelChange)="storeDebugToggle($event)" class="proto-toggle"></ion-toggle>
        <ion-label>{{ 'SECURITY.power-user-mode' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="toggleLockScreen" color="primary" (ngModelChange)="storeLockScreenToggle($event)" class="proto-toggle"></ion-toggle>
        <ion-label>{{ 'SECURITY.disable-lock-screen' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="!isEnvProduction && tapToActivate && powerUserMode">
        <ion-toggle [(ngModel)]="toggleChatEncryption" color="primary" (ngModelChange)="storeChatEncryptionToggle($event)" class="proto-toggle"></ion-toggle>
        <ion-label>{{ 'SECURITY.toggle-chat-encryption' | translate }}</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-toggle [(ngModel)]="toggleSecurePIN" (ngModelChange)="storeToggleSecurePIN($event)" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>{{ 'SECURITY.use-secure-pin' | translate }}</ion-label>
      </ion-item> -->
      <ion-item class="ion-activatable" (click)="changePIN()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>{{ 'SECURITY.change-secure-pin' | translate }}</ion-label>
        <i class="menu-item-icon-arrow"></i>
      </ion-item>
      <ion-item class="ion-text-center" *ngIf="!faioIsAvailable">
        {{'SECURITY.no-settings' | translate}}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
