<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goHome()" [userImage]="userImage"></app-job-header>
</ion-header>

<ion-content [scrollEvents]="true">

  <br><br>
  <div class="trusted-partner">
    <span class="icon-container"><ion-icon class="category-icon" src="../../assets/icon/job-categories/Fortune.svg"></ion-icon></span>
    <span class="name">Fortune</span>
  </div>
  <div class="page-content">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="dashboard-heading">
              {{ 'FORTUNE.DASHBOARD.TITLE' | translate }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="dashboard-reload">
              <ion-icon *ngIf="!loading" (click)="methodForUpdatingDashboard()" name="reload-outline"></ion-icon>
              <ion-spinner *ngIf="loading"></ion-spinner>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div style="text-align: center; width: 100%;">
            <div class="dashboard-subheading">
              {{ 'FORTUNE.DASHBOARD.DISCLAIMER' | translate }}
            </div>
            <div class="dashboard-subheading">
              {{ 'FORTUNE.DASHBOARD.THANKS' | translate }}
            </div>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>

          <ion-col size="4">
            <div class="dashboard-value">
              {{ dashBoardData.served }}
            </div>
            <div class="dashboard-key">
              {{ 'FORTUNE.DASHBOARD.served' | translate }}
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="dashboard-value">
              {{ dashBoardData.solved }}
            </div>
            <div class="dashboard-key">
              {{ 'FORTUNE.DASHBOARD.solved' | translate }}
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="dashboard-value">
              {{ dashBoardData.verified }}
            </div>
            <div class="dashboard-key">
              {{ 'FORTUNE.DASHBOARD.verified' | translate }}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-col size="12">
            <div class="dashboard-value">
              THXC {{ dashBoardData.total }}
            </div>
            <div class="dashboard-key">
              {{ 'FORTUNE.DASHBOARD.total' | translate }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="buttons" (click)="fetchJobs()">
                <div class="button">{{ 'FORTUNE.DASHBOARD.fetch_jobs' | translate }}</div>
              </div>
            </ion-col>

          </ion-row>
          <ion-list style="background: transparent;">
            <ion-card *ngFor="let job of jobs" class="job-card" style="background-image: url({{ job.img }});">
              <ion-card-title style="text-align: center; padding: 10px;">
                <div *ngIf="_Theme.getCurrentTheme() == 'light'" style="
                background-color: rgb(255,255,255,0.6);    
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 8px;">
                {{ job.title }}
                </div>
                <div *ngIf="_Theme.getCurrentTheme() == 'dark'" style="
                background-color: rgb(0,0,0,0.6);    
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 8px;">
                {{ job.title }}
                </div>
              </ion-card-title>
              <ion-card-content>
                <div *ngIf="_Theme.getCurrentTheme() == 'light'" style="
                background-color: rgb(255,255,255,0.6);    
                padding: 15px;
                border-radius: 8px;"
                >
                  <h2 [innerHTML]="job.description"></h2>
                </div>
                <div *ngIf="_Theme.getCurrentTheme() == 'dark'" style="
                background-color: rgb(0,0,0,0.6);    
                padding: 15px;
                color: #d1d1d1;
                border-radius: 8px;"
                >
                  <h2 [innerHTML]="job.description"></h2>
                </div>
                <!-- <br>
                {{ 'FORTUNE.price' | translate }}: {{ job.estimatedPrice }}
                <br>
                {{ 'FORTUNE.solutionsRequired' | translate }}: {{ job.solutionsRequired }} -->
                <br>
                <div *ngIf="_Theme.getCurrentTheme() == 'light'" style="
                background-color: rgb(255,255,255,0.6);    
                padding: 15px;
                border-radius: 8px;">
                    <h2>{{ 'FORTUNE.DASHBOARD.region' | translate }}: {{ job.region }}</h2>
                </div>
                <div *ngIf="_Theme.getCurrentTheme() == 'dark'" style="
                background-color: rgb(0,0,0,0.6);    
                padding: 15px;
                color: #d1d1d1;
                border-radius: 8px;">
                    <h2>{{ 'FORTUNE.DASHBOARD.region' | translate }}: {{ job.region }}</h2>
                </div>
                <div class="buttons" (click)="openJob(job)">
                  <div class="button">{{ 'FORTUNE.DASHBOARD.open_job' | translate }}</div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-list>
          <!-- <ion-row>
            <ion-col id="captchaContent" class="ion-text-center" size="4">
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-card>
  </div>
</ion-content>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
