<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="profilePictureSrc"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.connectedAccounts' | translate }}</h3>
  </div>
</ion-header>

<ion-content>

  <div class="page-content">
    <ion-list mode="ios">
      <ion-item>
        <ion-toggle [(ngModel)]="iCloudOSSupport" color="primary" disabled="true" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/icloud_logo.svg"></ion-icon>
          {{ 'ICLOUD' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="googleDriveOSSupport" [ngStyle]="{'--border-color': (_GDrive.user && _GDrive.user.email) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="_GDrive.user" color="primary" (ngModelChange)="alterGoogleDriveAuth($event)" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/googledrive_logo.svg"></ion-icon>
          {{ 'GOOGLE_DRIVE' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_GDrive.user && _GDrive.user.email" style="text-align: center;">
        <ion-label *ngIf="_GDrive.user && _GDrive.user.email"> 
          <ion-icon name="logo-google"></ion-icon> {{ _GDrive.user.email }} 
        </ion-label> 
      </ion-item>
      <ion-item *ngIf="dropboxOSSupport" [ngStyle]="{'--border-color': (_Dropbox.user) ? 'transparent': 'var(--ion-border-color)'}">
        <ion-toggle [(ngModel)]="dropboxStatus" (ngModelChange)="alterDropbox($event)" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/dropbox_logo.svg"></ion-icon>
          {{ 'DROPBOX' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Dropbox.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/dropbox_logo.svg"></ion-icon> {{ _Dropbox.user.email }}
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngIf="onedriveOSSupport">
        <ion-toggle [(ngModel)]="onedriveStatus" color="primary" class="proto-toggle"></ion-toggle>
        <ion-label>
          <ion-icon src="assets/icon/onedrive_logo.svg"></ion-icon>
          {{ 'ONEDRIVE' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="_Onedrive.user" style="text-align: center;">
        <ion-label>
          <ion-icon src="assets/icon/onedrive_logo.svg"></ion-icon> {{ _Onedrive.user.mail }}
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>

</ion-content>
