@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

ion-segment {
  --background: var(--ion-color-primary);
}

.page-header {
    background-color: var(--ion-background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-primary);
    //   top: -430px;
    //   left: -90px;
    //   transform: translate3d(0, 0, 0);
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 616px;
    //   height: 616px;
    //   border-radius: 50%;
    //   background-color: var(--ion-color-secondary);
    //   top: -490px;
    //   left: -170px;
    //   transform: translate3d(0, 0, 0);
    // }
  
  
    .profile {
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 1;
      padding-top: 35px;
      height: 170px;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      width: 111px;
      height: 111px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 5px solid var(--ion-border-color);
      background-color: var(--ion-background-color);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  
  }

  .page-title {
    position: relative;
    font-size: 32px;
    color: var(--ion-text-color);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }


  .scroll-wrapper {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    background: var(--ion-background-color);
  }

  .page-content {
    background-color: var(--ion-background-color);
    min-height: 100%;
    margin: 20px 0 0;
  }

.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}