<div class="scroll-wrapper">
  <ion-header mode="ios">
    <div>
      <app-job-header [showBackButton]="true" (backEvent)="close()" [userImage]="profilePictureSrc"></app-job-header>

      <h3 class="page-title">{{ 'WALLET.transactionActivities' | translate }}</h3>
    </div>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-segment
        (ionChange)="compartmentChange($event)"
        value="sentPaymentSegment"
        mode="ios"
      >
        <ion-segment-button value="sentPaymentSegment">
          <ion-label>{{ 'WALLET.transactionsShort' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="receivedRequestSegment">
          <ion-label
            >{{ ('WALLET.requests' | translate).slice(0,3) }}. {{
            'WALLET.received' | translate }}</ion-label
          >
        </ion-segment-button>
        <ion-segment-button value="sentRequestSegment">
          <ion-label
            >{{ ('WALLET.requests' | translate).slice(0,3) }}. {{ 'WALLET.sent'
            | translate }}</ion-label
          >
        </ion-segment-button>
      </ion-segment>
    </ion-grid>
    <ion-grid *ngIf="compartmentChoice == 'receivedRequestSegment'">
      <ion-row
        class="ion-activatable"
        *ngFor="let request of requestsReceived"
        (click)="show(request)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="3">
          <ion-avatar>
            <img
              *ngIf="request.currency == 'MATIC'"
              src="../../assets/crypto/vector/{{request.currency}}.svg"
            />
            <img
              *ngIf="request.currency != 'MATIC'"
              src="../../assets/crypto/vector/{{request.currency}}.svg"
            />
          </ion-avatar>
        </ion-col>

        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="request.status == 0"
          >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.pending' | translate }}) <br />{{
          request.userPublicKey.slice(0,4) }}...{{
          request.userPublicKey.slice(request.userPublicKey.length - 4,
          request.userPublicKey.length) }} - {{ request.amount }} {{
          request.currency }}</ion-col
        >
        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="request.status == 1"
          >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.confirmed' | translate }}) <br />{{
          request.userPublicKey.slice(0,4) }}...{{
          request.userPublicKey.slice(request.userPublicKey.length - 4,
          request.userPublicKey.length) }} - {{ request.amount }} {{
          request.currency }}</ion-col
        >
        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="request.status == -1"
          >{{ request.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.rejected' | translate }}) <br />{{
          request.userPublicKey.slice(0,4) }}...{{
          request.userPublicKey.slice(request.userPublicKey.length - 4,
          request.userPublicKey.length) }} - {{ request.amount }} {{
          request.currency }}</ion-col
        >
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="compartmentChoice == 'sentRequestSegment'">
      <ion-row
        class="ion-activatable"
        *ngFor="let sentRequest of requestsSent"
        (click)="showSentRequest(sentRequest)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="3">
          <ion-avatar>
            <img
              *ngIf="sentRequest.currency == 'MATIC'"
              src="../../assets/crypto/vector/{{sentRequest.currency}}.svg"
            />
            <img
              *ngIf="sentRequest.currency != 'MATIC'"
              src="../../assets/crypto/vector/{{sentRequest.currency}}.svg"
            />
          </ion-avatar>
        </ion-col>

        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="sentRequest.status == 0"
          >{{ sentRequest.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.pending' | translate }}) <br />{{
          sentRequest.userPublicKey.slice(0,4) }}...{{
          sentRequest.userPublicKey.slice(sentRequest.userPublicKey.length - 4,
          sentRequest.userPublicKey.length) }} - {{ sentRequest.amount }} {{
          sentRequest.currency }}</ion-col
        >
        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="sentRequest.status == 1"
          >{{ sentRequest.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.sent' | translate }}) <br />{{
          sentRequest.userPublicKey.slice(0,4) }}...{{
          sentRequest.userPublicKey.slice(sentRequest.userPublicKey.length - 4,
          sentRequest.userPublicKey.length) }} - {{ sentRequest.amount }} {{
          sentRequest.currency }}</ion-col
        >
        <ion-col
          size="9"
          style="align-self: center; text-align: left"
          *ngIf="sentRequest.status == -1"
          >{{ sentRequest.timestamp | date:'dd.MM.yyyy HH:mm' }} ({{
          'WALLET.failed' | translate }}) <br />{{
          sentRequest.userPublicKey.slice(0,4) }}...{{
          sentRequest.userPublicKey.slice(sentRequest.userPublicKey.length - 4,
          sentRequest.userPublicKey.length) }} - {{ sentRequest.amount }} {{
          sentRequest.currency }}</ion-col
        >
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="compartmentChoice == 'sentPaymentSegment'">
      <ion-row
        class="ion-activatable"
        *ngFor="let ps of paymentsSent"
        (click)="showTransactionDetail(ps)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="3">
          <ion-avatar>
            <img [src]="returnIcon(ps)" />
          </ion-avatar>
        </ion-col>
        <ion-col size="9" style="align-self: center; text-align: left"
          >{{ ps.hash.slice(0,10) }}...{{ ps.hash.slice(ps.hash.length - 10,
          ps.hash.length) }}</ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-content>
</div>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
