<ion-content class="ion-padding">

  <!-- <div class="bg-content"> -->

      <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 6</div>

      <ion-progress-bar [value]="progress"></ion-progress-bar>

      <h1>{{ 'SIGNSTEPONE.call_by_name' | translate }} </h1>
      
      <h3>{{ 'SIGNSTEPONE.subheading' | translate }} </h3>

      <form class="proto-form"
        [formGroup]="signForm">

        <div class="form__fields">

          <div class="proto-input">
            <ion-label>{{ 'SIGNSTEPONE.firstName' | translate }}
            </ion-label>
            <ion-input [ngClass]="{'error': signProcessing && signForm.controls.firstName.invalid}"
              name="firstName"
              formControlName="firstName"
              (ionFocus)="displayRequirements.firstName = true"
              (ionBlur)="displayRequirements.firstName = false"
              (keyup.enter)="nextStep()"
              type="text"
              placeholder=" ">
            </ion-input>
          </div>
        </div>
      </form>
      <ion-footer>
        <ion-row>
          <ion-col size="6">
            <div class="button-login"
          (click)="goToPreviousStep()">
          <p>{{ 'BUTTON.LOGIN-SMALL' | translate }}</p>
          </div>
    
          <!-- <div class="button-skip"
            (click)="goToBrowseMode()">
            <p>{{ 'ALTWALKTHROUGH.buttons.right' | translate }}</p>
          </div> -->
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-footer>
  <!-- </div> -->
</ion-content>
