@import "../../../theme/index";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.custom-disappeary-toolbar {
  --background: var(--ion-background-color);
  background-color: var(--ion-background-color);
  position: absolute; 
  top: 0px;
  padding-top: env(safe-area-inset-top);  // to block out behind notchy area.
  left: 0px;
}

.customBackButton {
  ::ng-deep .back-btn {
    top: 88px;
    left: 0;
  }
}


.custom-disappeary-toolbar2 {
  display: block;
  width: 100%;
  z-index: 10;
  padding-top: 10px;
  background-color: var(--ion-background-color);
  position: absolute; 
  top: 56px;
  left: 0px;
}


h2 {
  max-width: calc(100% - 55px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-contacts-label {
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  margin-top: 80px;
}

ion-label {
  width: 100%;
}

.drop-shadow {
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  // &:before {
  //   content: "";
  //   width: 380px;
  //   height: 380px;
  //   bottom: 60px;
  //   left: -86px;
  //   position: absolute;
  //   border-radius: 190px;
  //   background-size: cover;
  //   background: var(--ion-color-secondary);
  //   transform: translate3d(0, 0, 0);
  // }

  .customBigTitle {
    font-size: 32px;
    color: var(--ion-text-color-rgb);
    margin: 100px 0px 24px 60px;

    .ripple-parent {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      // border-radius: 22px;
      // -moz-border-radius: 22px;
      // -webkit-border-radius: 22px;
    }
  
    .btn-refresh {
      float: right;
      margin-right: 10px;
      font-size: 44px;
      height: 44px;
    }

    .btn-scan {
      float: right;
      margin-right: 24px;
      font-size: 44px;
      height: 44px;
    }
  }
}


.toolbar {
  --background: transparent;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --border-style: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
  }
}

.contact-heading {
  margin: 10px;
}

.contact-email {
  margin: 2.5px;
  font-size: 20px;
  color: grey;
}

.chatbubble {
  font-size: 35px;
  position:relative;
}

.buttonscan {
  font-size: 50px;
  position: absolute;
  bottom: -45%;
  right: 10%;
  z-index: 10;
}

.list {
  width: 100%;
  --background: transparent;
  background: transparent;
  z-index: 2;
}

.infoone {
  width: 95%;
  display: inherit;
  margin: 0 auto;
}

.item {
  // --background: transparent;
  // --padding-start: 0;
  // position: relative;
  &-name {
    font-size: 20px;
  }
  &-previewText {
    font-size: 14px;
    color: gray;
  }
}

.loading-container {
  margin-top: 50px;
}

.button-status {
  font-size: 50px;
  position: absolute;
  bottom: -45%;
  left: 10%;
  z-index: 2;
  font-size: 35px;
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
}

.chat-segment-selector {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  --background: var(--ion-background-color) !important;

  .segment-button-checked {
    border: 1px solid #ccc !important;
  }

}

.browseMode {
  background-color: var(--ion-background-color);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 10%;
  color: var(--ion-text-color);
  overflow: hidden;
  &-content {
    padding: 15px;
  }
  .buttons {
    display: contents;
    background-color: var(--ion-background-color);
    padding: 10px 15px 15px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-secondary);
      border-radius: 8px;
      width: 100%;
      border: 1px solid var(--ion-color-secondary);
      margin-bottom: 15px;
    }
  }
}   
.ion-activatable {
  position: relative;
  overflow: hidden;
}