<ion-header>
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="avatarImage"></app-job-header>
</ion-header>
<ion-toolbar class="custom-disappeary-toolbar" *ngIf="showPageTitle" mode="md">
  <ion-title class="customTitle" *ngIf="currentSection == 'contacts'">{{ 'TABS.contacts' | translate }}</ion-title>
  <ion-title class="customTitle" *ngIf="currentSection != 'contacts'">{{ 'CHAT.pending' | translate }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="reconnect()" [disabled]="!_ChatService.isFullyLoaded" fill="clear" color="dark">
      <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="contactAdditionOptions()" [disabled]="!_ChatService.isFullyLoaded" fill="clear" color="dark">
      <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<!-- <app-back-button class="customBackButton" (click)="goBack()"></app-back-button>   -->

<ion-content (ionScroll)="scrolling($event)" scrollEvents="true">

  <div class="page-header">
    <ion-card-title class="customBigTitle" id="customBigTitle_{{bigTitleGuid}}">{{ 'TABS.contacts' | translate }}
      <div class="btn-scan ion-activatable ripple-parent">
        <ion-icon name="add-circle-outline" (click)="showContactAdditionOptions()" *ngIf="_ChatService.isFullyLoaded"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="btn-refresh ion-activatable ripple-parent">
        <ion-icon src="../../../assets/icon/self-qr-code.svg" (click)="showSelfQRCode()" *ngIf="_ChatService.isFullyLoaded"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-card-title>
  </div>

  <ion-segment class="chat-segment-selector" mode="ios" [(ngModel)]="currentSection">
    <ion-segment-button value="contacts" mode="ios">
      <ion-label *ngIf="!_ChatService.contactCount">{{ 'TABS.contacts' | translate }}</ion-label>
      <ion-label *ngIf="_ChatService.contactCount">{{ 'TABS.contacts' | translate }} ({{ _ChatService.contactCount }})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending" mode="ios">
      <ion-label *ngIf="_ChatService.chatThreadRequests.length == 0">{{ 'CHAT.pending' | translate }}</ion-label>
      <ion-label *ngIf="_ChatService.chatThreadRequests.length > 0">{{ 'CHAT.pending' | translate }} ({{ _ChatService.chatThreadRequests.length }})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="merchants" mode="ios">
      <ion-label *ngIf="!_ChatService.merchantCount">{{ 'TABS.companies' | translate }}</ion-label>
      <ion-label *ngIf="_ChatService.merchantCount">{{ 'TABS.companies' | translate }} ({{ _ChatService.merchantCount }})</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="content">
    <div class="browseMode" *ngIf="!_AppStateService.isAuthorized">
      <div class="browseMode-content"> {{ 'BROWSEMODE.heading' | translate }} </div>
      <div class="browseMode-content"> {{ 'BROWSEMODE.message' | translate }} </div>
      <div class="buttons"><div class="button ion-activatable" (click)="goToLogin()"><ion-ripple-effect></ion-ripple-effect>{{ 'BROWSEMODE.buttons.login' | translate }}</div></div>
      <div class="buttons"><div class="button ion-activatable" (click)="goToSignUp()"><ion-ripple-effect></ion-ripple-effect>{{ 'BROWSEMODE.buttons.signup' | translate }}</div></div>
    </div>

    <div class="loading-container ion-padding ion-text-center" *ngIf="!_ChatService.isFullyLoaded && _AppStateService.isAuthorized">
      <ion-spinner *ngIf="_ChatService.isOnline" name="lines" [color]="spinnerColor"></ion-spinner>
      <ion-icon *ngIf="!_ChatService.isOnline" name="cloud-offline-outline"></ion-icon>
    </div>

    <div *ngIf="currentSection == 'contacts' && _ChatService.isFullyLoaded && _AppStateService.isAuthorized" class="list">
      <h2 class="no-contacts-label" *ngIf="_ChatService.chatThreads.length == 0">
        {{ _TranslateProviderService.instant('CHAT.noContactsTapToAvailable') }}
      </h2>

      <ng-container *ngFor="let chatThread of _ChatService.chatThreads">
        <ion-item *ngIf="!chatThread.userWrapper.merchant" lines="full" class="thread-item">
          <ion-avatar slot="start" class="item-avatar" (click)="viewDetail(chatThread)">
            <img *ngIf="chatThread.userWrapper.displayPicture" [src]="_DomSanitizer.bypassSecurityTrustUrl(chatThread.userWrapper.displayPicture)">
            <img *ngIf="!chatThread.userWrapper.displayPicture" src="../../../assets/job-user.svg">
          </ion-avatar>
          <ion-label (click)="chat(chatThread)">
            <h2 class="item-name">{{ chatThread.userWrapper.username }}</h2>
            <p class="item-previewText" *ngIf="!chatThread.messages || chatThread.messages && chatThread.messages.length == 0">-</p>
            <p class="item-previewText" *ngIf="chatThread.messages && chatThread.messages.length > 0">
              {{ chatThread.lastMessage }}
            </p>
            <p class="item-previewText" *ngIf="chatThread.messages && chatThread.messages.length > 0">
              {{ chatThread.lastMessageDateString }}
            </p>
          </ion-label>
          <ion-badge (click)="chat(chatThread)" slot="end" *ngIf="chatThread.markedAsUnread" class="messages-badge" mode="ios" color="danger">
            {{ chatThread.unreadCount }}
          </ion-badge>
        </ion-item>
      </ng-container>

    </div>

    <div *ngIf="currentSection == 'pending' && _ChatService.isFullyLoaded && _AppStateService.isAuthorized" class="list">
      <h2 class="no-contacts-label" *ngIf="_ChatService.chatThreadRequests.length == 0">
        {{ _TranslateProviderService.instant('CHAT.noRequestsToShow') }}
      </h2>

      <ion-item *ngFor="let chatThreadRequest of _ChatService.chatThreadRequests" lines="full" class="thread-item">
        <ion-avatar slot="start" class="item-avatar">
          <img *ngIf="chatThreadRequest.userWrapper.displayPicture" [src]="_DomSanitizer.bypassSecurityTrustUrl(chatThreadRequest.userWrapper.displayPicture)">
          <img *ngIf="!chatThreadRequest.userWrapper.displayPicture" src="../../../assets/job-user.svg">
        </ion-avatar>
        <ion-label>
          <h2 class="item-name">{{ chatThreadRequest.userWrapper.username }}</h2>
          <p>&nbsp;</p>
        </ion-label>

        <ion-buttons slot="end" *ngIf="chatThreadRequest.to && !chatThreadRequest.isProcessing">
          <ion-button slot="icon-only" shape="round" fill="solid" color="danger" (click)="delete(chatThreadRequest)">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="chatThreadRequest.to && chatThreadRequest.isProcessing">
          <ion-spinner name="lines" color="dark"></ion-spinner>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="chatThreadRequest.from && !chatThreadRequest.isProcessing">
          <ion-button slot="icon-only" shape="round" fill="solid" color="primary" (click)="accept(chatThreadRequest)">
            <ion-icon name="checkmark-sharp"></ion-icon>
          </ion-button>
          <ion-button slot="icon-only" shape="round" fill="solid" color="danger" (click)="delete(chatThreadRequest)">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="chatThreadRequest.from && chatThreadRequest.isProcessing">
          <ion-spinner name="lines" color="dark"></ion-spinner>
        </ion-buttons>

      </ion-item>
    </div>

    <div *ngIf="currentSection == 'merchants' && _ChatService.isFullyLoaded && _AppStateService.isAuthorized" class="list">
      <h2 class="no-contacts-label" *ngIf="!_ChatService.merchantCount">
        {{ _TranslateProviderService.instant('CHAT.noCompaniesAvailable') }}
      </h2>

      <ng-container *ngFor="let chatThread of _ChatService.chatThreads">
        <ion-item *ngIf="chatThread.userWrapper.merchant" lines="full" class="thread-item">
          <ion-avatar slot="start" class="item-avatar" (click)="viewDetail(chatThread)">
            <img *ngIf="chatThread.userWrapper.displayPicture" [src]="_DomSanitizer.bypassSecurityTrustUrl(chatThread.userWrapper.displayPicture)">
            <img *ngIf="!chatThread.userWrapper.displayPicture" src="../../../assets/job-user.svg">
          </ion-avatar>
          <ion-label (click)="chat(chatThread)">
            <h2 class="item-name">{{ chatThread.userWrapper.username }}</h2>
            <p class="item-previewText" *ngIf="!chatThread.messages || chatThread.messages && chatThread.messages.length == 0">-</p>
            <p class="item-previewText" *ngIf="chatThread.messages && chatThread.messages.length > 0">
              {{ chatThread.lastMessage }}
            </p>
            <p class="item-previewText" *ngIf="chatThread.messages && chatThread.messages.length > 0">
              {{ chatThread.lastMessageDateString }}
            </p>
          </ion-label>
          <ion-badge (click)="chat(chatThread)" slot="end" *ngIf="chatThread.markedAsUnread" class="messages-badge" mode="ios" color="danger">
            {{ chatThread.unreadCount }}
          </ion-badge>
        </ion-item>
      </ng-container>
    </div>

  </div>

</ion-content>
