@import "../../../../theme/index";

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 0 15px 15px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: white;
      font-size: 20px;
      border-radius: 8px;
      width: 100%;

      &--save {
        background: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);
    }
   }
  
  }

ion-item {
    background: none;
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    align-items: center;
    --border-color: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

  .qr-container {
  
    margin: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &-timeout {
      text-align: center;
    }
  }
  
  .qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--ion-text-color);
    background: #fff;
    width: 50vw;
    height: 50vw;
  
    @media (max-height: 568px) {
      width: 25vw;
      height: 25vw;
    }
  
  }
  
  .qr-code {
    width: 100%;
    height: 100%;
  
    opacity: 1;
    transition: opacity 2s linear;
  
    &.is-hidden {
      opacity: 0;
    }
  }
