<ion-card transparent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div style="text-align: center; font-size: 25px;" *ngIf="!!mnemonic">{{ 'SHOWSEED.title' | translate }}</div>
  <div style="text-align: center; font-size: 25px;" *ngIf="!!privateKey">{{ 'SHOWSEED.privateKeyTitle' | translate }}</div>

  <ion-card-content>
    <ion-slides [pager]="true" #slides>
      <ion-slide style="display: block;">
        <div style="text-align: left; font-size: 16px; padding: 20px;">{{ 'SHOWSEED.description' | translate }}</div>
          <div class="qr-container">
            <div class="qr-code-container">
              <ngx-qrcode
                class="qr-code"
                qrc-element-type="url"
                [value]="encryptedMnemonic"
                *ngIf="encryptedMnemonic"
                [ngClass]="{ 'is-hidden': qrCodeIsHidden }"
              >
              </ngx-qrcode>
            </div>
            <p>{{ qrCodeCaptionCountdown }}</p>
          </div>
        
      </ion-slide>
      <ion-slide style="display: block;">
        <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="!!mnemonic">{{ 'SHOWSEED.heading' | translate }}</div>
        <div style="text-align: center; font-size: 20px; padding-left: 10px; padding-right: 10px;" *ngIf="!!mnemonic">{{ mnemonic }}</div>

        <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="!!privateKey">{{ 'SHOWSEED.privateKeyheading' | translate }}</div>
        <div style="text-align: center; font-size: 20px; padding-left: 10px; padding-right: 10px;" *ngIf="!!privateKey">{{ privateKey }}</div>

        <br><br>
        <div class="buttons">
          <div class="button ion-activatable button--save" (click)="copy()">
            <ion-ripple-effect></ion-ripple-effect>
          {{ 'BUTTON.COPY' | translate }}
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
  
</ion-card>