<ion-card transparent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-card-content>
  <div class="content">
    <ion-title>{{ 'WEB3WALLETMODAL.buy-crypto' | translate }}</ion-title>
    <form [formGroup]="form">
      <div class="title">Crypto Amount</div>
      <div class="value input" >
        <input class="input__field" type="number" formControlName="amount" placeholder="0" (ionChange)="onChange()">
      </div>
      <br >
      <div class="title">Crypto Currency</div>
      <div class="value menu-item-select ion-activatable pure-select" >
        <ion-select mode="md"
          class="input__field"
          formControlName="crypto"
          interface="action-sheet"
          [okText]="'SIGNSTEPEIGHT.selectOk' | translate"
          [cancelText]="'SIGNSTEPEIGHT.selectCancel' | translate"
          (ionChange)="onChange()">
          <ion-select-option [value]="currencySelected" *ngFor="let currencySelected of currencySet" [innerHTML]="currencySelected"></ion-select-option>
        </ion-select>
      </div>
      <br >
      <div class="title">Fiat</div>
      <div class="value menu-item-select ion-activatable pure-select" >
        <ion-select mode="md"
          class="input__field"
          formControlName="fiat"
          interface="action-sheet"
          [okText]="'SIGNSTEPEIGHT.selectOk' | translate"
          [cancelText]="'SIGNSTEPEIGHT.selectCancel' | translate"
          (ionChange)="onChange()">
          <ion-select-option [value]="fiatChoice.currency" *ngFor="let fiatChoice of fiatSet" [innerHTML]="returnOption(fiatChoice)"></ion-select-option>
        </ion-select>
      </div>
      <br >

      <div class="title" *ngIf="paymentOptions.length > 0">Payment Option</div>
      <div class="value menu-item-select ion-activatable pure-select" *ngIf="paymentOptions.length > 0">
        <ion-select mode="md"
          class="input__field"
          formControlName="paymentOption"
          interface="action-sheet"
          [okText]="'SIGNSTEPEIGHT.selectOk' | translate"
          [cancelText]="'SIGNSTEPEIGHT.selectCancel' | translate"
          (ionChange)="onChange()">
          <ion-select-option [value]="po.id" *ngFor="let po of paymentOptions" [innerHTML]="po.name"></ion-select-option>
        </ion-select>
      </div>
      <br >
      
      <div style="text-align: center; font-size: 30px">
        <span style="float: left" [innerHTML]="symbol"></span>
        <span style="float: right" [innerHTML]="quote"></span>
        <br>
      </div>
      <br >

      <div class="buttons">
        <div class="button send-button ion-activatable" (click)="processPayment()"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLET.proceed' | translate }}</div>
      </div>
    
      </form>
   </div>
  </ion-card-content>
</ion-card>