ion-content {

  .step {
      width: 100%;
      font-size: .7rem;
      color: var(--ion-text-color);
      margin: 64px 0 6px 0;
  }
  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);    
  } 

  h1 {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 40px;
  }
  
  ion-input {
      border:  1px solid var(--ion-text-color);
  } 

  ion-progress-bar {
    height: 8px;
    --background: var(--ion-color-primary);
    --buffer-background: var(--ion-color-primary);
    --progress-background: var(--ion-color-secondary);    
  }
  .faio-label {
    font-size: .85rem;
  }
}

.password-hint {
  margin-top: 30px;
}

.strength-meter-row {
  position: relative;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: -2px;
  margin-right: -2px;

  ion-col {
      background-color: #DDD; 
      margin-left: 2px; 
      margin-right: 2px; 
      padding: 2px;

  }
  .red {
      background-color: #ff0f0f;
  }
  .green {
      background-color: green;
  }
}

.strength-label {
  font-size: 12px; 
}

.sl-bad {
  color: #ff0f0f;
}

.sl-good {
  color: green;
  font-weight: bold !important;   
}

.password-toggle {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  position: absolute;
  top: 22px;
  right: 0px;
  z-index: 2;
}


.red {
  background-color: #ff0f0f;
}
.green {
  background-color: green;
}

.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}
  