<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

    <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ step }} {{ 'SIGNSTEPS.of' | translate }} 6</div>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    <h1>{{ 'SIGNSTEPTHREE.strong_password' | translate }} </h1>

    <form class="proto-form"
      autocomplete="new-password"
      [formGroup]="signForm">

      <div class="form__fields">

        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="text" name="fakeusernameremembered">
        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="email" name="fakeuseremailremembered">
        <input autocomplete="new-password" style="opacity: 0;position: absolute;" type="password" name="fakepasswordremembered">

        <ion-row class="strength-meter-row ion-align-items-center">
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="red"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 0" class="transparent"></ion-col>

          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="red"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 1" class="transparent"></ion-col>

          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 2" class="transparent"></ion-col>

          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 3" class="transparent"></ion-col>

          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
          <ion-col *ngIf="passwordStrengthInfo.password1Strength == 4" class="green"></ion-col>
        </ion-row>
        <span class="strength-label">{{ passwordStrengthInfo.password1StrengthText }}</span>
        <div class="proto-input">
          <label>
            {{ 'SIGNSTEPONE.password' | translate }}
          </label>
          <ion-input class="proto-input__field"
            [ngClass]="{'error': signProcessing && signForm.controls.password.invalid}"
            name="password"
            formControlName="password"
            (ionFocus)="displayRequirements.password = true"
            (ionBlur)="checkPassword1Strength(); displayRequirements.password = false"
            (keyup.enter)="nextStep()"
            (ionChange)="checkPassword1Strength()"
            [type]="passwordStrengthInfo.password1Type"
            [autofocus]="true"
            placeholder=" "></ion-input>
          <p class="proto-input__requirements password-hint" *ngIf="displayRequirements.password1">
            {{ 'SIGNSTEPONE.REQUIREMENTS.PASSWORD' | translate }}
          </p>
          <ion-button (click)="togglePassword1Visibility()" class="password-toggle" mode="md" fill="clear">
            <ion-icon color="primary" [name]="passwordStrengthInfo.password1Type == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
          </ion-button> 
        </div>
        <!-- <div *ngIf="!passwordStrengthInfo.password1Strength >= 2">
          <span class="strength-label sl-bad" *ngIf="signForm.controls.password.value.length == 0 || 
            signForm.controls.password.value != signForm.controls.passwordConfirm.value">
            {{ passwordStrengthInfo.password2StrengthText }}
          </span>        
          <span class="strength-label sl-good" *ngIf="signForm.controls.password.value.length > 0 && 
            signForm.controls.password.value == signForm.controls.passwordConfirm.value">
            {{ passwordStrengthInfo.password2StrengthText }}
          </span>                         
        </div> -->
      </div>
    </form>
    <!-- Face ID/ Touch ID-->

    <ion-list lines="none" mode="ios">
      <ion-item *ngIf="faioIsAvailable">
        <ion-label [ngClass]="platform.is('android') ? 'faio-label' : ''">{{ 'SECURITY.faio_' + (platform.is('android') ? 'android' : 'ios') | translate }}</ion-label>
        <ion-toggle [(ngModel)]="toggleValue" color="secondary" (ngModelChange)="storeFaio($event)" class="proto-toggle"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="!faioIsAvailable">
        <ion-label [ngClass]="platform.is('android') ? 'faio-label' : ''">{{ 'SECURITY.faio_' + (platform.is('android') ? 'android' : 'ios') | translate }}</ion-label>
        <ion-toggle disabled="true" color="secondary" class="proto-toggle"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
</ion-content>

