@import "../../theme/index";

// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

.innovator-badge {
  @include innovatorBadge();
}

.addIcon {
  float: right;
  padding-right: 20px;
  font-size: 40px;
}

.titles {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.scroll-wrapper {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  background: var(--ion-background-color);
}

app-image-selection {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 35px;
}

.page-header {
    background-color: var(--ion-background-color);
    position: relative;
    display: flex;
    flex-direction: column;
} 
    .page-title {
      position: relative;
      font-size: 32px;
      color: var(--ion-text-color);
      z-index: 1;
      margin: 27px 0 24px 28px;
    }
  
    .profile {
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 1;
      padding-top: 35px;
      height: 170px;
    }
  
    .profile-cover {
      text-align: center;
      display: inline-block;
      width: 111px;
      height: 111px;
      object-fit: cover;
      object-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 5px solid #FFFFFF;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  
  
  
  .search {
    margin: 0 10px;
    ion-searchbar {
      ::ng-deep .searchbar-input-container{
          .searchbar-input{
            --background: var(--ion-background-color);
            --color: var(--ion-text-color);
            padding-right: 60px;
            padding-left: 10px;
            border-bottom: 1px solid var(--ion-text-color);
            border-radius: 0;
            box-shadow: none;
          }
          // ::-webkit-input-placeholder { /* WebKit browsers */
          //   text-transform: lowercase !important;
          // }
          // :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          //     text-transform: lowercase !important;
          // }
          // ::-moz-placeholder { /* Mozilla Firefox 19+ */
          //     text-transform: lowercase !important;
          // }
          // :-ms-input-placeholder { /* Internet Explorer 10+ */
          //     text-transform: lowercase !important;
          // }
          // ::placeholder { /* Recent browsers */
          //     text-transform: lowercase !important;
          // }
          .searchbar-search-icon {
            width: 30px;
            right: 8px;
            left: unset;
          }
          .searchbar-clear-button{
            right: 35px;
          }
      }
    }
  }
  
  
  .page-content {
    background-color: var(--ion-background-color);

    ion-card {
      margin: 10px;
      border-radius: 10px;
      position: relative;
    }

    ion-card-header {
      background-color: var(--ion-color-primary);
      height: 230px;
    }
  
    ion-card-content {
      padding: 5px;
      font-family: "Jost Regular", Helvetica, sans-serif;
      font-size: 15px;
      color: var(--ion-color-dark);
      letter-spacing: 0.1px;
      text-align: center;
    }
    
    .wallet {
      .nav-item-icon {
        i {
          width: 71px;
          height: 71px;
          background-size: cover;
          display: block;
          margin-left: 14px;
          margin-top: 14px;
        }
      }
      .unverifiedWallet {
        background-color: #7385FF;
      }
      .inactiveWallet {
        background-color: #4A4A4A;
      }
      .monitoringWallet {
        background-color: #C727D8;
      }
    }
    
    .wallet2 {
      .nav-item-icon {
        i {
          width: 60px;
          height: 60px;
          background-size: cover;
          display: block;
        }
      }
      .nav-item-heading {
        color: white;
        font-size: 20px;
        display: flex;
        padding-top: 15px;
        padding-left: 10px;
        white-space: nowrap;
      }
      .nav-item-description {
        float: right;
        color: white;
        font-size: 12px;
      }
      .nav-item-address {
        display: flex;
        color: white; 
        font-size: 12px;
        padding-left: 10px;
        text-overflow: ellipsis;
      }
      .unverifiedWallet {
        background-color: #7385FF;
      }
      .inactiveWallet {
        background-color: #4A4A4A;
      }
      .monitoringWallet {
        background-color: #C727D8;
      }
    }

    .addWallet {
      ion-card-header{
        background-color: grey;
        height: 100px;
      }
      .nav-item-icon {
        i {
          background-image: url('../../assets/icon/add-circle-outline-white.svg');
          width: 60px;
          height: 60px;
          background-size: cover;
          display: inline-block;
        }
      }
    }

    

    min-height: 100%;
    // margin: 20px 0 0;
    .vault {
      &__list {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 0;
        overflow-x: scroll;
        background-color: var(--ion-background-color-rgb);
        .item {
          --background: var(--helix-sort-background-color);
          --inner-border-width: 0;
          --inner-padding-bottom: 17px;
          --inner-padding-end: 13px;
          --inner-padding-start: 19px;
          --inner-padding-top: 14px;
          --padding-end: 0;
          --padding-start: 0;
          border-radius: 8px;
          border: 1px solid var(--ion-border-color);
          margin-bottom: 15px;
        }
        &_item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border-bottom: none;
          background-color: var(--helix-sort-background-color);
          .item {
            &__icon {
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/folder.svg");
              margin-right: 25px;
              color: var(--ion-text-color);
            }
            &__frozenicon{
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/folder-frozen.svg");
              margin-right: 25px;
              pointer-events: none;
            }
            &__title {
              font-size: 20px;
              color: var(--ion-text-color);
              &__frozen{
                color: #cdcdcd;
                pointer-events: none;
              }
              .certificates-badge {
                position: absolute;
                top: 30%;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
  
  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    // padding: 10px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      // font-size: 20px;
      border-radius: 8px;
      width: 100%;
    }

   .import-button {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      font-size: 20px;
    }

    .create-button {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      font-size: 20px;
    }

    .new-button {
      background: var(--ion-background-color);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
      font-size: 12px;
    }

    
}

.circle {
  display: inline-flex;
  background-color: var(--ion-background-color);
  justify-content: space-between;
  .tap-button {
    text-align: center;
    padding: 10px 15px;
    background: var(--ion-color-primary);
    border: 3px solid white;
    color: white;
    font-size: 28px;
    border-radius: 130px;
    height: 260px;
    width: 260px;
    padding-top: 60px;
    margin-top: 30px;
  }
}

.modButtons {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  margin-left: 18px;
  margin-top: 20px;
}

.modButtons1 {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 43px;
  width: 43px;
  // margin-left: 9px;
  margin-top: 28px;
}

.modButtons2 {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 43px;
  width: 43px;
  margin-left: 15px;
  margin-top: 28px;
}

.modButtons3 {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  margin-left: 130px;
  margin-top: -100px;
}

.modButtonsN {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  &--inactive {
    background-color: transparent;
    pointer-events: none;
  }
}

.page-sliding {
  ion-grid.cardON {
      background-color: #4284ff;
      border-radius: 10px;
      padding: 10px;
      max-width: 400px !important;
      .msg {
          background-color: #679cff;
      }
  }
  ion-grid.cardOFF {
      background-color: #bbb7b7;
      border-radius: 10px;
      padding: 10px;
      max-width: 400px !important;
      .msg {
          background-color: #d4d4d4;
      }
  }
  .msg {
      float: left;
      padding: 5px;
      padding-right: 8px;
      padding-left: 8px;
      font-size: 0.8em !important;
      color: white;
      border-radius: 5px;
  }
  .number {
      color: white;
      font-size: 1.5em !important;
      line-height: 2em !important;
      text-align: center;
  }
  .digits {
      padding-right: 5%;
      padding-left: 5%;
  }
  .date {
      color: white;
      font-size: 0.8em !important;
  }
  .bank {
      text-align: right;
      color: white;
      font-size: 0.8em !important;
  }
  .ON {
      height: 8px;
      width: 8px;
      background-color: #8de278;
      border-radius: 50%;
      display: inline-block;
      margin-right: 2px;
  }
  .OFF {
      height: 8px;
      width: 8px;
      background-color: #fb5f5f;
      border-radius: 50%;
      display: inline-block;
      margin-right: 2px;
  }
  .brand {
      max-width: 40%;
      float: right;
  }
  .chip {
      img {
          max-width: 50px;
          padding-top: 5%;
          border-radius: 10% !important;
          overflow: hidden;
      }
  }
  ion-icon#power {
      font-size: 2em !important;
  }
  .list-md ion-item-options {
      border-bottom: 0px;
  }
  .item-md {
      font-size: unset;
  }
  .label-md {
      margin: 16px 8px 0px 0;
  }
  .list-ios ion-item-options {
      border-bottom: 0px;
  }
  .item-ios {
      font-size: unset;
  }
  .label-ios {
      margin: 16px 8px 0px 0;
  }
}
