<ion-header mode="ios" class="ion-no-border">
  <div class="page-header"></div>
</ion-header>

  <ion-content [forceOverscroll]="false">

    <div class="ion-padding" class="profile-content">
      <div>
        <h1 class="welcome-title">{{ heading }}</h1>
        <h3 class="access-message">{{ body }}</h3>
        <span *ngFor="let g of displayItems" class="words">
            <span style="color: gray; font-size: 12px;">{{ g.index }}</span>{{ g.value }}
        </span>
        <br><br><br>
        <div class="disclaimer">
            <h1 class="welcome-subtitle">{{ 'WEB3WALLET.STEP4.disclaimer-heading' | translate }}</h1>
            <h3 class="access-message">{{ 'WEB3WALLET.STEP4.disclaimer-body' | translate }}</h3>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
      <div class="page-footer">
        <div class="buttons">
          <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'BUTTON.SKIP' | translate }}</div>
          <div class="button-submit ion-activatable" (click)="confirm()"><ion-ripple-effect></ion-ripple-effect>{{ 'SIGNSTEPFIVE.buttonSuccess' | translate }}</div>
        </div>
      </div>
  </ion-footer>
