@import "../../theme/index";

@include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.header {
  &-avatar {
   @include avatar();
  }
}

.innovator-badge {
  @include innovatorBadge();
}

.scroll-wrapper {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  background: var(--ion-background-color);
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
 
  .page-title {
    position: relative;
    font-size: 32px;
    color: var(--ion-text-color);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }

  .profile {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 55px;
    height: 170px;
  }

  .profile-cover {
    text-align: center;
    display: inline-block;
    width: 111px;
    height: 111px;
    object-fit: cover;
    object-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid var(--ion-border-color);
    background-color: var(--ion-background-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

}
.documentInfo {
  ion-card-content{
    .content{
      padding: 5px;
      .title {
        font-size: 16px;
      }
      .value {
        font-size: 20px;
      }
    }
  }
  padding: 5px;
}
.page-content {
    background-color: var(--ion-background-color);
    min-height: 100%;
    margin: 20px 0 0;

    ion-list {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);  
    }

    ion-card {
      width: 140px;
      margin-left: calc(50% - 70px);
      border-radius: 10px;
      margin-bottom: 20px;
      position: relative;
    }
    
    ion-card-header {
      background-color: var(--ion-color-primary);
      height: 127px;
      
    }
    
    .unavailable {
      opacity: 0.5;
    }
  
    ion-card-content {
      padding: 5px;
      font-family: "Jost Regular", Helvetica, sans-serif;
      font-size: 15px;
      color: var(--ion-color-dark);
      letter-spacing: 0.1px;
      text-align: center;
    }

    .dummy {
      .nav-item-icon {
        i {
          background-image: url('../../assets/helix_user.png');
          width: 60px;
          height: 60px;
          background-size: cover;
          display: block;
          margin-left: 20px;
          margin-top: 15px;
        }
      }
  
    }

    .summy {
      .nav-item-icon {
        ion-img {
          // background-image: url('../../assets/icon/driver-license-flaticon.svg');
          width: 60px;
          height: 60px;
          background-size: cover;
          display: block;
          margin-left: 20px;
          margin-top: 15px;
        }
      }
  
    }

    .car {
      .nav-item-icon {
        ion-img {
          width: 100px;
          height: 100px;
          background-size: cover;
          display: block;
          margin-left: -5px;
          margin-top: -12px;
          zoom: 120%;
        }
      }
    }

    .addDoc {
      ion-card-header{
        background-color: grey;
        height: 127px;
      }
      .nav-item-icon {
        i {
          background-image: url('../../assets/icon/add-circle-outline-white.svg');
          width: 60px;
          height: 60px;
          background-size: cover;
          display: block;
          margin-left: 20px;
          margin-top: 15px;
        }
      }
    }

    .vault {
      &__list {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 0;
        overflow-x: scroll;
        background-color: rgb(247, 247, 247);
        .item {
          --background: #ffffff;
          --border-width: 0;
          --inner-border-width: 0;
          --inner-padding-bottom: 17px;
          --inner-padding-end: 13px;
          --inner-padding-start: 19px;
          --inner-padding-top: 14px;
          --padding-end: 0;
          --padding-start: 0;
          --border-radius: 8px;
          margin-bottom: 15px;
        }
        &_item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border-bottom: none;
          background-color: #ffffff;
          .item {
            &__icon {
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/card-outline-black.svg");
              margin-right: 25px;
              &--default {
                color: #000000;
                svg > path,
                svg > rect {
                  stroke: #000000;
                }
              }
              &--red {
                color: #FA3C50;
                svg > path,
                svg > rect {
                  stroke: #FA3C50;
                }
              }
              &--green {
                color: #11FF87;
                svg > path,
                svg > rect {
                  stroke: #11FF87;
                }
              }
              &--yellow {
                color: #FFD900;
                svg > path,
                svg > rect {
                  stroke: #FFD900;
                }
              }
              &--blue {
                color: #0021FF;
                svg > path,
                svg > rect {
                  stroke: #0021FF;
                }
              }
            }
            &__frozenicon{
              display: flex;
              width: 26px;
              height: 21px;
              background-size: cover;
              background-image: url("../../assets/icon/folder-frozen.svg");
              margin-right: 25px;
              pointer-events: none;
            }
            &__title {
              font-size: 20px;
              &__frozen{
                color: #afafaf;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  field-lock {
    display: block;
    position: relative;
  }

  tooltip-box {
      position: relative;
      display: block;
      z-index: 99;
  }
  
  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    background-color: var(--ion-background-color);;
    padding: 15px 15px 0;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #fff;
      font-size: 15px;
      border-radius: 8px;
      width: 100%;
  
      &--inactive {
        pointer-events: none;
        background: #FF6D7C;
        border: 1px solid #FF6D7C;
      }
      &--disabled {
        pointer-events: none;
        background: #D7D7D7;
        border: 1px solid #D7D7D7;
      }
      &--cancel {
        background: #0021FF;
        border: 1px solid #0021FF;
        &:active {
          background: #7385FF;
          border: 2px solid #7385FF;
      }
    }
   }
   .show-button {
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    font-size: inherit;
    }
  
  .clear-button {
    background: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    font-size: inherit;
    }
  }

  .unavailable {
    opacity: 0.5;
  }

  .badge {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 50px;
    z-index: 3;
  }

  .moreButtonPlace {
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    padding-bottom: 15px;
    padding-left: 20px;
    .moreButton {
      font-size: 25px;
    }
  }