html[mode="ios"] { height: 100vh; }

.debug-state {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 10 * 10000000000000;
}


body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}