<ion-app (click)="lockService.restart()">
  <div *ngIf="powerUserMode && testDisp" class="debug-state" text-center>Counter {{lockService.current}} || Encryption: {{toggleChatEncryption}}</div>
  <ion-router-outlet [swipeGesture]="false"></ion-router-outlet>

  <jeep-sqlite *ngIf="isWeb"></jeep-sqlite>

</ion-app>
