
<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ data.translatedHeader }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-content>
    <div class="content">
      <form [formGroup]="editForm">
        <div class="title">{{ 'SIGNSTEPEIGHT.documentNumber' | translate }}</div>
        <div class="value input" *ngIf="!data.showMode">
          <input class="input__field" type="text" placeholder=" " name="number" formControlName="number">
        </div>
        <div class="value" *ngIf="data.showMode">
          {{ data.additionalData.number }}<br><br>
        </div>
        <div class="title">{{ 'SIGNSTEPEIGHT.issueDate' | translate }}</div>
        <div class="value proto-item menu-item-select pure-select ion-activatable" id="document-selector-date-modal-one" *ngIf="!data.showMode">
          <span class="checkmark"></span>
          <ion-ripple-effect></ion-ripple-effect>
            <ion-modal
              [trigger]="'document-selector-date-modal-one'"
              style="background: transparent"
              backdropDismiss="true"
            >
              <ng-template>
                <ion-content>
                  <ion-datetime
                  (ionChange)="dateTimeManager1($event)"
                  presentation="date"
                  [locale]="timesService.currentLang === 'de' ? 'de-DE':'en-US'  "
                  showDefaultButtons="true"
                  mode="ios"
                  size="cover"
                  displayFormat="D MMM YYYY"
                  min="1922"
                  [max]="timesService.today"
                  [cancelText]="'GENERAL.cancel' | translate"
                  [doneText]="'GENERAL.choose' | translate"
                  [value]="saveObject.issuedate"
                  name="issuedate"
                  formControlName="issuedate"
                  ></ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
        </div>
        <div class="value" *ngIf="data.showMode">
          {{ data.additionalData.issuedate | date:'dd.MM.yyyy' }}<br><br>
        </div>
        <div class="title">{{ 'SIGNSTEPEIGHT.expiryDate' | translate }}</div>
        <div class="value proto-item menu-item-select pure-select ion-activatable" id="document-selector-date-modal-two" *ngIf="!data.showMode">
          <span class="checkmark"></span>
          <ion-ripple-effect></ion-ripple-effect>
       
          <ion-modal
            [trigger]="'document-selector-date-modal-two'"
            style="background: transparent"
            backdropDismiss="true"
          >
            <ng-template>
              <ion-content>
                <ion-datetime
                (ionChange)="dateTimeManager2($event)"
                presentation="date"
                [locale]="timesService.currentLang === 'de' ? 'de-DE':'en-US'  "
                showDefaultButtons="true"
                mode="ios"
                size="cover"
                displayFormat="D MMM YYYY"
                min="1922"
                [max]="2099-10-31"
                [cancelText]="'GENERAL.cancel' | translate"
                [doneText]="'GENERAL.choose' | translate"
                [value]="saveObject.expirydate"
                name="expirydate"
                formControlName="expirydate"
                ></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
        <div class="value" *ngIf="data.showMode">
          {{ data.additionalData.expirydate | date:'dd.MM.yyyy' }}<br><br>
        </div>
        <div class="title">{{ 'SIGNSTEPEIGHT.issueCountry' | translate }}</div>
        <div class="value proto-item menu-item-select pure-select ion-activatable" *ngIf="!data.showMode">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-select
            mode="ios"
            id="select-flag-6"
            class="select"
            formControlName="issuecountry"
            [okText]="'GENERAL.choose' | translate"
            [cancelText]="'GENERAL.cancel' | translate"
            [placeholder]="''">
            <ion-select-option [value]="country.code3" *ngFor="let country of countryList">{{ country.countryTranslateKey | translate }}
          </ion-select-option></ion-select>
        </div>
        <div class="value" *ngIf="data.showMode">
          {{ processCountryDisplay(data.additionalData.issuecountry) }}<br><br>
        </div>
      </form>
    </div>
    <div class="buttons">
      <!-- <div *ngIf="!data.showMode" class="button button--inactive scan-button ion-activatable" tooltip="Coming Soon" [positionV]="topPosition" [event]="tooltipEvent" [duration]="duration" arrow><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.scan' | translate}}</div> -->
      <div *ngIf="!data.showMode" class="button save-button ion-activatable" (click)="save(true)"><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.save' | translate }}</div>
      <!-- <div *ngIf="data.showMode" class="button edit-button ion-activatable" (click)="edit()"><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.edit' | translate }}</div> -->
      <div *ngIf="data.showMode" class="button delete-button ion-activatable" (click)="save(false)"><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.delete' | translate }}</div>
    </div>
    <br>
  </ion-card-content>
</ion-card>