@import "../../../../../theme/index";

ion-card {
  margin-top: 10%;
  background-color: var(--ion-background-color);
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
  
ion-toolbar {
padding-top: 20px;
}

ion-card-content{ 
    
    padding: 10px;
      .title {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 16px;
      }
      .value {
        padding-left: 2.5px;
        padding-right: 2.5px;
        font-size: 20px;
      }
    
  }

.buttons {
    display: flex;
    background-color: var(--ion-background-color);
    padding: 15px 15px 0;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: var(--ion-text-color);
      font-size: 15px;
      border-radius: 8px;
      width: 100%;
  
      &--inactive {
        pointer-events: none;
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
      }
      &--disabled {
        pointer-events: none;
        background: #D7D7D7;
        border: 1px solid #D7D7D7;
      }
      &--cancel {
        background: #BF7B54;
        border: 1px solid #BF7B54;
        &:active {
          background: #7385FF;
          border: 2px solid #7385FF;
        }
      }
    }
  
    .edit-button, .save-button {
      background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: 20px;
    }
  
    .delete-button, .cancel-button {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      color: var(--ion-color-light);
      font-size: 20px;
    }

    .scan-button {
      border: 1px solid var(--ion-color-secondary);
      color: var(--ion-color-light);
      font-size: 20px;
    }
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  
  ion-select{
    --color: var(--ion-color-dark);
    --background: var(--ion-color-light-shade);
  }
  
  ion-input {
    margin-left: 10px;
  }
  
  
  .input, .menu-item-select {
    // margin: 5px 5px 5px 5px;
    width: 100%;
    &__field {
      margin: 10px 0 10px 0;
      margin-top: 0;
      font-size: 16px;
      padding: 5px;
      padding-left: 0;
      display: block;
      width: 100%;
      height: 48px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--ion-border-color);;
      border-radius: 0;
      background-color: transparent !important;
      outline: none;
      &:focus~label,
      &:not(:placeholder-shown)~label {
        top: -10px;
        font-size: 12px;
      }
      &:focus~.bar:after,
      &:focus~.bar:before {
        width: 50%;
      }
      :focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }
    }
  }
  
  .section_divider  {
    ion-label {
      font-weight: bold !important;
      margin-top: 10px !important;
      // margin-bottom: 20px !important;
      font-size: 18px !important;
    }
  }
  
  .pure-select {
    ion-label {
      top: 0;
    }
  }
  
  .proto-item.menu-item-select {
    ion-label {
      position: absolute;
      left: 0;
    }
    margin-right: 0 !important;
  }
  
  .menu-item-select {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-size: 20px;
    letter-spacing: 0.1px;
    height: 38px;
    position: relative;
    margin: 10px 10px 8px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ion-border-color);;
  
    .checkmark {  
      right: 5px;
      top: 50%;
      margin-top: -3px;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      color: currentColor;
      opacity: .33;
      pointer-events: none;
    }
  
    ion-datetime {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      text-align: right;
      --padding-start: 50%;
      --padding-bottom: 5px;
      --text-align: right;
    }
  
  }

  ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }
  ion-modal ion-datetime {
    height: 382px;
  }