<ion-header
  class="page-header ion-no-border"
>
  <app-back-button (click)="goBack()"></app-back-button>
  <div class="profile">
    <img [src]="userPhoto" alt="" class="profile-cover" />
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div
    class="ion-padding"
    class="profile-content"
  >
    <div>
      <h1 class="welcome-title">
        {{ 'VERIFICATION.hello' | translate }}
        <span *ngIf="user.firstname">{{ user?.firstname }}!</span>
      </h1>
      <h3 class="access-message">{{ 'VERIFICATION.title' | translate }}</h3>

      <span
        class="access-texts"
        [ngClass]="{
        'not-verified': verifStatus?.firstname.status !== 1 || verifStatus?.lastname.status !== 1,
        'verified': verifStatus?.firstname.status === 1 && verifStatus?.lastname.status === 1
      }"
      >
        <svg
          width="29px"
          height="27px"
          viewBox="0 0 29 27"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Screens"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
            stroke-linejoin="round"
          >
            <g
              id="Request"
              transform="translate(-34.000000, -405.000000)"
              stroke="#000000"
              stroke-width="1.2"
            >
              <g id="Group-6" transform="translate(35.000000, 406.000000)">
                <g id="Group-5" stroke-linecap="round">
                  <path
                    d="M19.6495615,7.68728649 C19.6495615,11.9330162 16.7169462,15.3741514 13.0996385,15.3741514 C9.48163846,15.3741514 6.54971538,11.9330162 6.54971538,7.68728649 C6.54971538,3.44155676 9.48163846,0.000421621622 13.0996385,0.000421621622 C16.7169462,0.000421621622 19.6495615,3.44155676 19.6495615,7.68728649 Z"
                    id="Stroke-1"
                  ></path>
                  <path
                    d="M8.44892308,13.1579676 C3.50515385,14.2169405 0,16.8752649 0,19.9875351 L0,25.7335351 L26.4336923,25.7335351 L26.4336923,19.9875351 C26.4336923,16.8324 22.8316154,14.1445622 17.7812308,13.1151027"
                    id="Stroke-3"
                  ></path>
                </g>
                <rect
                  id="Rectangle"
                  fill-rule="nonzero"
                  x="17"
                  y="19"
                  width="6"
                  height="2"
                ></rect>
              </g>
            </g>
          </g>
        </svg>
        {{ 'VERIFICATION.name' | translate }} </span
      ><br />
      <span
        class="access-texts"
        [ngClass]="{
        'not-verified': !ageValidator,
        'verified': ageValidator
      }"
      >
        <svg
          width="37"
          height="36"
          viewBox="0 0 37 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.2068 8.85563C28.3753 4.52827 23.5938 1.60362 18.0833 1.40859C9.01792 1.08774 1.41231 8.27592 1.09574 17.4638C0.779171 26.6518 7.87151 34.3602 16.9369 34.681V34.681C22.7878 34.8881 28.0306 31.9673 31.0981 27.3997"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M12.5592 23.6553V11.583L8.94971 15.2413"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.152 17.2697C21.7758 17.2697 23.0922 15.9967 23.0922 14.4264C23.0922 12.856 21.7758 11.583 20.152 11.583C18.5283 11.583 17.2119 12.856 17.2119 14.4264C17.2119 15.9967 18.5283 17.2697 20.152 17.2697Z"
            stroke="black"
            stroke-width="1.2"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.1797 23.9165C22.0777 23.9165 23.6163 22.4285 23.6163 20.593C23.6163 18.7575 22.0777 17.2695 20.1797 17.2695C18.2818 17.2695 16.7432 18.7575 16.7432 20.593C16.7432 22.4285 18.2818 23.9165 20.1797 23.9165Z"
            stroke="black"
            stroke-width="1.2"
          />
          <path
            d="M32.2507 14.1587V21.8416"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M28.4604 18.0001H36.0409"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
        </svg>
        {{ 'VERIFICATION.age' | translate }} </span
      ><br />
      <!-- <span class="access-texts" [ngClass]="{
        'not-verified': verifStatus?.driverlicencedocumentnumber.status !== 1 || !dldateValidatorValue || verifStatus?.driverlicencecountry.status !== 1 || verifStatus?.driverlicenceexpirydate.status !== 1 || verifStatus?.driverlicenceissuedate.status !== 1,
        'verified': verifStatus?.driverlicencedocumentnumber.status === 1 && dldateValidatorValue && verifStatus?.driverlicencecountry.status === 1 && verifStatus?.driverlicenceissuedate.status === 1
      }"> -->
      <span
        class="access-texts"
        [ngClass]="{
        'not-verified': !dlValidator,
        'verified': dlValidator
      }"
      >
        <svg
          width="41"
          height="25"
          viewBox="0 0 41 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1.4"
            y="1.4"
            width="38.622"
            height="22.0652"
            stroke="black"
            stroke-width="1.2"
            stroke-linejoin="round"
          />
          <path
            d="M24.1934 7.78125H34.1934"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M24.1934 12.4336H34.1934"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M24.1934 17.084H34.1934"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.5399 18.6662C16.0798 18.6662 18.9494 15.704 18.9494 12.0499C18.9494 8.39581 16.0798 5.43359 12.5399 5.43359C9.00002 5.43359 6.13037 8.39581 6.13037 12.0499C6.13037 15.704 9.00002 18.6662 12.5399 18.6662Z"
            stroke="black"
            stroke-width="1.2"
          />
          <path
            d="M12.5398 14.0503V18.4552"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="square"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.5401 13.7032C13.3394 13.7032 13.9874 13.0552 13.9874 12.2559C13.9874 11.4566 13.3394 10.8086 12.5401 10.8086C11.7408 10.8086 11.0928 11.4566 11.0928 12.2559C11.0928 13.0552 11.7408 13.7032 12.5401 13.7032Z"
            stroke="black"
            stroke-width="1.2"
          />
          <rect x="6" y="12" width="5" height="1" fill="black" />
          <rect x="14" y="12" width="5" height="1" fill="black" />
        </svg>
        {{ 'VERIFICATION.license' | translate }} </span
      ><br />
      <span
        class="access-texts"
        [ngClass]="{
        'not-verified': !idcardValidator,
        'verified': idcardValidator
      }"
      >
        <svg
          width="41"
          height="25"
          viewBox="0 0 41 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14.893 9.81887C14.893 11.928 13.4168 13.6374 11.5952 13.6374C9.77391 13.6374 8.29736 11.928 8.29736 9.81887C8.29736 7.70976 9.77391 6 11.5952 6C13.4168 6 14.893 7.70976 14.893 9.81887Z"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.2536 12.5361C6.76481 13.0621 5 14.383 5 15.9287V18.7831H18.3087V15.9287C18.3087 14.3617 16.4951 13.0265 13.9527 12.5151"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <rect
            x="1.4"
            y="1.4"
            width="38.1231"
            height="22.0652"
            stroke="black"
            stroke-width="1.2"
            stroke-linejoin="round"
          />
          <path
            d="M23.8975 7.78027H33.7641"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M23.8975 12.4326H33.7641"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
          <path
            d="M23.8975 17.085H33.7641"
            stroke="black"
            stroke-width="1.2"
            stroke-linecap="round"
          />
        </svg>
        {{ 'VERIFICATION.idCard' | translate }} </span
      ><br />
      <!-- <span class="access-texts" [ngClass]="{'not-verified': verificationStatus !== 2, 'verified': verificationStatus === 2}"> -->
      <span class="access-texts" [ngClass]="{'verified': true}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="25px"
          height="25px"
          viewBox="0 0 25 25"
          version="1.1"
        >
          <g id="surface1">
            <path
              style="
                fill: none;
                stroke-width: 1.2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: rgb(0%, 0%, 0%);
                stroke-opacity: 1;
                stroke-miterlimit: 4;
              "
              d="M 47.497304 595.5023 C 47.974376 595.98429 50.600731 598.399159 52.956581 599.254938 C 52.956581 599.254938 55.071436 596.884333 56.094436 596.117083 C 57.01907 595.413771 58.169944 595.261305 59.330655 596.284304 C 60.491367 597.312222 63.334125 600.150063 64.376798 601.674725 C 64.888298 602.422302 65.640792 604.163369 63.988255 605.269979 C 62.330798 606.381507 57.855175 608.201266 51.79587 605.870008 C 46.09068 603.67646 43.56269 601.138634 42.71183 600.287774 C 41.801951 599.372976 39.323144 596.908924 37.129597 591.203734 C 34.798338 585.144429 36.623015 580.668806 37.729625 579.01135 C 38.836235 577.358812 40.577302 578.111307 41.324879 578.622806 C 42.849542 579.665479 45.687382 582.508238 46.7153 583.668949 C 47.738299 584.82966 47.585833 585.980534 46.882521 586.910087 C 46.115271 587.928168 43.744666 590.047941 43.744666 590.047941 C 44.600445 592.398873 47.05466 595.059656 47.497304 595.5023 Z M 47.497304 595.5023 "
              transform="matrix(0.794233,0,0,0.794233,-27.798143,-458.272239)"
            />
          </g>
        </svg>
        {{ 'VERIFICATION.phone' | translate }}
      </span>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="page-footer">
    <div class="buttons">
      <div class="button-reject" (click)="reject()">
        {{ 'VERIFICATION.reject' | translate }}
      </div>
      <div
        class="button-submit"
        [ngClass]="{'button-submit--inactive': verificationStatus!==2}"
        (click)="verificationStatus === 2 && accept()"
      >
        {{ 'VERIFICATION.accept' | translate }}
      </div>
      <!-- <div class="button-submit" [ngClass]="{'button-submit--inactive': verificationStatus !== 2}"
        (click)="verificationStatus === 2 && accept()">{{ 'VERIFICATION.accept' | translate }}</div> -->
    </div>
  </div>
</ion-footer>
