<ion-card transparent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'BUTTON.CANCEL' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <div style="text-align: center; font-size: 25px;">{{ 'FILEBACKUPDISCLAIMER.heading' | translate }}</div>
  <div style="text-align: left; font-size: 16px; padding: 20px;"> {{ 'FILEBACKUPDISCLAIMER.body' | translate }} </div>
  
  <div class="buttons">
    <div class="button ion-activatable" (click)="close()"><ion-ripple-effect></ion-ripple-effect>{{ 'FILEBACKUPDISCLAIMER.button' | translate }}</div>
  </div>

</ion-card>