<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'WALLETCONNECT.session-details' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <div style="text-align: center;">
        <img [src]="profileImage">
      </div>
      <div style="text-align: center; font-size: 30px;">
        {{ peerName }}
      </div>
      <div style="text-align: center; padding: 5px; font-size: 12px;">
        {{ peerAddress }}
      </div>
      <div style="text-align: center; padding: 10px;">
        {{ peerDescription }}
      </div>
      <div *ngFor="let keyv of keyValue">
        <div class="title">{{ keyv.key }}</div>
          <div class="value">
              <span style="float: left; display: contents;">
                {{ keyv.value }}
              </span>
            <br>
          </div>
        <br>   
      </div>
      <div class="buttons">
        <div class="button close-button" (click)="endSession()">
          {{ 'WALLETCONNECT.end-session-button' | translate }}
        </div>
      </div>
    </div>
    
  </ion-card-content>

  
</ion-card>