<ion-card transparent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div style="text-align: center; font-size: 25px;">{{ header }}</div>
  <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="stage != '4'">{{ message }}</div>
  <div style="text-align: left; font-size: 16px; padding: 20px;" *ngIf="stage == '4'">
    {{ 'FILEBACKUPDISCLAIMER.local-body-1' | translate }} <br><br>
    {{ 'FILEBACKUPDISCLAIMER.local-body-2' | translate }}
  </div>

  <div style="text-align: center; font-size: 20px; padding-left: 10px; padding-right: 10px;" *ngIf="!viewLockedContent && stage != '4'" (click)="unlockContent()">
    <ion-skeleton-text animated style="width: 80vw; height: 50px;"></ion-skeleton-text>
  </div>
  <div style="text-align: center; font-size: 20px; padding-left: 10px; padding-right: 10px;" *ngIf="viewLockedContent && stage != '4'" (press)="onPress($event, data)">
    {{ data }}
  </div>

  <br><br>
  
  <div class="buttons" *ngIf="stage != '4'">
    <div class="button ion-activatable button--save" (click)="exportKeys()">
      <ion-ripple-effect></ion-ripple-effect>
    {{ button }}
    </div>
  </div>

  <div class="buttons" *ngIf="stage == '4'">
    <div class="button ion-activatable button--save" (click)="close()">
      <ion-ripple-effect></ion-ripple-effect>
    {{ 'FILEBACKUPDISCLAIMER.local-button-no' | translate }}
    </div>
    <div class="button ion-activatable button--cancel" (click)="socialSharing()">
      <ion-ripple-effect></ion-ripple-effect>
    {{ 'FILEBACKUPDISCLAIMER.local-button-yes' | translate }}
    </div>
  </div>



</ion-card>