<div class="scroll-wrapper">
  <ion-header mode="ios">
    <app-job-header [showBackButton]="false" [userImage]="profilePictureSrc"></app-job-header>
    <div class="page-header">
      <!-- <app-back-button (click)="goBack()"></app-back-button> -->
      <!-- <app-image-selection
        [profilePictureSrc]="profilePictureSrc"
        [editMode]="editMode"
        [showInnovatorBadge]="!editMode"
        (imageChanged)="onImageChanged($event)"
      >
      </app-image-selection> -->

      <h3 class="page-title" *ngIf="!editMode">
        {{ 'TABS.profile-heading' | translate }}
      </h3>
      <h3 class="page-title" *ngIf="editMode">
        {{ 'PERSONALDETAILS.titleAlt' | translate }}
      </h3>
    </div>
   
    <!-- <div class="buttons">
      <div
        class="button edit-button ion-activatable"
        (click)="goToPage('/dashboard/certificates-page')">
        <ion-ripple-effect></ion-ripple-effect>
        {{ 'PROFILE.trusttrace' | translate }}
      </div>
      <div
        class="button cancel-button ion-activatable"
        (click)="goToVerificationOptions()">
        <ion-ripple-effect></ion-ripple-effect>
        {{ 'PERSONALDETAILS.verify' | translate }}
      </div>
    </div> -->
    <!-- <div class="buttons">
      <div
        class="button verify-button ion-activatable"
        (click)="goToPage('/dashboard/requests')">
        <ion-ripple-effect></ion-ripple-effect>
        {{ 'PROFILE.requests' | translate }}
      </div>
      <div
        class="button save-button ion-activatable"
        (click)="goToPage('/dashboard/legal-documents')">
        <ion-ripple-effect></ion-ripple-effect>
        {{ 'PROFILE.legalDocuments' | translate }}
      </div>
    </div> -->
  </ion-header>

  <div class="page-content">

  <ng-container>
    <ion-grid class="ion-no-margin">
      <ion-row style="padding-bottom: 20px;">

        <ion-col size="6" class="ion-text-center categories">
          <ion-card class="ion-no-margin certificates" (click)="goToPage('/dashboard/certificates-page')">
            <ion-card-content class="cardContentStyle">
              <span>{{ 'PROFILE.trusttrace' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-text-center categories">
          <ion-card class="ion-no-margin verify" (click)="goToVerificationOptions()">
            <ion-card-content class="cardContentStyle">
              <span>{{ 'PERSONALDETAILS.verify' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
      
      <ion-row style="padding-bottom: 20px;">

        <ion-col size="6" class="ion-text-center categories">
          <ion-card class="ion-no-margin request" (click)="goToPage('/dashboard/requests')">
            <ion-card-content class="cardContentStyle">
              <span>{{ 'PROFILE.requests' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-text-center categories">
          <ion-card class="ion-no-margin legaldocuments" (click)="goToPage('/dashboard/legal-documents')">
            <ion-card-content class="cardContentStyle">
              <span>{{ 'PROFILE.legalDocuments' | translate }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

    <ng-container *ngIf="!editMode">
      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.name' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value">
              {{ user.title ? ( user.title === '' ? '' : (('TITLES.' +
              user.title.substring(0, user.title.length - 1)) | translate)) : ''
              }} {{ user.firstname ? user.firstname : '' }} {{ user.lastname ? '
              ' + user.lastname : '' }}
            </div>
            <field-lock
              [property1]="user.firstnameStatus"
              [property2]="user.lastnameStatus"
              [match]="true"
            ></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>


      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.date' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value">
              {{ user.dateofbirth | date:'dd.MM.yyyy'}}
            </div>
            <field-lock [property1]="user.dateofbirthStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>

      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.citizenship' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value">
              {{ countryDisplay.citizenship || '' }}
            </div>
            <field-lock [property1]="user.citizenshipStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>

      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.address' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value">
              {{ user.street ? user.street : '' }}
            </div>
            <field-lock [property1]="user.streetStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>

      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.residencecountry' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value">
              {{ countryDisplay.country || '' }}
            </div>
            <field-lock [property1]="user.countryStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>

      <ion-item>
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.email' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value email-address">
              {{ user.email }}
            </div>
            <field-lock [property1]="user.emailStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <div class="helix-border"></div>

      <ion-item *ngIf="user.phoneStatus == 1">
        <div class="vault__list_item">
          <div class="item__title">
            {{ 'PERSONALDETAILS.number' | translate }}
          </div>
          <div class="item__content">
            <div class="item__content_value email-address">
              {{ user.phone }}
            </div>
            <field-lock [property1]="user.phoneStatus"></field-lock>
          </div>
        </div>
      </ion-item>

      <!-- <div class="buttons">
        <div
          class="button edit-button ion-activatable"
          (click)="edit()"
          *ngIf="!editMode"
        >
          <ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.edit' |
          translate }}
        </div>
        <div
          class="button verify-button ion-activatable"
          (click)="goToVerificationOptions()"
          *ngIf="!editMode"
        >
          <ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.verify' |
          translate }}
        </div>
      </div> -->
    </ng-container>

    <form
      class="form page-content--form"
      [hidden]="!editMode"
      [formGroup]="editForm"
    >
      <div class="form__fields">
        <ion-item
          class="proto-item menu-item-select pure-select ion-activatable"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label
            class="proto-label"
            style="width: 100%"
            [ngClass]="{'error': editForm && editForm.controls.title.invalid}"
          >
            {{ 'PERSONALDETAILS.titel' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </ion-label>
          <ion-select
            mode="md"
            class="select"
            formControlName="title"
            [okText]="'SIGNSTEPSIX.selectGenderOk' | translate"
            [cancelText]="'SIGNSTEPSIX.selectGenderCancel' | translate"
            [placeholder]="''"
            [compareWith]="compareWith"
            value="modelUser.title"
            interface="action-sheet"
          >
            <ion-select-option
              [value]="title.value"
              *ngFor="let title of availableTitles"
            >
              {{ 'TITLES.' + title.label | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="helix-border-edit"></div>

        <div class="proto-input">
          <ion-input
            class="proto-input__field"
            [ngClass]="{'error': signProcessing && editForm.controls.firstname.invalid}"
            name="firstname"
            formControlName="firstname"
            type="text"
            placeholder=" "
          >
          </ion-input>
          <label
            class="proto-input__label"
            [ngClass]="{'error': signProcessing && editForm.controls.firstname.invalid}"
          >
            {{ 'SIGNSTEPTWO.firstName' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </label>
        </div>

        <div class="helix-border-edit"></div>

        <div class="proto-input">
          <ion-input
            class="proto-input__field"
            [ngClass]="{'error': signProcessing && editForm.controls.lastname.invalid}"
            name="lastname"
            formControlName="lastname"
            type="text"
            placeholder=" "
          >
          </ion-input>
          <label
            class="proto-input__label"
            [ngClass]="{'error': signProcessing && editForm.controls.lastname.invalid}"
          >
            {{ 'SIGNSTEPTWO.lastName' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </label>
        </div>

        <div class="helix-border-edit"></div>

        <ion-item
          class="proto-item menu-item-select pure-select ion-activatable" id="personal-details-date-modal-one"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label
            class="proto-label"
            style="width: 100%"
            [ngClass]="{'error': editForm && editForm.controls.dateofbirth.invalid}"
          >
            <span> {{ 'PERSONALDETAILS.date' | translate }} </span>
            <span style="float: right"> {{ modelUser.dateofbirth | date:'dd.MM.yyyy'}}</span>
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </ion-label>
          <ion-modal
            [trigger]="'personal-details-date-modal-one'"
            style="background: transparent"
            backdropDismiss="true"
          >
            <ng-template>
              <ion-content>
                <ion-datetime
                color="rose"
                (ionChange)="dateTimeManager($event)"
                presentation="date"
                [locale]="timesService.currentLang === 'de' ? 'de-DE':'en-US'  "
                showDefaultButtons="true"
                mode="ios"
                size="cover"
                displayFormat="D MMM YYYY"
                min="1922"
                [max]="timesService.birthdayMax"
                [cancelText]="'GENERAL.cancel' | translate"
                [doneText]="'GENERAL.choose' | translate"
                [value]="modelUser.dateofbirth"
                name="dateofbirth"
                formControlName="dateofbirth"
                ></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>

        <div class="helix-border-edit"></div>

        <ion-item
          class="proto-item menu-item-select pure-select ion-activatable"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label
            class="proto-label"
            style="width: 100%"
            [ngClass]="{'error': editForm && editForm.controls.citizenship.invalid}"
          >
            {{ 'PERSONALDETAILS.citizenship' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </ion-label>
          <ion-select
            mode="ios"
            id="select-flag-3"
            class="select"
            formControlName="citizenship"
            [okText]="'GENERAL.choose' | translate"
            [cancelText]="'GENERAL.cancel' | translate"
            [placeholder]="''"
          >
            <ion-select-option
              [value]="country.code3"
              *ngFor="let country of signService.countries"
              >{{ country.countryTranslateKey | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="helix-border-edit"></div>

        <div class="proto-input">
          <ion-input
            class="proto-input__field"
            [ngClass]="{'error': signProcessing && editForm.controls.address.invalid}"
            name="address"
            formControlName="address"
            type="text"
            placeholder=" "
          >
          </ion-input>
          <label
            class="proto-input__label"
            [ngClass]="{'error': signProcessing && editForm.controls.address.invalid}"
          >
            {{ 'PERSONALDETAILS.address' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </label>
        </div>

        <div class="helix-border-edit"></div>

        <ion-item
          class="proto-item menu-item-select pure-select ion-activatable"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label
            class="proto-label"
            style="width: 100%"
            [ngClass]="{'error': editForm && editForm.controls.residencecountry.invalid}"
          >
            {{ 'PERSONALDETAILS.residencecountry' | translate }}
            <!-- <app-mandatory-field-indicator></app-mandatory-field-indicator> -->
          </ion-label>
          <ion-select
            mode="ios"
            id="select-flag-1"
            class="select"
            formControlName="residencecountry"
            [okText]="'GENERAL.choose' | translate"
            [cancelText]="'GENERAL.cancel' | translate"
            [placeholder]="''"
          >
            <ion-select-option
              [value]="country.code3"
              *ngFor="let country of signService.countries"
              >{{ country.countryTranslateKey | translate }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="helix-border-edit"></div>
      </div>
    </form>
    <div class="buttons buttons-bottom">
      <div
        class="button cancel-button ion-activatable"
        (click)="cancel()"
        *ngIf="editMode"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'SETTINGS.cancel' | translate
        }}
      </div>
      <div
        class="button save-button ion-activatable"
        (click)="save()"
        *ngIf="editMode"
      >
        <ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.save' |
        translate }}
      </div>
    </div>

    <ng-container>

      <ion-grid class="ion-no-margin">
        <ion-row class="ion-margin-vertical">

          <ion-col size="6" class="ion-text-center" *ngIf="displayDocumentCard.residencepermit">
            <ion-card class="ion-no-margin residencepermit" [ngClass]="{ 'unavailable' : !documentDisplay.residencepermit }" (click)="showModal('RESIDENCE_PERMIT')">
              <ion-icon *ngIf="allVerified.residencepermit" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'PERSONALDETAILS.radioResidencePermit' | translate }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-text-center" *ngIf="displayDocumentCard.passport">
            <ion-card class="ion-no-margin passport" [ngClass]="{ 'unavailable' : !documentDisplay.passport }" (click)="showModal('PASSPORT')">
              <ion-icon *ngIf="allVerified.passport" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'PERSONALDETAILS.radioPassport' | translate }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-text-center" *ngIf="displayDocumentCard.idcard">
            <ion-card class="ion-no-margin idcard" [ngClass]="{ 'unavailable' : !documentDisplay.idcard }" (click)="showModal('ID_CARD')">
              <ion-icon *ngIf="allVerified.idcard" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'PERSONALDETAILS.radioIDCard' | translate }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-text-center" *ngIf="displayDocumentCard.driverlicence">
            <ion-card class="ion-no-margin driverlicence" [ngClass]="{ 'unavailable' : !documentDisplay.driverlicence }" (click)="showModal('DRIVERS_LICENSE')">
              <ion-icon *ngIf="allVerified.driverlicence" class="badge" src="../../assets/icon/shield.svg"></ion-icon>
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'PERSONALDETAILS.radioDL' | translate }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-container>
  </div>
</div>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
