@import "../../theme/index";

// @include header-before-after-animation(
//   getRandomNumberInRange($startKey, $endKey, 1, false),
//   getRandomNumberInRange(30, 40, 1, false)
// );

.innovator-badge {
  @include innovatorBadge();
}

.badge {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 50px;
  z-index: 3;
}

app-image-selection {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 35px;
}

.email-address {
  max-width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

.scroll-wrapper {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  background: var(--ion-background-color);
}

.save-button,
.edit-button {
  background: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-light);
}

.cancel-button,
.verify-button {
  background: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-light);
}

.page-content {
  background: var(--ion-background-color);
  margin-bottom: 50px;
}

.form__fields {
  background: var(--ion-background-color);
}

.buttons-bottom {
  margin-top: 20px;
}

ion-select {
  --color: var(--ion-text-color);
  --background: var(--ion-background-color);
}

ion-item {
  --background: var(--ion-background-color);
  --inner-padding-start: 0;
  --border-width: 0;
  --inner-border-width: 0;
}

.vault__list_item {
  margin-bottom: 32px;
}

.helix-border,
.helix-border-edit {
  border-bottom: 1px solid var(--helix-border-color);
  background: var(--ion-background-color);
  height: 2px;
}

.helix-border {
  margin: 0 14px 0 14px;
}

// .menu-item-select {
//   ion-label {
//     position: absolute;
//   }
//   ion-datetime {
//     width: 100%;
//   }
// }

.form__fields {
  .input,
  .menu-item-select {
    margin: 10px 10px 32px 0;
  }
  ion-item {
    --padding-start: 0;
    --background: var(--ion-background-color);
    --border-width: 0;
    --inner-border-width: 0;
  }
  .page-content & .input__label.top {
    top: -8px;
    font-size: 14px;
  }

  background: var(--ion-background-color);
}

.section_divider {
  ion-label {
    font-weight: bold !important;
    margin-top: 20px !important;
    // margin-bottom: 20px !important;
    font-size: 18px !important;
  }
}

.pure-select {
  ion-label {
    top: 0;
  }
}

.proto-item.menu-item-select {
  ion-label {
    position: absolute;
    left: 0;
  }
  margin-right: 0 !important;
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-primary);
  //   top: -430px;
  //   left: -90px;
  //   transform: translate3d(0, 0, 0);
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 616px;
  //   height: 616px;
  //   border-radius: 50%;
  //   background-color: var(--ion-color-secondary);
  //   top: -490px;
  //   left: -170px;
  //   transform: translate3d(0, 0, 0);
  // }

  .page-title {
    position: relative;
    font-size: 32px;
    color: var(--ion-text-color-rgb);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }

  .profile-cover {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: #fff;
    &--edit {
      background-image: url("../../assets/_ionicons_svg_md-create.svg")
        no-repeat center;
      z-index: 3;
    }
  }
}

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  margin-top: 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 8px;
    width: 48%;

    &--inactive {
      pointer-events: none;
      background: var(--ion-color-secondary-tint);
      border: 1px solid var(--ion-color-secondary-tint);
    }
    &--disabled {
      pointer-events: none;
      background: var(--ion-color-secondary-tint);
      border: 1px solid var(--ion-color-secondary-tint);
    }
    &--cancel {
      background: var(--ion-color-secondary);
      border: 1px solid var(--ion-color-secondary);
      &:active {
        background: var(--ion-color-secondary-tint);
        border: 2px solid var(--ion-color-secondary-tint);
      }
    }
  }
 }


.search {
  margin: 0 10px;
  ion-searchbar {
    ::ng-deep .searchbar-input-container {
      .searchbar-input {
        --background: transparent;
        padding-right: 60px;
        padding-left: 10px;
        border-bottom: 1px solid var(--ion-border-color);
        border-radius: 0;
      }
      .searchbar-search-icon {
        width: 30px;
        right: 8px;
        left: unset;
      }
      .searchbar-clear-button {
        right: 35px;
      }
    }
  }
}

.page-content {
  background: var(--ion-background-color);
  min-height: 100%;
  // margin: 20px 0 0;
  &--form {
    background: var(--ion-background-color);
    min-height: 100%;
    margin: 20px 0 0;
  }
  .vault {
    &__list {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 0;
      overflow-x: scroll;
      background-color: var(--ion-background-color-rgb);
      .item {
        --background: transperent;
        --border-width: 0;
        --inner-border-width: 0;
        --inner-padding-bottom: 17px;
        --inner-padding-end: 13px;
        --inner-padding-start: 19px;
        --inner-padding-top: 14px;
        --padding-end: 0;
        --padding-start: 0;
        --border-radius: 8px;
        margin-bottom: 0;
      }
      &_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        // border-bottom: 1px solid rgb(117, 117, 117);
        width: 100%;
        .item {
          &__title {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            width: 95%;
            &_value {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  ion-card {
    width: 140px;
    margin-left: calc(50% - 70px);
    border-radius: 10px;
    position: relative;
  }
  
  ion-card-header {
    background-color: var(--ion-color-primary);
    height: 127px;
    
  }
  
  .unavailable {
    opacity: 0.5;
  }

  ion-card-content {
    padding: 5px;
    font-family: "Jost Regular", Helvetica, sans-serif;
    font-size: 15px;
    color: var(--ion-color-dark);
    letter-spacing: 0.1px;
    text-align: center;
  }

  .cardContentStyle {
    top: 130px;
    color: white;
    background: rgba(11,11,11,0.8);
  }

  .categories {
    
    .certificates {
      width: 160px;
      height: 160px;
      margin-left: calc(50% - 75px);
      background-image: url('../../assets/icon/profile/_16de6bf5-9d29-459f-9b8f-dba6d4f126c5.jpeg');
      background-size: cover;
      display: block;
    }
    .verify {
      width: 160px;
      height: 160px;
      margin-left: calc(50% - 75px);
      background-image: url('../../assets/icon/profile/_a7874b62-572e-401e-903b-fd9edeb0ff58.jpeg');
      background-size: cover;
      display: block;
    }
    .request {
      width: 160px;
      height: 160px;
      margin-left: calc(50% - 75px);
      background-image: url('../../assets/icon/profile/_4b5f8ef0-0273-4201-9bdd-801346125263.jpeg');
      background-size: cover;
      display: block;
    }
    .legaldocuments {
      width: 160px;
      height: 160px;
      margin-left: calc(50% - 75px);
      background-image: url('../../assets/icon/profile/_3e62f598-26db-4a48-924f-530f1e2543be.jpeg');
      background-size: cover;
      display: block;
    }
  }

  

  .passport {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/reisepass.svg');
        width: 57px;
        height: 80px;
        background-size: cover;
        display: block;
        margin-left: 20px;
        margin-top: 5px;
      }
    }

  }

  .driverlicence {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/fuehrerschein.svg');
        width: 87px;
        height: 52px;
        background-size: cover;
        display: block;
        margin-left: 5px;
        margin-top: 15px;
      }
    }

  }

  .residencepermit {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/aufenthaltserlaubnis.svg');
        width: 87px;
        height: 52px;
        background-size: cover;
        display: block;
        margin-left: 5px;
        margin-top: 15px;
      }
    }

  }

  .idcard {
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/personalausweis.svg');
        width: 87px;
        height: 52px;
        background-size: cover;
        display: block;
        margin-left: 5px;
        margin-top: 15px;
      }
    }
  }
  .addDoc {
    ion-card-header{
      background-color: grey;
      height: 127px;
    }
    .nav-item-icon {
      i {
        background-image: url('../../assets/icon/add-circle-outline-white.svg');
        width: 60px;
        height: 60px;
        background-size: cover;
        display: block;
        margin-left: 20px;
        margin-top: 15px;
      }
    }
  }

  .form {
    margin: 0 15px 20px;
    padding-top: 0;
    @media only screen and (max-width: 320px) {
      margin: 0 15px 5px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      margin: 0 15px 5px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 0 15px 20px;
      padding-top: 0;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
      margin: 0 15px 10px;
      padding-top: 0;
    }
    &__fields {
      display: flex;
      flex-direction: column;
      .menu-item-select {
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.1px;
        height: 38px;
        position: relative;
        padding: 0;
        margin: 10px 10px 8px 0;
        justify-content: space-between;
        align-items: center;

        .checkmark {
          right: 5px;
          top: 50%;
          margin-top: -3px;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 5px solid;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: currentColor;
          opacity: 0.33;
          pointer-events: none;
        }

        ion-datetime {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          min-width: 100%;
          text-align: right;
          --padding-start: 50%;
          --padding-bottom: 5px;
          --text-align: right;
        }
      }
      .input {
        position: relative;
        margin: 5px 10px 10px 0;
        padding-left: 0;
        @media only screen and (max-width: 320px) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
          margin: 5px 10px 10px 0;
        }
        &__field {
          margin: 10px 0 10px 0;
          margin-top: 0;
          font-size: 16px;
          padding: 5px;
          padding-left: 0;
          display: block;
          width: 100%;
          height: 48px;
          background-color: transparent;
          border: none;
          // border-bottom: 1px solid #757575;
          border-radius: 0;
          background-color: transparent !important;
          outline: none;
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -10px;
            font-size: 12px;
          }
          &:focus ~ .bar:after,
          &:focus ~ .bar:before {
            width: 50%;
          }
          :focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
          }
        }
        &__label {
          color: var(--ion-text-color);
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 14px;
          font-size: 12px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}

.error {
  color: #733122 !important;
}

tooltip-box {
  // position: absolute;
  position: relative;
  top: 0;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}
ion-modal ion-datetime {
  height: 382px;
}
