<ion-card transparent>
  <ion-toolbar>
    <!-- <ion-title *ngIf="data.new">{{ 'WALLET.importWallet' | translate }}</ion-title>
    <ion-title *ngIf="!data.new">{{ 'WALLET.walletInformation' | translate }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "CERTIFICATES.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-title>
    <div class="profile">
      <!-- <ion-avatar class="header-avatar">
        <img #profileImg [src]="icon">
      </ion-avatar> -->
      <div *ngIf="data.new" style="text-align: center; font-size: 25px">
        {{ "WALLET.importWallet" | translate }}
      </div>
      <div *ngIf="!data.new" style="text-align: center; font-size: 25px">
        {{ "WALLET.walletInformation" | translate }}
      </div>
    </div>
  </ion-card-title>

  <ion-card-content *ngIf="data.new">
    <div class="content">
      <form [formGroup]="form">
        <div style="font-size: 20px">{{ "WALLET.uniqueName" | translate }}</div>
        <ion-item class="textform" lines="none">
          <ion-textarea
            formControlName="name"
            rows="1"
            placeholder="Wallet Name"
          ></ion-textarea>
        </ion-item>
        <br /><br />
        <div style="font-size: 20px">
          {{ "WALLET.enterMnemonic" | translate }}
        </div>
        <ion-item class="textform" lines="none">
          <ion-textarea
            formControlName="mnemonic"
            rows="4"
            placeholder="Wallet Mnemonic"
          ></ion-textarea>
        </ion-item>
      </form>
      <br /><br />
      <div class="buttons">
        <div class="button ion-activatable" (click)="import()">
          <ion-ripple-effect></ion-ripple-effect
          >{{ "WALLET.import" | translate }}
        </div>
      </div>
    </div>
  </ion-card-content>

  <ion-card-content *ngIf="!data.new">
    <div class="content">
      <div style="text-align: center; font-size: 30px">
        {{ data.account.heading }}
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">Address</ion-col>
          <ion-col size="6">{{ data.account.publicKey }}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngFor="let dn of data.account.network">
        <ion-item-divider mode="md">
          Network: {{ dn.name }} (chainId: {{ dn.chainid }})
        </ion-item-divider>
        <ion-row>
          <ion-col size="6">ENS</ion-col>
          <ion-col size="6" *ngIf="dn.ens">{{ dn.ens }}</ion-col>
          <ion-col size="6" *ngIf="!dn.ens"
            ><ion-spinner></ion-spinner
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Balance</ion-col>
          <ion-col size="6" *ngIf="dn.balance != null"
            >{{ dn.balance }} {{ dn.currency }}</ion-col
          >
          <ion-col size="6" *ngIf="dn.balance == null"
            ><ion-spinner></ion-spinner
          ></ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="6">Last Transaction: blockNumber</ion-col>
          <ion-col size="6" *ngIf="dn.lastTransaction.blockNumber">{{ dn.lastTransaction.blockNumber }}</ion-col>
          <ion-col size="6" *ngIf="!dn.lastTransaction.blockNumber"><ion-spinner></ion-spinner></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Last Transaction: blockHash</ion-col>
          <ion-col size="6" *ngIf="dn.lastTransaction.blockHash">{{ dn.lastTransaction.blockHash }}</ion-col>
          <ion-col size="6" *ngIf="!dn.lastTransaction.blockHash"><ion-spinner></ion-spinner></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Last Transaction: timeStamp</ion-col>
          <ion-col size="6" *ngIf="dn.lastTransaction.timeStamp">{{ dn.lastTransaction.timeStamp }}</ion-col>
          <ion-col size="6" *ngIf="!dn.lastTransaction.timeStamp"><ion-spinner></ion-spinner></ion-col>
        </ion-row> -->
      </ion-grid>
      <br *ngIf="!data.account.primary" />
      <br *ngIf="!data.account.primary" />
      <div class="buttons" *ngIf="!data.account.primary">
        <div class="delete ion-activatable" (click)="deleteWallet()">
          <ion-ripple-effect></ion-ripple-effect>Delete
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
