<ion-header mode="ios" class="header">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"
      *ngIf="goBack"
      (click)="goBack()">
      <ion-icon name="arrow-back-sharp" mode="ios" class="back"
        *ngIf="!iconName"
      ></ion-icon>
      <ion-icon name="close" mode="ios" class="back"
        *ngIf="iconName === 'close'"
      ></ion-icon>
    </ion-buttons>
    <ion-icon class="logo"
      #helix
      src="../../../../assets/Jobgrader_App.svg"
      *ngIf="!title">
    </ion-icon>
    <h1 style="margin: 0 auto; padding-left: 5px; padding-bottom: 3px; height: 59px; display: flex; align-items: center; color: #FA3D50;"
      *ngIf="title">
      {{ title }}
    </h1>
  </ion-toolbar>
  <!-- <div class="element"></div> -->
  <div class="progress-bar"
    [ngStyle]="{'opacity': progressBar ? 1 : 0 }">
    <div class="percentage" 
      [style.width.%]="percentage">
    </div>
  </div>
</ion-header>
