.header {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  padding: 25px;
  // padding-top: calc(12.5px + var(--ion-safe-area-top));
  padding-bottom: 10px;
  padding-left: 12px;
}

@keyframes element-animation {
  0% {
    transform: translateX(calc(-250px/2 + 250px/2));
  }
  50% {
    transform: translateX(calc(250px/2));
  }
  100% {
    transform: translateX(calc(-250px/2 + 250px/2));
  }
}
.element {
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 250px;
  height: 250px;
  background-size: 250px;
  background-image: url("../../../../assets/red-circle.svg");
  background-repeat: no-repeat;

  animation: element-animation 60s infinite;
  animation-timing-function: ease-in-out;
}

.toolbar {
  --background: transparent;
  --padding-top: 5px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 5px;
  --border-style: none;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.back {
  font-size: 40px;
  height: 26px;
  margin-left: -12px;
}

.logo {
  margin-top: 5px;
  font-size: 65px;
  height: 40px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: var(--ion-color-primary);
}

.percentage {
  height: 100%;
  background: var(--ion-color-secondary);
  transition: width 5s ease;
}