<div class="overlay-select" (click)="openSelect($event)"></div>
<ion-item class="proto-item menu-item-select ion-activatable" >
  <ion-ripple-effect></ion-ripple-effect>
  <ion-label style="width: 150px;" [ngClass]="{'error': required && control && control.invalid}">{{label}}</ion-label>
  <ion-select
          #select
          appTabIndex="5"
          id="select-flag-1"
          class="select-box"
          (ionChange)="selectChange($event)"
          [okText]="'GENERAL.ok' | translate"
          [cancelText]="'GENERAL.cancel' | translate"
          [placeholder]="''">
    <ion-select-option [value]="country.code3"
                       *ngFor="let country of countryList">
      {{ country.countryTranslateKey | translate }}
    </ion-select-option>
  </ion-select>
</ion-item>
