.proto-item.menu-item-select {
  ion-label {
    position: absolute;
    left: 0;
  }
}

.overlay-select {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.menu-item-select {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-size: 20px;
  letter-spacing: 0.1px;
  height: 38px;
  position: relative;
  margin: 10px 10px 8px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(117, 117, 117);

  .checkmark {
    right: 5px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: currentColor;
    opacity: .33;
    pointer-events: none;
  }
}
