<ng-container>
  <h1 class="heading">
    {{ 'QRSCAN.contact-addition.part1' | translate}}{{ displayHelixUsername }}{{ 'QRSCAN.contact-addition.part2' | translate}}
  </h1>
  <ion-avatar class="avatar">
    <img *ngIf="!image" src="../../assets/job-user.svg">
    <img *ngIf="image" [src]="_DomSanitizer.bypassSecurityTrustUrl(image)">    
  </ion-avatar>

  <div class="ion-padding ion-text-center" *ngIf="isLoading">
    <ion-spinner name="lines" color="dark"></ion-spinner>
  </div>

  <div class="button-container" *ngIf="!isLoading">
    <div class="contact-add-modal-button contact-add-modal-button--disabled" style="height: 38px;" (click)="cancel()">
      {{ 'BUTTON.CANCEL' | translate }}
    </div>
  </div>
  <div *ngIf="!isLoading" class="contact-add-modal-button" style="height: 38px; color: white;" (click)="add()">
    {{ 'BUTTON.ADD' | translate }}
  </div>
</ng-container>
