:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 12.5px;
}

.heading {
  margin: 25px 0;
  text-align: center;
  max-width: 90%;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contact-add-modal-button {
  width: 100%;
	min-width: 0;
  margin: 5px;
  background: var(--ion-color-primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid transparent;
  &--disabled {
  	border: 2px solid grey;
		color: grey;
		background: transparent;
  }
}
