<ion-header mode="ios" class="ion-no-border">
  <div class="page-header"></div>
</ion-header>

<ion-content [forceOverscroll]="false">

    <div class="ion-padding" class="profile-content">
      <div style="text-align: center;">
        <h1 class="welcome-title">{{ 'WEB3WALLET.STEP1.heading' | translate }}</h1>
        <div style="text-align: center; padding: 15px;">
            <img style="height: 100px;" [src]="icon">
        </div>
        <h3 class="access-message">{{ 'WEB3WALLET.STEP1.body' | translate }}</h3>
      </div>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
      <div class="page-footer">
        <div class="buttons">
          <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'WEB3WALLET.STEP1.button-no' | translate }}</div>
          <div class="button-submit ion-activatable" (click)="confirm()"><ion-ripple-effect></ion-ripple-effect>{{ 'WEB3WALLET.STEP1.button-yes' | translate }}</div>
        </div>
      </div>
  </ion-footer>
