<ion-card transparent>
  <ion-toolbar>
    <ion-title>PIN</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <form [UntypedFormGroup]="setPinForm">
    <div class="title">{{ 'PIN.form-new-pin' | translate }}</div>
    <div class="value input" >
      <input formControlName="newPin" name="newPin" placeholder=" " maxLength="5" [type]="visibility.input1" class="input__field">
      <ion-button (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
        <ion-icon [name]="visibility.input1 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </div>

    <div class="title">{{ 'PIN.form-confirm-new-pin' | translate }}</div>
    <div class="value input" >
      <input formControlName="confirmPin" name="confirmPin" placeholder=" " maxLength="5" [type]="visibility.input2" class="input__field">
      <ion-button (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
        <ion-icon [name]="visibility.input2 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </div> -->
    
    
    <!-- <ion-item>
      <ion-input 
      formControlName="newPin" 
      name="newPin" 
      placeholder="Enter new PIN" 
      maxLength="5" 
      [type]="visibility.input1"></ion-input>
      <ion-button (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
        <ion-icon [name]="visibility.input1 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </ion-item> -->
    <!-- <ion-item>
      <ion-input 
      formControlName="confirmPin" 
      name="confirmPin" 
      placeholder="Confirm new PIN" 
      maxLength="5" 
      [type]="visibility.input2"></ion-input>
      <ion-button (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
        <ion-icon [name]="visibility.input2 == 'password' ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
      </ion-button>
    </ion-item> -->
    <!-- <br><br>
    <div class="buttons">
      <div class="button save-button ion-activatable" (click)="savePin()"><ion-ripple-effect></ion-ripple-effect>{{ 'PERSONALDETAILS.save' | translate }}</div>
    </div>
  </form> -->

  <h1 class="proto-title" *ngIf="step == steps.step1">
    {{ 'PIN.form-new-pin' | translate }}
  </h1>
  <code-input *ngIf="step == steps.step1" #codeInput1 [isCodeHidden]="visibility.input1"
    [codeLength]="5"
    (codeChanged)="onCodeChanged1($event)"
    (codeCompleted)="onCodeCompleted1($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step1" (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input1 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>

  <h1 class="proto-title" *ngIf="step == steps.step2">
    {{ 'PIN.form-confirm-new-pin' | translate }}
  </h1>
  <code-input *ngIf="step == steps.step2" #codeInput2 [isCodeHidden]="visibility.input2"
    [codeLength]="5"
    (codeChanged)="onCodeChanged2($event)"
    (codeCompleted)="onCodeCompleted2($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step2" (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input2 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>



</ion-card>