<ion-header mode="ios">
  <app-job-header [showBackButton]="false" [userImage]="profilePictureSrc"></app-job-header>
  <!-- <h3 class="page-title"> {{ 'TABS.wallet' | translate }} <ion-icon *ngIf="!tapToInitiate && _AppStateService.isAuthorized" class="addIcon" name="add-circle-outline" (click)="showOptions()"></ion-icon> </h3> -->
</ion-header>

<ion-content>
  <!-- <div class="page-content" scroll-y="false"> -->
  <div class="page-content">
    <!-- <div class="page-title">
      {{ 'HOME.hello' | translate }} {{ user?.callname}}!
    </div> -->
    <ion-grid>
      <ion-row>
        <!-- <ion-col class="jobInfo1" size="4" *ngFor="let key of keys">
          <div class="dashboard-key">
            {{ 'HCAPTCHA_DASHBOARD.' + key | translate }}
          </div>
          <div class="dashboard-value">
            {{ dashBoardData[key] }}
          </div>
        </ion-col> -->
        <ion-col size="4">
          <div class="jobInfo">
            <div class="dashboard-key">
              {{ 'HCAPTCHA_DASHBOARD.new-jobs' | translate }}
            </div>
            <div class="dashboard-value">
              0
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="jobInfo">
            <div class="dashboard-key">
              {{ 'HCAPTCHA_DASHBOARD.open-tasks' | translate }}
            </div>
            <div class="dashboard-value">
              0
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="jobInfo" (click)="openNews()">
            <div class="dashboard-key">
              {{ 'HCAPTCHA_DASHBOARD.news' | translate }}
            </div>
            <div class="dashboard-value">
              {{ _Broadcast._Messages.length }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-user-navigation
      [profilePictureSrc]="profilePictureSrc"
      (onNavigation)="navigationHandler($event)"
    ></app-user-navigation>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="jobInfo">
            <div class="dashboard-key">
              {{ 'HCAPTCHA_DASHBOARD.solved-tasks' | translate }}
            </div>
            <div class="dashboard-value">
              {{ dashBoardData.solved }}<br><br>
              <span style="color: green; font-size: 12px;">
                {{ percentageJobNumbers }}
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="jobInfo">
            <div class="dashboard-key">
              {{ 'HCAPTCHA_DASHBOARD.tokens-earned' | translate }}
            </div>
            <div class="dashboard-value">
              HMT <br>{{ dashBoardData.total }}<br>
              <span style="color: green; font-size: 12px;">
                {{ percentagePayment }}
              </span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="jobInfo">
            <div id="legend"></div>
            <div id="demo"></div>
            <div id="leaderboard"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- <ion-alert
              *ngIf="displayAlert"
              header="KYC_CHECK"
              [subHeader]="displayTime"
              message="It seems that you have just gone through a KYC process. The app is waiting for the latest KYC results."
              [buttons]="alertButtons"
            ></ion-alert> -->