@import "../../theme/index";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

// ion-content {
//     --overflow: hidden;
// }

img {
  object-fit: cover;
}

.jobInfo {
  background-color: var(--ion-pitch);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  color: var(--ion-text-color);
  #legend {
    width: 50%;
    float: left;
  }
  #demo {
    float: right;
  }
}

.dashboard-value {
  text-align: center; 
  font-size: 20px;
  color: var(--ion-text-color);
}

.dashboard-key {
  text-align: center; 
  font-size: 12px;
  // color: var(--ion-text-color);
}

.innovator-badge {
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 40px;
}

.description-container {
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: left;
  padding-left: 8px;
}

.feedback-button-container {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
} 

.page-title {
  position: relative;
  font-size: 32px;
  color: var(--ion-text-color);
  z-index: 1;
  margin: 27px 0 24px 28px;
}

.profile {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  height: 170px;
}

.profile-cover {
  text-align: center;
  display: inline-block;
  width: 111px;
  height: 111px;
  object-fit: cover;
  object-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px solid #FFFFFF;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.button {
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 20px;
  background: var(--ion-color-secondary);
  border-radius: 8px;
  width: 90%;
  border: 1px solid var(--ion-color-secondary);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.shortcutClass {
  text-align: center;
  border-radius: 50%;
  background-color: #733122;
  border: 4px solid #fff;
  width: 60px;
  height: 60px;
  margin-left: 8px;

img {
  margin-top: 10px;
  margin-left: 10px;
}

}

.shortcutException {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-tertiary);
  border: 4px solid #fff;
  width: 60px;
  height: 60px;
  margin-left: 8px;
  img {
    border-radius: 50%;
  }
}





// .nav {
//   $breakpoint-iphone5orOldSE: 320px;
//   $breakpoint-iphone678_SE2020_X: 375px;
//   $breakpoint-iphone678Plus: 414px;

//   @media (min-width: $breakpoint-iphone5orOldSE) {
//     background-color: red;
//     transform: scale(0.8);
//   }

//   @media (min-width: $breakpoint-iphone678_SE2020_X) {
//     background-color: green;
//     transform: scale(0.9);
//   }

//   @media (min-width: $breakpoint-iphone678Plus) {
//     background-color: blue;
//     transform: scale(1);
//   }
// }
