<ion-card transparent>
  <ion-toolbar>
    <!-- <ion-title>{{ 'WALLET.paymentRequest' | translate }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons>
    
  </ion-toolbar>

  <ion-card-title>
    <div class="profile">

      <ion-title>{{ 'WALLET.paymentRequest' | translate }}</ion-title>
      <br>

      <ion-avatar class="header-avatar">
        <img #profileImg [src]="icon">
      </ion-avatar>
    </div>
  </ion-card-title>


  <ion-card-content>

    <div class="content">

      <div style="text-align: center; font-size: 30px;">{{ data.amount }} {{ data.currency }}</div>

      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngIf="!done">{{ 'WALLET.sender' | translate }}</ion-col>
          <ion-col size="6" *ngIf="done">{{ 'WALLET.receiver' | translate }}</ion-col>
          <ion-col size="6">{{ data.userPublicKey }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Timestamp</ion-col>
          <ion-col size="6">{{ data.timestamp | date:'dd.MM.yyyy HH:mm' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-spinner *ngIf="waiting"></ion-spinner>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="buttons" *ngIf="data.status == 0 && !done">
        <div class="button ion-activatable" *ngIf="!waiting" (click)="check()"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLET.check' | translate }}</div>
        <div class="waiting ion-activatable" *ngIf="waiting" (click)="stop()"><ion-ripple-effect></ion-ripple-effect>{{ 'WALLET.stop' | translate }}</div>
      </div>
      <div *ngIf="data.status == 1">
        <div style="text-align: center; font-size: 30px;">{{ 'WALLET.confirmed' | translate }}!</div>
      </div>
      <div *ngIf="data.status == -1">
        <div style="text-align: center; font-size: 30px">{{ 'WALLET.rejected' | translate }}!</div>
      </div>

      <ion-grid *ngIf="decrypted">
        <ion-row>
          <ion-col size="2"> 
            <ion-img style="width: 25px;" *ngIf="decrypted.trust.firstname.trustActive && decrypted.trust.firstname.trustValue == 1" src="../../../assets/icon/sign-success.svg"></ion-img> 
            <ion-img style="width: 25px;" *ngIf="!decrypted.trust.firstname.trustActive || decrypted.trust.firstname.trustValue != 1" src="../../../assets/icon/sign-error.svg"></ion-img> 
          </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.firstname' | translate }} </ion-col>
          <ion-col size="5"> {{ decrypted.firstname }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.verifiedAt' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.firstname ? (decrypted.trust.firstname.modified | date:'dd.MM.yyyy HH:mm') : '-' }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.trustlevel' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.firstname ? decrypted.trust.firstname.trustLevel : '-' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> 
            <ion-img style="width: 25px;" *ngIf="decrypted.trust.lastname.trustActive && decrypted.trust.lastname.trustValue == 1"  src="../../../assets/icon/sign-success.svg"></ion-img> 
            <ion-img style="width: 25px;" *ngIf="!decrypted.trust.lastname.trustActive || decrypted.trust.lastname.trustValue != 1"  src="../../../assets/icon/sign-error.svg"></ion-img> 
          </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.lastname' | translate }} </ion-col>
          <ion-col size="5"> {{ decrypted.lastname }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.verifiedAt' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.lastname ? (decrypted.trust.lastname.modified | date:'dd.MM.yyyy HH:mm') : '-' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2">  </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.trustlevel' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.lastname ? decrypted.trust.lastname.trustLevel : '-' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> 
            <ion-img style="width: 25px;" *ngIf="decrypted.trust.dateofbirth.trustActive && decrypted.trust.dateofbirth.trustValue == 1"  src="../../../assets/icon/sign-success.svg"></ion-img> 
            <ion-img style="width: 25px;" *ngIf="!decrypted.trust.dateofbirth.trustActive || decrypted.trust.dateofbirth.trustValue != 1"  src="../../../assets/icon/sign-error.svg"></ion-img> 
          </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.dateofbirth' | translate }} </ion-col>
          <ion-col size="5"> {{ decrypted.dateofbirth | date:'dd.MM.yyyy' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.verifiedAt' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.dateofbirth ? (decrypted.trust.dateofbirth.modified | date:'dd.MM.yyyy HH:mm') : '-' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.trustlevel' | translate }} </ion-col>
          <ion-col size="5"> {{ !!decrypted.trust.dateofbirth ? decrypted.trust.dateofbirth.trustLevel : '-' }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> <ion-img style="width: 25px;"  src="../../../assets/icon/sign-success.svg"></ion-img>  </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.amlCheck' | translate }} </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.trusted' | translate }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> <ion-img style="width: 25px;"  src="../../../assets/icon/sign-success.svg"></ion-img>  </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.walletCheck' | translate }} </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.trusted' | translate }} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"> </ion-col>
          <ion-col size="5"> {{ 'TFRUSECASE.processId' | translate }} </ion-col>
          <ion-col size="5"> {{ data.paymentRequestId }} </ion-col>
        </ion-row>

      </ion-grid>      

      <div class="buttons" *ngIf="decrypted">
        <div class="button ion-activatable" (click)="copyDecryptedContent()"><ion-ripple-effect></ion-ripple-effect>{{ 'BUTTON.COPY' | translate }}</div>
      </div>
  
    </div>
  

  </ion-card-content>

  
</ion-card>