ion-toolbar {
    --background: #54BF7B;
    --color: white;
    --min-height: 40px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    .back-button {
        --color: white;
        margin-left: 8px;
        margin-top: -22px;
    }
    .jobgrader {
        font-family: "FredokaOne Regular";
        font-size: 30px;
        text-align: center;
    }
    .jobalert {
        text-align: center;
        color: black;
    }
    .userImage {
        width: 40px;
        height: 40px; 
        margin-right: 10px; 
        border-radius: 50%; 
        margin-top: -22px;
        object-fit: cover;
    }
}
  