<ion-card transparent>
  <ion-toolbar>
    <!-- <ion-title>My QR code</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{
        "LEGALDOCUMENTS.closeModal" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-title class="contact-container" style="width: 100%">
    <ion-skeleton-text
      animated
      style="width: 50vw; height: 26px"
      *ngIf="!displayHelixUsername"
    >
    </ion-skeleton-text>
    <h1 class="contact-heading" *ngIf="displayHelixUsername">
      <span style="font-size: 16px">{{ "LOGIN.myUsername" | translate }}</span
      ><br />
      {{ displayHelixUsername }}
    </h1>
  </ion-card-title>
  <ion-card-content class="qr-container">
    <div class="qr-code-container" *ngIf="!showDiscalimer">
      <ngx-qrcode
        class="qr-code"
        qrc-element-type="url"
        [value]="qrCodeValue"
        *ngIf="qrCodeValue"
        [ngClass]="{ 'is-hidden': qrCodeIsHidden }"
      >
      </ngx-qrcode>
    </div>
    <p *ngIf="!showDiscalimer">{{ qrCodeCaptionCountdown }}</p>
    <div class="qr-container" *ngIf="showDiscalimer">
      <div class="qr-code-container">
        <img [src]="disclaimerIcon" />
      </div>
    </div>
  </ion-card-content>
</ion-card>
