@import "../../../../theme/index";
$assetPath: "../../assets";
@include big-circle-page-header($assetPath);
@include big-circle-page-content($assetPath);
@include big-circle-page-footer($assetPath);
@include big-circle-page-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));
.error {
  color: #733122 !important;
}
.proto-input__field {
  border-bottom: 1px solid var(--ion-text-color);
}

