<proto-sign-up-header 
  [onGoBack]="prevStep" 
  [percentage]="50">
</proto-sign-up-header>

<ion-content>
  <div class="proto-content">
    <div class="proto-title">
      {{ 'RESETPASSWORDSTEPTWO.title' | translate }}
    </div>
    <div class="proto-text">{{ 'RESETPASSWORDSTEPTWO.text' | translate }}</div>

    <form
      class="proto-form"
      autocomplete="new-password"
      [formGroup]="resetPasswordForm"
    >
      <div class="proto-input">
        <ion-input
          class="proto-input__field"
          [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetOTP.invalid}"
          name="resetOTP"
          formControlName="resetOTP"
          (keyup.enter)="nextStep()"
          type="number"
          placeholder=" "
        >
        </ion-input>
        <label
          class="proto-input__label"
          [ngClass]="{'error': signProcessing && resetPasswordForm.controls.resetOTP.invalid}"
          >{{ 'RESETPASSWORDSTEPTWO.otp' | translate }}</label
        >
      </div>
    </form>
  </div>
</ion-content>

<proto-sign-up-footer
  currentFormIsValid="true"
  (primaryAction)="nextStep()"
  (secondaryAction)="skipReg()"
  [secondaryCaption]="'RESETPASSWORDSTEPTWO.later' | translate">
</proto-sign-up-footer>
