@import "../../../../theme/index";

.picture-container {
  $size: 111px;
  background: var(--ion-color-light);
  overflow: visible;
  &.edit-mode {
    overflow: hidden;
  }
  width: $size;
  height: $size;
  border-radius: $size/2;
  margin-left: calc(50% - #{$size/2});
  position: relative;
  border: 5px solid var(--ion-color-light);
  img {
    width: $size - 10px;
    height: $size - 10px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.innovator-badge {
  @include innovatorBadge();
}

.edit-mask {
  position: absolute;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  bottom: -70px;
  text-align: center;
  background: var(--ion-color-light);
  color: var(--ion-color-secondary);
  font-size: 10px;
  left: 5px;
  span {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  };
}
