<div class="profile">
  <div class="picture-container" [ngClass]="editMode ? 'edit-mode' : ''" (click)="showChangePicture()">
    <img [src]="pictureSrc" alt="" class="profile-cover" />
    <!-- <ion-icon *ngIf="displayVerifiedTick" class="innovator-badge" src="../../../../assets/icon/helixid_tick_Verified.svg"></ion-icon> -->
    <div class="edit-mask" *ngIf="editMode">
      <span>{{'PERSONALDETAILS.edit' | translate}}</span>
    </div>
  </div>
</div>
