<ion-card transparent>
  <ion-toolbar>
    <ion-title>{{ 'USERTRACKING.heading' | translate}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'CERTIFICATES.closeModal' | translate}}</ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <p>{{ 'USERTRACKING.content0' | translate}}</p>
  <p>{{ 'USERTRACKING.content1' | translate}}</p>
  <p>{{ 'USERTRACKING.content2' | translate}}</p>
  
  <div class="buttons">
    <div class="button ion-activatable" (click)="allowPermission()"><ion-ripple-effect></ion-ripple-effect>{{ 'USERTRACKING.button' | translate}}</div>
    <!-- <div class="button ion-activatable" (click)="close()"><ion-ripple-effect></ion-ripple-effect>{{ 'CERTIFICATES.closeModal' | translate}}</div> -->
  </div>

</ion-card>