
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'LEGALDOCUMENTS.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-card transparent>
  
    <ion-grid style="margin: 0;">
      <ion-row *ngFor="let news of _BroadcastService._Messages">
        <ion-col size="12">
          <ion-label>{{ news.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}</ion-label>
          <br>
          <ion-label style="font-size: 22px;">{{ news.title }}</ion-label>
          <br>
          <ion-label style="font-size: 18px;">{{ news.message }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-card>