@import "../../../theme/index";

ion-card {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  ul {
    font-size: 16px;
    margin-right: 16px;
    ::ng-deep strong, ::ng-deep b {
        font-family: "Jost Bold", Helvetica, sans-serif;
    }
  }
}

ion-row {
  border: 1px solid var(--ion-text-color);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

ion-toolbar {
  margin-top: 10%;
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
 }

}