ion-slide {
    display: grid;
    padding: 20%;
    h2 {
        text-align: start;
    }
    p {
        font-size: 13px;
        text-align: start;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
}
  
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s linear;
}

.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.button {
    width: calc(100% - 40px);
    margin-top: 0;
    &-container {
    //   padding-top: 5px;
      position: fixed;
    //   -webkit-backface-visibility: hidden;
    //   backface-visibility: hidden;
      bottom: 0;
    //   left: 0;
      width: 100%;
      height: 85px;
      z-index: 15;
      background: var(--ion-background-color);
      .md{
        bottom: calc(90px + var(--ion-safe-area-bottom));
        height: 75px;
      }
    }
  }

  .buttons {
    display: flex;
    background-color: var(--ion-background-color);
    // padding: 0 15px 15px;
    margin-top: 15px;
    justify-content: space-between;
    .button {
      text-align: center;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 20px;
      border-radius: 8px;
      width: 59%;
      margin-left: -13%;
      margin-right: -13%;
   }
}

.first-button {
    background: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-light);
  }
  
.second-button {   
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
}