<ion-header>
  <!-- <ion-toolbar>
    <ion-title>alt-walkthrough</ion-title>
    <ion-button (click)="goBack()">Back</ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-slides [pager]="true" [options]="sliderOptions" (ionSlideDidChange)="slideDidChange()">
    <ion-slide *ngFor="let slide of slides">
      <ion-img [src]="slide.image"></ion-img>
      <div><h2>{{ slide.header }}</h2></div>
      <div><p>{{ slide.content }}</p></div>
      <div class="buttons" *ngIf="activeIndex == 6">
        <div class="button first-button ion-activatable" (click)="leftAction()"><ion-ripple-effect></ion-ripple-effect>{{ 'ALTWALKTHROUGH.buttons.left' | translate}}</div>
        <div class="button second-button ion-activatable" (click)="rightAction()"><ion-ripple-effect></ion-ripple-effect>{{ 'ALTWALKTHROUGH.buttons.right' | translate}}</div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
