ion-select {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  text-align: right;
  +ion-label {
    bottom: 2px;
  }
  --padding-start: 50%;
  --padding-bottom: 5px;
  --text-align: right;
}
