@import "../../../theme/index";

@include header-before-after-animation(
  getRandomNumberInRange($startKey, $endKey, 1, false),
  getRandomNumberInRange(30, 40, 1, false)
);

.header {
  &-avatar {
    @include avatar();
  }
}

// ion-grid {
//   height: 100%;
// }

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-text-color);
  margin-top: -20px;
}

.page-header {
  background-color: var(--ion-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  

  .page-title {
    position: relative;
    font-size: 32px;
    color: var(--ion-text-color);
    z-index: 1;
    margin: 27px 0 24px 28px;
  }

  // .page-title {
  //   position: relative;
  //   font-size: 32px;
  //   color: var(--ion-text-color);
  //   z-index: 1;
  //   // top: 50px;
  // }

  .profile {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 55px;
    height: 170px;
  }

  .profile-cover {
    text-align: center;
    display: inline-block;
    width: 111px;
    height: 111px;
    object-fit: cover;
    object-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid #ffffff;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

ion-card {
  margin-top: 10%;
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  p {
    text-align: justify;
  }
}

ion-toolbar {
  padding-top: 20px;
  --background: var(--ion-background-color);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
// .content {
//     padding-top: 100px;
// }

.buttons {
  display: flex;
  background-color: var(--ion-background-color);
  padding: 0 15px 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-light);
  }
  .delete {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    background: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-secondary);
    color: var(--ion-color-light);
  }
}
.textform {
  padding-left: 10px;
  padding-right: 10px;
}

.qr-container {
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-timeout {
    text-align: center;
  }
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--ion-text-color);
  background: #fff;
  width: 75vw;
  height: 75vw;

  @media (max-height: 568px) {
    width: 25vw;
    height: 25vw;
  }
}

.address-container {
  position: absolute;
  display: flex;
  bottom: 35px;
  text-align: center;
  font-size: 11px;
  color: gray;
}

.logo-container {
  position: absolute;
  display: flex;
  top: 35px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.buttonOutline {
  text-align: center;
  background: #0021ff;
  height: 50px;
  border-radius: 50px;
  &--inactive {
    background: #7385ff;
  }
}

.rowCover {
  height: 50px;
  border-width: 2px;
  border-color: gray;
  border-bottom-style: dashed;
}

.sum {
  display: flex;
}

.modButtons {
  text-align: center;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  // margin-left: 12px;
  margin: auto;

  &--inactive {
    background: var(--ion-color-secondary-tint);
  }

  img {
    margin-top: 10px;
    width: 32px;
  }
}
p {
  margin: 0;
}

.sec-one {
  margin-top: 2rem;
  padding-left: 1.5rem;
  .nav-item-heading {
    color: var(--ion-text-color);
    font-size: 32px;
    display: flex;
    padding-left: 5px;
    white-space: nowrap;
    text-transform: capitalize;
    margin-bottom: 0px;
  }
  .nav-item-address {
    display: flex;
    color: var(--ion-text-color);
    font-size: 12px;
    padding-left: 5px;
    text-overflow: ellipsis;
  }
 
  .copy-icon {
    color: var(--ion-text-color);
    font-size: 15px;
    margin-left: 3px;
  }
}

.icons-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  position: absolute;
  width: 100%;
  top: 200px;
  .add-icon {
    font-size: 35px;
    color: var(--ion-text-color);
  }
 
  .more-icon {
    font-size: 30px;
    color: var(--ion-text-color);
  }
 
}
