ion-avatar {
  height: 78px;
  width: 78px;
  --border-radius: 50%;
  border: 2px solid var(--ion-color-medium);
  background-color: var(--ion-color-light);
  img {
    background-color: white;
  }
}

.name {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 9px;
  color: var(--ion-text-color);
  letter-spacing: 0.09px;
}
