<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goHome()" [userImage]="profilePictureSrc"></app-job-header>
  <!-- <app-back-button (click)="goHome()"></app-back-button> -->
  <ion-icon
    color="light"
    class="search"
    src="../../assets/icon/search.svg"
    slot="end"
    (click)="search()"
  ></ion-icon>
  <!-- <div class="marketplace">
    <div class="marketplace__title">Challenges</div>
    <div class="sort" (click)="sort()">
      <span class="text">{{ 'GENERAL.sort' | translate }}</span>
      <ion-icon class="arrow" src="../../assets/icon/sort-arrow.svg"></ion-icon>
    </div>
  </div> -->
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="trusted-partner">
    <span class="icon-container"
      ><ion-icon
        class="category-icon"
        src="../../assets/icon/{{logoSrc}}"
      ></ion-icon
    ></span>
    <span class="name">{{ title }}</span>
  </div>
  <div class="page-content">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col
            class="ion-text-center"
            size="4"
            *ngFor="let merchant of merchants | sortBy: 'asc': 'merchantName'; let i = $index"
          >
            <app-market-place-element
              (click)="viewMerchant(merchant)"
              [elementName]="merchant.merchantName"
              [elementSrc]="merchant.merchantLogo"
            >
            </app-market-place-element>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
