// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.alert-radio-label {
  display: flex;
  align-items: center;
}
.custom-image-flag {
  margin-right: 5px;
}

.proto-custom-popover {
  --width: 65%;
  --min-height: 50%;
  .popover-content {
    background-color: var(--ion-background-color) !important;
  };
}

.did-popover {
  --width: 65%;
  --min-height: 20%;
  opacity: 1;
  overflow: hidden;
}

.send-popover {
  .popover-content {
    top: 40px !important;
  }
  --width: 75%;
  --min-height: 20%;
  opacity: 1;
  overflow: hidden;
}

.confirm-popover {
  .popover-content {
    top: 40px !important;
  }
  --width: 98%;
  --min-height: 20%;
  opacity: 1;
  overflow: hidden;
}

.alert-radio-label.sc-ion-alert-ios,
.alert-radio-label.sc-ion-alert-md{
  text-overflow: unset;
  white-space: unset;
}

.alert-tappable.sc-ion-alert-ios {
  height: 48px;
}

.alert-tappable.sc-ion-alert-md {
  height: 55px;
}

body {
  background: var(--ion-background-color) !important;
}


// bottom padding is to account for fixed massive footer stopping page content scrolling above keyboard height on shorter phones.
.proto-content {
  padding: 0px 16px 0px 16px !important;
  padding-bottom: 50vh !important;
  //background-color: yellow !important; // for debugging
  //background: transparent !important;
}

.proto-input {
  position: relative;
  margin: 20px 0px 0px 0;
  &__requirements {
    font-size: 12px;
    margin: 10px 0 10px 0;
    color: grey;
  }
  &__field {
    margin: 10px 0 10px 0;
    margin-top: 0;
    font-size: 16px;
    padding: 5px;
    padding-left: 0;
    display: block;
    width: 100%;
    height: 48px;
    background-color: transparent;
    color: var(--ion-text-color);
    border: none;
    border-radius: 0;
    background-color: transparent !important;
    outline: none;
    &:focus~label,
    &:not(:placeholder-shown)~label {
      top: -10px;
      font-size: 12px;
    }
    &:focus~.bar:after,
    &:focus~.bar:before {
      width: 50%;
    }
    &.error {
      color: red;
    }
  }
  &__label {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translateY(21px);

    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    color: var(--ion-text-color);
    font-weight: normal;
    font-size: 12px;

    .has-focus + & {
      transform: translateY(0);
    }

    .has-value + & {
      transform: translateY(0);
    }

    &.error {
      color: red;
    }
  }
}

.proto-hyperlink {
  width: 100%;
  text-align: right;
  // color: var(--helix-link-color);
  color: var(--ion-text-color);
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.proto-item {
  font-size: 12px !important;
}

.proto-label {
  font-size: 12px;
  color: var(--ion-text-color);
}

.proto-title {
  font-size: 20px;
  color: var(--ion-text-color);
  margin: 10px 10px;
  margin-bottom: 40px;
  line-height: 1.35;
}

.proto-text {
  font-size: 16px;
  color: var(--ion-text-color);
  margin: 10px 10px;
  margin-bottom: 20px;
  line-height: 1.35;
}

.proto-form {
  margin: 10px 10px;
}

.proto-toggle {
  margin-right: 10px;
}

.proto-button-primary {
  --background:  var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary);
  background: var(--ion-color-primary);
  text-align: center;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 8px;
  width: 160px;
  border: 2px solid var(--ion-color-primary);
  margin: 25px auto 0;
  width: 100%;
  height: 54px;
  @media only screen and (max-width: 320px) {
    margin: 25px auto 0;
  }
  &:active {
    background: #F2F2F2;
    border: 2px solid #F2F2F2;
  }
  &--inactive {
    pointer-events: none;
    color: #D7D7D7;
    background: #F7F7F7;
    border: 2px solid #D7D7D7;
  }
}

.proto-button-tertiary {
  --background:  var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary);
  background: var(--ion-color-primary);
  text-align: center;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 8px;
  width: 160px;
  border: 2px solid var(--ion-color-primary);
  margin: 25px auto 0;
  width: 100%;
  height: 54px;
  @media only screen and (max-width: 320px) {
    margin: 25px auto 0;
  }
  &:active {
    background: var(--ion-color-primary);
    border: 2px solid var(--ion-color-primary);
  }
  &--inactive {
    pointer-events: none;
    color: #D7D7D7;
    background: #F7F7F7;
    border: 2px solid #D7D7D7;
  }
}

.proto-button-secondary {
  text-align: center;
  padding: 10px 15px;
  color: var(--ion-color-primary-tint);
  font-size: 20px;
  background: white;
  border-radius: 8px;
  width: 160px;
  border: 3px solid var(--ion-color-primary-tint);
  margin: 25px auto 0;
  width: 100%;
  height: 54px;
  @media only screen and (max-width: 320px) {
    margin: 25px auto 0;
  }
  &:active {
    background: #BF7B54;
    color: white;
  }
  &--inactive {
    pointer-events: none;
    color: #D7D7D7;
    background: #F7F7F7;
    border: 2px solid #D7D7D7;
  }

}

.lock-screen {
  z-index: 10000001 !important;
}

.error-screen {
  z-index: 10000002 !important;
}

ion-toast {
  z-index: 10000003 !important;
}

ion-loading {
  z-index: 10000004 !important;
}

.modal-wrapper{
  background: var(--ion-background-color-rgb) !important;
  opacity: 0.3 !important;
  color: var(--ion-text-color) !important;
}

//Themes

ion-header, ion-content, ion-slide, ion-modal, ion-alert, ion-toast, ion-loading {
  --background: var(--ion-background-color) !important;
  --color: var(--ion-text-color) !important;
  color: var(--ion-text-color) !important;
}

.alert-radio-label {
  color: var(--ion-text-color) !important;
}

.alert-radio-icon {
  border-color: var(--ion-text-color) !important;
}

.alert-wrapper {
  border: 1px solid var(--ion-border-color) !important;
  padding: 10px !important;

  .alert-message {
    color: var(--ion-text-color) !important;
  }

  .alert-button {
    border: none !important;
    color: var(--ion-text-color) !important;
    border-color: var(--ion-border-color) !important;
  }
}

.action-sheet-group {
  opacity: .9 !important;
  border-top: 1px solid #878787 !important;
}

.action-sheet-group-cancel {
  border-top: 1px solid #878787 !important;
}

ion-input, input, .input, ion-action-sheet {
  --color: var(--ion-text-color) !important;
  color: var(--ion-text-color) !important;
  button {
    color: var(--ion-text-color) !important;
  }
}

.validity-modal {
  --height:70%;
  align-items: flex-end;
  background: var(--ion-background-color);
  .modal-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
  }
}

.simple-modal {
  --height:100%;
  align-items: flex-end;
  .modal-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
  }
}

.health-certificate-alert-blue{
  span {
    color: var(--ion-color-secondary) !important;
  }
}

.health-certificate-alert-red {
  span {
    color: var(--ion-color-primary) !important;
  }
}

.recovery-blue{
  span {
    background-color: var(--ion-color-secondary) !important;
    color: white !important;
    border-radius: 20px;
  }
}

ion-button {
  text-transform: capitalize;
}

.shadow {
  -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
  filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
}

.ion-color-rose {
  --ion-color-base: var(--ion-text-color); // #831843;
  --ion-color-base-rgb: var(--ion-text-color-rgb); // 131, 24, 67;
  --ion-color-contrast: var(--ion-datetime-background);
  --ion-color-contrast-rgb: var(--ion-datetime-background-rgb);
  --ion-color-shade: var(--ion-text-color);
  --ion-color-tint: var(--ion-text-color);
}

ion-datetime {
  --background: var(--ion-datetime-background);
  --background-rgb: var(--ion-datetime-background-rgb);
  border-radius: 16px;
  box-shadow: rgba(var(--ion-datetime-background-rgb), 0.3) 0px 10px 15px -3px;
}