<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBackToSettings()" [userImage]="profilePictureSrc"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.devices' | translate }}</h3>
  </div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="page-content">

      <ion-card *ngFor="let device of devices">
        <span style="float: left; width: 80%; padding-left: 10px; padding-top: 10px;">
        <ion-card-title>
            {{ device.manufacturer }} {{ device.model }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ device.osPlatform }} {{ device.osVersion }}
          </ion-card-subtitle>
          <ion-card-content>
            <span *ngIf="device.deviceId == deviceId">{{ 'SETTINGS.deviceCurrentlyActive' | translate }}</span>
            <span *ngIf="device.deviceId != deviceId">{{ 'SETTINGS.deviceCreated' | translate }}: {{ device.created | date:'dd.MM.yyyy HH:mm' }}</span>
          </ion-card-content>
        </span>
        <span style="float: right; width: 15%; padding: 10px;" *ngIf="device.deviceId != deviceId">
          <ion-icon (click)="comingSoon()" src="../../assets/icon/log-out-outline.svg"></ion-icon>
        </span>

      </ion-card>

  </div>

</ion-content>
