* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.menu {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .toggle {
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
  }
  .active {
    transform: rotate(360deg);
    box-shadow: 0 0 0 76.6px var(--ion-circle-fill);
    background: var(--ion-circle-fill);
    img {
      margin-left: 8px;
      margin-top: 4px;
    }
  }
  li {
    position: absolute;
    list-style: none;
    // transform: rotate(calc(360deg / 8 * var(--i))) translateX(35px);
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(20px);

    transform-origin: 140px;
    left: 10px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    z-index: 10;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      img {
        height: 40px;
        width: 40px;
      }

      background: transparent;
      transform: rotate(calc(360deg / -8 * var(--i)));

      border-radius: 50%;
    }
  }
}

.menu.active {
  li {
    visibility: visible;
    opacity: 1;
  }
  .li-active {
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(0px);
    background: transparent;
    border-radius: 50%;
  }
}

.indicator {
  position: absolute;
  left: calc(53% + 2.5px);
  width: 100px;
  height: 1px;
  background-color: transparent;
  pointer-events: none;
  transition: 0.5s;
  transform-origin: right;
}
.indicator::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: transparent;
  box-shadow: 0 0 0 4px transprent;
  border-radius: 50%;
  transition: 0.5s;
  top: -27.5px;
  left: 72px;
  opacity: 0;
}

.menu.active {
  .indicator::before {
    opacity: 1;
    top: -36.2px;
    left: -43.5px;
    background: transparent;
    box-shadow: 0 0 0 4px var(--ion-circle-ring-profile);
  }
  .on::before {
    opacity: 1;
    top: -30.2px;
    left: -27.5px;
    background: #54bf7b;
    box-shadow: 0 0 0 4px var(--ion-circle-around-selection);
  }
}

.menu {
  li:nth-child(2).li-active ~ .indicator {
    transform: translate(-135px, 0px) rotate(4deg);
  }
  li:nth-child(3).li-active ~ .indicator {
    transform: translate(-133px, -6px) rotate(55deg);
  }
  li:nth-child(4).li-active ~ .indicator {
    // transform: translateX(-120px) rotate(100deg);
    transform: translate(-19px, -118px) rotate(1deg);
  }
  li:nth-child(5).li-active ~ .indicator {
    transform: translate(-86px, -3px) rotate(128deg);
  }
  li:nth-child(6).li-active ~ .indicator {
    transform: translate(-93px, 2px) rotate(182deg);
  }
  li:nth-child(7).li-active ~ .indicator {
    transform: translate(-90px, 9px) rotate(235deg);
  }
  li:nth-child(8).li-active ~ .indicator {
    // transform: translateX(-140px) rotate(260deg);
    transform: translate(-168px, 40px) rotate(235deg);
  }
  li:nth-child(9).li-active ~ .indicator {
    transform: translate(-133px, 7px) rotate(311deg);
  }
}
.photo {
  height: 90px;
  width: 90px;
  // object-fit: contain;
  object-fit: cover;
  border-radius: 50%;
}
.photo-on {
  border: 4px solid var(--ion-circle-ring-profile);
}


// transform: translate(-45vw, 0px) rotate(4deg);
// transform: translate(-44vw, -2vw) rotate(55deg);
// transform: translate(-6.3vw, -39vw) rotate(1deg);
// transform: translate(-28.6vw, -1vw) rotate(128deg);
// transform: translate(-31vw, 0.6vw) rotate(182deg);
// transform: translate(-30vw, 3vw) rotate(235deg);
// transform: translate(-56vw, 13vw) rotate(235deg);
// transform: translate(-44vw, 2.3vw) rotate(311deg);