@import "../../../theme/index";

@include header-just-before-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));


.buttons {
  display: flex;
  background-color: var(--ion-color-primary);
  border-radius: 8px;
  margin-top: 15px;
  justify-content: space-between;
  .button {
    text-align: center;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    width: 98%;
 }

}

.jobInfo {
  background-color: var(--ion-pitch);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  color: var(--ion-text-color);
  #legend {
    width: 50%;
    float: left;
  }
  #demo {
    float: right;
  }
}

.dashboard-heading {
  text-align: left; 
  font-size: 20px;
  color: var(--ion-text-color);
}

.dashboard-subheading {
  text-align: center; 
  font-size: 14px;
  color: var(--ion-text-color);
}

.dashboard-reload {
  font-size: 25px;
  float: right;
  padding-right: 20px;
}

.dashboard-value {
  text-align: center; 
  font-size: 16px;
  color: var(--ion-text-color);
}

.dashboard-key {
  text-align: center; 
  font-size: 12px;
  color: var(--ion-text-color);
}


.tutorial-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;

  .info-container {
    width: 100%;
    text-align: center;
    padding: 16px;
  }

  h2 {
    color: #ffffff;
    text-align: center;
  }

  .button-container {
    width: 100%;
    padding: 16px;
    margin-bottom: env(safe-area-inset-bottom);
    .button {
      text-align: center;
      align-items: center;
      width: 100%;
      padding: 16px;
      margin: 0 auto;
      color: #FFFFFF;
      font-size: 20px;
      background: var(--ion-color-secondary);
      border-radius: 8px;
      border: 1px solid var(--ion-color-secondary);
      outline: none;
    }

    .ion-activatable {
      position: relative;
      overflow: hidden;
    }
  }
}

.trusted-partner {
  margin-left: 29.5px;
}

.name {
  font-family: "Jost Regular", Helvetica, sans-serif;
  font-size: 20px;
  color: var(--ion-text-color);
  letter-spacing: 0.13px;
  position: relative;
  display: inline-block;
  top: -13px;
  margin-left: 5px;
}

.search {
  position: absolute;
  right: 15px;
  top: 45px;
}

.icon-container {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-secondary-contrast);
  display: inline-block;
  .category-icon {
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 9px;
  }
}

app-market-place-element {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

ion-card {
  margin-top: 10px;
  background-color: var(--helix-sort-background-color);
  border: 1px solid var(--ion-border-color);
  border-radius: 12px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: none;
}

.sort {
  background-color: var(--helix-sort-background-color);
  padding: 10px;
  border: 1px solid var(--ion-border-color);
  border-radius: 25px;
  color: var(--ion-text-color);
  .text {
    font-family: "Jost Regular", Helvetica, sans-serif;
    letter-spacing: 0.15px;
  }
  .arrow {
    font-size: 12px;
    color: var(--ion-text-color);
    padding-left: 3px;
    position: relative;
    top: 2px;
    background-color: transparent;
  }
}



.marketplace {
  position: absolute;
  top: 100px;
  left: 30px;
  width: calc(100% - 47px);
}

.content {
  padding-top: 10px;
}

.page-header {
  height: 188px;;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  
  .marketplace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 320px) {}
    &__title {
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      white-space: nowrap;
      @media only screen and (max-width: 320px) {
        font-size: 28px;
      }
    }
    &__profile{
      padding-left: 4px;
      .photo {
        display: inline-block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #FFFFFF;
        margin-top: -9px;
        background-color: #fff;
        @media only screen and (max-width: 320px) {
          width: 111px;
          height: 111px;
        }
      }
    }
  }

  app-back-button {
      position: absolute;
      top: -80px !important; 
  }


.page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
