@import "../../theme/index";


// @include header-before-after-animation(getRandomNumberInRange($startKey, $endKey, 1, false), getRandomNumberInRange(30, 40, 1, false));

.page-header {
  padding: 0px 25px 0;
  background-color: var(--ion-background-color);
  position: relative;

  .page-title {
    font-size: 32px;
    color: var(--ion-text-color-rgb);
  }
}

.page-content {
  background-color: var(--ion-background-color);
  min-height: 100%;
  ion-card {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    border: 1px solid var(--ion-border-color);
    ion-card-title {
      --color: var(--ion-text-color);
    }
    ion-icon {
      font-size: 2rem;
    }
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
