<ion-header mode="ios">
  <app-job-header [showBackButton]="true" (backEvent)="goBack()" [userImage]="userImage"></app-job-header>
  <div class="page-header">
    <h3 class="page-title">{{ 'SETTINGS.notifications' | translate }}</h3>
  </div>
</ion-header>

<ion-content>

  <div class="page-content">
    <ion-list mode="ios">
      <ion-item>
        <ion-toggle [(ngModel)]="toggleValue" color="primary" (ngModelChange)="save($event)" class="proto-toggle" [disabled]="!cordovaUnavailable || toggleValue"></ion-toggle>
        <ion-label *ngIf="!toggleValue">{{ 'NOTIFICATIONS.disabled' | translate }}</ion-label>
        <ion-label *ngIf="toggleValue">{{ 'NOTIFICATIONS.enabled' | translate }}</ion-label>
      </ion-item>
      <ion-item class="ion-text-center">
        {{'NOTIFICATIONS.hint' | translate}}
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="topicSubscription" color="primary" (ngModelChange)="subscribe($event)" class="proto-toggle" [disabled]="!cordovaUnavailable"></ion-toggle>
        <ion-label>{{ 'BROADCAST.cta' | translate }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-card *ngFor="let notification of notifications">
      <ion-card-title style="padding: 10px;">
        {{ notification.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}
      </ion-card-title>
      <ion-card-content>
        {{ notification.title }}: {{ notification.message }}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
