<ion-card transparent>
  <ion-toolbar>
    <ion-title>NFT Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'LEGALDOCUMENTS.closeModal' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <div class="content">
      <div style="text-align: center;" *ngIf="source == 'poap'">
        <img class="profileImage" [src]="profileImage">
      </div>
      <div *ngIf="source == 'poap'">
        <div class="value" style="text-align: center;">{{ data.event_name }}</div>
        <br>
        <div class="title" style="text-align: center;" *ngIf="data.event_city != '' || data.event_country != ''"><ion-icon src="../../../assets/icon/place.svg"></ion-icon>{{ data.event_city }}, {{ data.event_country }}</div>
        <br>
        <div class="title" style="text-align: left;">{{ data.event_description }}</div>
        <br>
      </div>
      <div *ngIf="displayImage">
        <div style="text-align: center;">
          <img [src]="displayImage">      
          <br>
          <div class="value" style="text-align: center;">{{ data.name }}</div>
          <div class="title" style="text-align: center;" *ngIf="!!data.description"><br>{{ data.description }}<br></div>
        </div>
        <br>   
      </div>
      <div *ngFor="let keyv of keyValue">
        <div class="title">{{ keyv.key }}</div>
          <div class="value">
              <span style="float: left; display: contents;">
                {{ keyv.value }}
              </span>
            <br>
          </div>
        <br>   
      </div>
      <div *ngIf="!!data.attributes && data.attributes.length != 0">
        <div class="value" style="text-align: center;">{{ 'NFT.keys.attributes' | translate }}</div>
      </div>
      <div *ngFor="let attribute of data.attributes">
        <div class="title">{{ attribute.trait_type }}</div>
          <div class="value">
              <span style="float: left; display: contents;">
                {{ attribute.value }}
              </span>
            <br>
          </div>
        <br>   
      </div>
      <div class="buttons">
        <div class="button" (click)="viewInOpenSea()">
          {{ buttonText }}
        </div>
      </div>
      <!-- <ion-grid>
        <ion-row *ngFor="let keyv of keyValue">
          <ion-col size="6">{{ keyv.key }}</ion-col>
          <ion-col size="6">{{ keyv.value }}</ion-col>
        </ion-row>
      </ion-grid> -->
    </div>
    
  </ion-card-content>

  
</ion-card>