<div
  *ngIf="!hasSeenMerchantTutorial"
  tappable="false"
  class="tutorial-container"
  (click)="seenTutorial()"
>
  <h2>
    {{'MERCHANT_DETAILS_TUTORIAL.text1' | translate}}
    <br />
    {{'MERCHANT_DETAILS_TUTORIAL.closeText' | translate}}
  </h2>
  <div class="info-container">
    <h2>{{'MERCHANT_DETAILS_TUTORIAL.text2' | translate}}</h2>
    <img id="fabImg" src="/../../assets/fab.svg" alt="fab" />
  </div>
  <div class="info-container">
    <img id="swipeImg" src="/../../assets/swipe.svg" alt="swipe" />
    <h2>{{'MERCHANT_DETAILS_TUTORIAL.text3' | translate}}</h2>
  </div>
</div>

<ion-header class="page-header" *ngIf="merchant">
  <img
    class="merchant-background-image"
    [src]="merchant.productBackgroundImage"
  />
  <div
    *ngIf="activeIndex === 0"
    class="avatar-container"
    [ngClass]="(scrollEdgeOverdrawn$ | async) ? 'visible' : 'hidden'"
  >
    <ion-avatar>
      <img [src]="merchant.merchantLogo" />
    </ion-avatar>
  </div>
  <!-- <div
    *ngIf="merchant && merchant.id == -1"
    class="information"
    [ngClass]="activeIndex === 0 ? 'faded-in' : 'hidden'"
  >
    {{'MERCHANT_DETAILS.your-company-details-here' | translate}}
  </div> -->
</ion-header>

<ion-content class="no-scroll">
  <div class="back-btn-container">
    <span class="back-btn" (click)="back()"
      ><ion-ripple-effect></ion-ripple-effect
    ></span>
  </div>
  <ion-slides
    [pager]="true"
    [options]="sliderOptions"
    *ngIf="merchant"
    (ionSlideWillChange)="slideWillChange()"
    (ionSlideDidChange)="slideDidChange()"
  >
    <ion-slide
      class="slide1 scroll-content"
      [ngStyle]="{'margin-top': (slide1MarginTop + 'px')}"
      #slide1
    >
      <div #page1Scroll class="page-1-scroll">
        <ion-card
          class="merchant-card"
          [ngStyle]="{'margin-top': (cardMarginTop + 'px')}"
        >
          <div
            class="avatar-container"
            [ngClass]="!(scrollEdgeOverdrawn$ | async) ? 'visible' : 'hidden'"
          >
            <ion-avatar>
              <img [src]="merchant.merchantLogo" />
            </ion-avatar>
          </div>
          <h3 class="merchant-name">{{merchant.merchantName}}</h3>
          <span
            class="ion-text-center merchant-claim"
            [innerHTML]="merchant.merchantClaim"
          ></span>
          <div class="place">
            <ion-icon
              class="place-icon"
              src="../../assets/icon/place.svg"
            ></ion-icon
            >
            <!-- <span class="merchant-city">{{merchant.merchantCity}}</span>, -->
            <span class="merchant-country">{{merchant.merchantCountry}}</span>
          </div>
          <div class="discount" *ngIf="merchant.discountInfoPage1">
            {{ merchant.discountInfoPage1 }}
          </div>
        </ion-card>
        <!-- <div class="merchant-card-filler"></div> -->
        <div class="page-1-content">
          <div
            class="page-1-include"
            [innerHTML]="merchant.productPage1BodyText"
          ></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="merchant && merchant.id != -1 && merchant.id != -2 && merchant.id != -3 && merchant.id != -4 && merchant.id != -5 && merchant.id != -6 && merchant.id != -7 && merchant.id != -8" #slide2 class="slide2 scroll-content">
      <!-- <div class="background-filler"></div> -->
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-2-rounded-container">
        <h4 class="merchant-page2-headline">
          {{merchant.productPage2Headline}}
        </h4>
        <h6 class="merchant-page2-subheading">
          {{merchant.productPage2SubHeading}}
        </h6>
        <div class="discount" *ngIf="merchant.discountInfoPage2">
          {{ merchant.discountInfoPage2 }}
        </div>
        <div class="page-2-content">
          <div
            class="forced-style"
            [innerHTML]="merchant.productPage2BodyText"
          ></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="merchant && merchant.id != -1 && merchant.id != -2 && merchant.id != -3 && merchant.id != -4 && merchant.id != -5 && merchant.id != -6 && merchant.id != -7 && merchant.id != -8" #slide3 class="slide3">
      <!-- <div class="background-filler"></div> -->
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-3-rounded-container">
        <h4 class="ion-text-left merchant-page3-headline" padding-left>
          {{merchant.productPage3Headline}}
        </h4>
        <div class="page-3-content">
          <!-- <div *ngIf="merchant.productHistory.length == 0" style="text-align: center"> <strong>{{merchant.did}}</strong> <br><br></div> -->
          <div
            class="forced-style"
            *ngIf="merchant.productHistory.length == 0"
            [innerHTML]="merchant.productPage3BodyText"
          ></div>
          <div
            *ngIf="merchant.productHistory.length == 0 && (
            merchant.merchantWebsite !== ''  || 
            merchant.merchantPrivacyPolicy !== '' ||
            merchant.merchantEmail !== '' ||
            merchant.merchantAddressStreet !== '' ||
            merchant.merchantAddressZip !== '' ||
            merchant.merchantAddressCity !== '' ||
            merchant.merchantLegalIdentifierHgb !== ''
            )"
          >
            <ion-grid class="info-grid" *ngIf="!energyAustralia">
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      class="shareInfo"
                      src="../../assets/icon/Statistics.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="11">
                  <span class="lbl-col"
                    ><strong
                      >{{ 'MARKETPLACE.anon' | translate }} Reporting</strong
                    ></span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      class="shareInfo"
                      src="../../assets/icon/Anonymizedhelixid.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="11">
                  <span class="lbl-col"
                    ><strong
                      >{{ 'MARKETPLACE.anon' | translate }} helix id</strong
                    ></span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid class="info-grid" *ngIf="energyAustralia">
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      class="shareInfo"
                      src="../../assets/icon/account-ea.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="11">
                  <span class="lbl-col"
                    ><strong>Basic verified personal data</strong></span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      class="shareInfo"
                      src="../../assets/icon/Letter.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="11">
                  <span class="lbl-col"
                    ><strong>Verified email address</strong></span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      class="shareInfo"
                      src="../../assets/icon/privacy-ea.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="11">
                  <span class="lbl-col"
                    ><strong>User specific compliance data</strong></span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <br />
            <span style="font-size: 16px"
              >{{ 'MERCHANT_DETAILS.more-info-company' | translate }} {{
              merchant.merchantName }}:</span
            ><br />
            <ion-grid class="info-grid">
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      src="../../assets/icon/Company.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="4">
                  <span class="lbl-col"
                    >{{ 'MERCHANT_DETAILS.address' | translate }}</span
                  >
                </ion-col>
                <ion-col size="7">
                  <span class="info-col"
                    >{{ merchant.merchantAddressStreet }}</span
                  >
                  <span class="info-col"
                    >{{ merchant.merchantAddressZip }}</span
                  >
                  <span class="info-col"
                    >{{ merchant.merchantAddressCity }}</span
                  >
                  <span class="info-col"
                    >{{ merchant.merchantLegalIdentifierHgb }}</span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <a href="{{ merchant.merchantWebsite }}" target="_blank">
                    <span class="lbl-col"
                      ><ion-icon
                        src="../../assets/icon/Web.svg"
                        mode="ios"
                      ></ion-icon
                    ></span>
                  </a>
                </ion-col>
                <ion-col size="4">
                  <a href="{{ merchant.merchantWebsite }}" target="_blank">
                    <span class="lbl-col"
                      >{{ 'MERCHANT_DETAILS.website' | translate }}</span
                    >
                  </a>
                </ion-col>
                <ion-col size="7">
                  <!-- <span class="info-col"><strong>{{ merchant.merchantWebsite }}</strong></span> -->
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <a
                    href="{{ merchant.merchantPrivacyPolicy }}"
                    target="_blank"
                  >
                    <span class="lbl-col"
                      ><ion-icon
                        src="../../assets/icon/Document.svg"
                        mode="ios"
                      ></ion-icon
                    ></span>
                  </a>
                </ion-col>
                <ion-col size="4">
                  <a
                    href="{{ merchant.merchantPrivacyPolicy }}"
                    target="_blank"
                  >
                    <span class="lbl-col"
                      >{{ 'MERCHANT_DETAILS.privacy' | translate }}</span
                    >
                  </a>
                </ion-col>
                <ion-col size="7">
                  <!-- <span class="info-col"><strong>{{ merchant.merchantPrivacyPolicy }}</strong></span> -->
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <a [href]="mailParsing(merchant.merchantEmail)">
                    <span class="lbl-col"
                      ><ion-icon
                        src="../../assets/icon/Letter.svg"
                        mode="ios"
                      ></ion-icon
                    ></span>
                  </a>
                </ion-col>
                <ion-col size="4">
                  <a [href]="mailParsing(merchant.merchantEmail)">
                    <span class="lbl-col"
                      >{{ 'MERCHANT_DETAILS.email' | translate }}</span
                    >
                  </a>
                </ion-col>
                <ion-col size="7">
                  <!-- <span class="info-col"><strong>{{ merchant.merchantEmail }}</strong></span> -->
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <span class="lbl-col"
                    ><ion-icon
                      src="../../assets/icon/DID-Logo-01.svg"
                      mode="ios"
                    ></ion-icon
                  ></span>
                </ion-col>
                <ion-col size="9">
                  <span class="info-col" style="font-size: 16px"
                    >{{ merchant.did }}</span
                  >
                </ion-col>
                <ion-col size="2">
                  <ion-fab-button
                    mode="ios"
                    style="position: absolute; right: 0px"
                    size="small"
                    (click)="showDidTooltip()"
                  >
                    <ion-icon
                      name="help-outline"
                      style="padding-right: 0"
                    ></ion-icon>
                  </ion-fab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div
            class="merchant-history-item"
            [ngClass]="i === merchant.productHistory.length - 1 ? 'last' : ''"
            *ngFor="let historyItem of merchant.productHistory; let i = index;"
          >
            <h5
              class="date"
              *ngIf="utils.dateCompare(historyItem.from, historyItem.to)"
            >
              {{utils.getWeekDayApprobation(historyItem.from)}}.
              {{historyItem.from | date: 'dd.MM.yyyy'}}
            </h5>
            <h5
              class="date"
              *ngIf="!utils.dateCompare(historyItem.from, historyItem.to)"
            >
              {{utils.getWeekDayApprobation(historyItem.from)}}.
              {{historyItem.from | date: 'dd.MM.yyyy'}} -
              {{utils.getWeekDayApprobation(historyItem.to)}}. {{historyItem.to
              | date: 'dd.MM.yyyy'}}
            </h5>
            <div class="object">{{historyItem.object}}</div>
            <div class="place">{{historyItem.place}}</div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="energyAustralia" #slide2 class="slide2 scroll-content">
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-2-rounded-container">
        <div class="page-2-content">
          <div class="forced-style">
            <div>
              Please scan your personalized QR code to access your web account
            </div>
            <br />
            <div class="qr-container">
              <div class="qr-code-container">
                <ngx-qrcode
                  class="qr-code"
                  qrc-element-type="url"
                  [value]="userSelfQRCode"
                  *ngIf="userSelfQRCode"
                >
                </ngx-qrcode>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="energyAustralia" #slide2 class="slide2 scroll-content">
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-2-rounded-container">
        <div class="page-2-content">
          <div class="forced-style">
            <div *ngIf="!_BarcodeService.energyAustraliaQRCode">
              Please scan your energy utility bill to access your account with
              {{ merchant.productName }}.
            </div>
            <br />
            <div class="buttons">
              <div class="button ion-activatable" (click)="scanUtilityBill()">
                <ion-ripple-effect></ion-ripple-effect>Scan Utility Bill
              </div>
            </div>
            <br />
            <div
              class="qr-container"
              *ngIf="_BarcodeService.energyAustraliaQRCode"
            >
              <div class="qr-code-container">
                <ngx-qrcode
                  class="qr-code"
                  qrc-element-type="url"
                  [value]="_BarcodeService.energyAustraliaQRCode"
                  *ngIf="_BarcodeService.energyAustraliaQRCode"
                >
                </ngx-qrcode>
              </div>
            </div>
            <br />
            <div *ngIf="_BarcodeService.energyAustraliaQRCode">
              The relevant information has been extracted from your utility
              (paper or email) bill. Now you can log into your utility app using
              your helix id credentials.
            </div>
            <br />
            <div
              *ngIf="_BarcodeService.energyAustraliaQRCodeComponentArray.length > 0"
            >
              <div
                *ngFor="let eaqrca of _BarcodeService.energyAustraliaQRCodeComponentArray"
              >
                <span style="float: left">{{ eaqrca.key }}: </span>
                <span style="float: right">{{ eaqrca.value }}</span>
              </div>
            </div>
            <br /><br /><br />
            <div class="buttons">
              <div
                class="button ion-activatable"
                *ngIf="_BarcodeService.energyAustraliaQRCode"
                (click)="logIntoUtility()"
              >
                <ion-ripple-effect></ion-ripple-effect>Log into Energy
                Management App
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="merchant.qrCode" #slide4 class="slide2 scroll-content">
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-2-rounded-container">
        <div class="page-2-content">
          <div class="forced-style">
            <div
              class="page-4-include"
              style="font-size: 16px"
              [innerHTML]="merchant.qrCodeDescription"
            ></div>
            <div *ngIf="eventRequisites.length > 0">
              <br />
              <strong
                >{{ 'MARKETPLACE_EVENTS.REQUISITES.title' | translate }}</strong
              ><br />
              <ion-grid>
                <ion-row *ngFor="let req of eventRequisites">
                  <ion-col size="1">
                    <ion-icon
                      style="font-size: 22px"
                      *ngIf="req.value == true"
                      name="checkmark-circle-outline"
                      color="success"
                    ></ion-icon>
                    <ion-icon
                      style="font-size: 22px"
                      *ngIf="req.value == false"
                      name="close-circle-outline"
                      color="danger"
                    ></ion-icon>
                  </ion-col>
                  <ion-col size="10" style="font-size: 16px">
                    {{ 'MARKETPLACE_EVENTS.REQUISITES.' + req.title | translate
                    }}
                  </ion-col>
                  <ion-col size="1" style="align-self: self-end">
                    <ion-icon
                      *ngIf="req.value == false && req.title != 'VALID_TICKET'"
                      name="information-circle-outline"
                      (click)="tooltipEventInformation(req.title)"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="qr-container" *ngIf="qrCode">
              <div class="qr-code-container">
                <ngx-qrcode
                  class="qr-code"
                  qrc-element-type="url"
                  [value]="qrCode"
                  *ngIf="qrCode"
                  [ngClass]="{ 'is-hidden': qrCodeIsHidden }"
                >
                </ngx-qrcode>
              </div>
              <p>{{ qrCodeCaptionCountdown }}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="merchant.qrCode" #slide5 class="slide2 scroll-content">
      <div
        class="avatar-container"
        [ngStyle]="{top: (slide23AvatarTopPx + 'px')}"
      >
        <ion-avatar>
          <img [src]="merchant.merchantLogo" />
        </ion-avatar>
      </div>
      <div id="slide-2-rounded-container">
        <div class="page-2-content">
          <div class="forced-style">
            <div
              style="text-align: center"
              *ngIf="displayableElements.length == 0"
            >
              <strong
                >{{ 'CERTIFICATES.MESSAGESTICKETSTATUS.scanner-line-1' |
                translate }}</strong
              ><br /><br />
              <strong
                >{{ 'CERTIFICATES.MESSAGESTICKETSTATUS.scanner-line-2' |
                translate }}</strong
              ><br /><br />
            </div>
            <div
              style="text-align: center"
              *ngIf="displayableElements.length != 0"
            >
              <strong class="ticket-valid" *ngIf="isTicketValid == true"
                >{{ 'CERTIFICATES.MESSAGESTICKETSTATUS.success-header' |
                translate }}</strong
              >
              <strong class="ticket-invalid" *ngIf="isTicketValid == false"
                >{{ 'CERTIFICATES.MESSAGESTICKETSTATUS.failure-header' |
                translate }}</strong
              >
              <br /><br />
            </div>
            <ion-grid>
              <ion-row *ngFor="let dp of displayableElements">
                <ion-col size="10"><strong>{{ dp.key }}</strong></ion-col>
                <ion-col size="2" *ngIf="dp.value == null"
                  ><ion-spinner name="lines-small"></ion-spinner
                ></ion-col>
                <ion-col size="2" *ngIf="dp.value !== null">
                  <span *ngIf="dp.value !== true && dp.value !== false"
                    >{{ dp.value }}</span
                  >
                  <ion-icon
                    style="font-size: 22px"
                    *ngIf="dp.value == true"
                    name="checkmark-circle-outline"
                    color="success"
                  ></ion-icon>
                  <ion-icon
                    style="font-size: 22px"
                    *ngIf="dp.value == false"
                    name="close-circle-outline"
                    color="danger"
                  ></ion-icon>
                </ion-col>
                <!-- <ion-col size="2" *ngIf="dp.value"><field-lock *ngIf="dp.trust" [property1]="dp.trust"></field-lock></ion-col> -->
              </ion-row>
            </ion-grid>
            <div
              style="text-align: center; padding-top: 20px"
              *ngIf="displayableElements.length != 0 && isTicketValid == true"
            >
              {{ 'CERTIFICATES.MESSAGESTICKETSTATUS.success-body' | translate }}
            </div>
            <div
              style="text-align: center; padding-top: 20px"
              *ngIf="displayableElements.length != 0 && isTicketValid == false"
            >
              {{ 'CERTIFICATES.MESSAGESTICKETSTATUS.failure-body' | translate }}
            </div>
            <div
              style="text-align: center; padding-top: 20px"
              *ngIf="displayableElements.length == 0"
            >
              <ion-icon
                src="/../../assets/downArrow.svg"
                class="downArrow"
              ></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ng-container *ngIf="merchant">
  <div
    class="merchant-page1-cta-button-container md"
    [ngClass]="activeIndex === 0 ? 'visible' : 'hidden'"
  >
    <div
      class="merchant-page1-cta-button proto-button-tertiary ion-activatable"
      (click)="goToPage1(merchant.productPage1CtaTargetURL)"
    >
      <ion-ripple-effect></ion-ripple-effect>{{ merchant.productPage1CtaText }}
    </div>
  </div>

  <div
    class="merchant-page2-cta-button-container md"
    [ngClass]="activeIndex === 1 ? 'visible' : 'hidden'"
  >
    <div
      class="merchant-page2-cta-button proto-button-tertiary ion-activatable"
      (click)="goToPage2(merchant.productPage2CtaTargetURL)"
    >
      <ion-ripple-effect></ion-ripple-effect>{{ merchant.productPage2CtaText }}
    </div>
  </div>

  <div
    class="merchant-page4-cta-button-container md"
    [ngClass]="(activeIndex === 3 && !energyAustralia) ? 'visible' : 'hidden'"
    *ngIf="merchant.qrCode && !qrCode"
  >
    <div
      class="merchant-page4-cta-button proto-button-tertiary ion-activatable"
      (click)="toTicketShop()"
    >
      <ion-ripple-effect></ion-ripple-effect>{{
      'CERTIFICATES.reallabor.buyTicket' | translate }}
    </div>
  </div>

  <div
    class="merchant-page4-cta-button-container md"
    [ngClass]="(activeIndex === 3 && !energyAustralia) ? 'visible' : 'hidden'"
    *ngIf="merchant.qrCode && qrCode"
  >
    <div
      class="merchant-page4-cta-button proto-button-tertiary ion-activatable"
      (click)="addToCalendar()"
    >
      <ion-ripple-effect></ion-ripple-effect>{{
      'CERTIFICATES.reallabor.addToCalendar' | translate }}
    </div>
  </div>

  <div
    class="merchant-page4-cta-button-container md"
    [ngClass]="(activeIndex === 4 && !energyAustralia) ? 'visible' : 'hidden'"
  >
    <div
      class="merchant-page4-cta-button proto-button-tertiary ion-activatable"
      (click)="scanUseCaseCertificate()"
    >
      <ion-ripple-effect></ion-ripple-effect>{{ 'OTC.BUTTONS.TICKET' | translate
      }}
    </div>
  </div>
</ng-container>

<ion-fab
  class="fab-parent"
  *ngIf="merchant && merchant.merchantChatUsername && _AppStateService.isAuthorized"
  slot="fixed"
>
  <ion-fab-button class="fab-merchant">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button class="fab-merchant" (click)="chatWithMerchant()">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="fab-merchant">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- <ion-footer>
  <tabs></tabs>
</ion-footer> -->
