<ion-header mode="ios" class="ion-no-border">
  <div class="page-header"></div>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="ion-padding" class="profile-content">
    <div>
      <h1 class="welcome-title">{{ heading }}</h1>
      <h3 class="access-message">{{ 'WEB3WALLET.STEP4.verify-body' | translate }}</h3>

      <span *ngFor="let h of chosenItems; let indice = index" class="words-chosen" (click)="deleteWord(h)">
        <span style="color: #D7D7D7; font-size: 12px;">{{ indice + 1 }}</span>{{ h }}
      </span>

      <ion-item-divider mode="md"></ion-item-divider>
        <br><br>
      <span *ngFor="let g of displayItems" class="words" (click)="setWord(g)">{{ g }}</span>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="page-footer">
      <div class="buttons">
        <div class="button-reject ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'BUTTON.CANCEL' | translate }}</div>
        <div class="button-submit ion-activatable" (click)="confirm()" [ngClass]="{ 'button-submit--inactive' : displayItems.length != 0 }"><ion-ripple-effect></ion-ripple-effect>{{ 'SIGNSTEPFIVE.buttonSuccess' | translate }}</div>
      </div>
    </div>
</ion-footer>
