<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center step">{{ 'SIGNSTEPS.step' | translate }} {{ stage }} {{ 'SIGNSTEPS.of' | translate }} 6</div>

  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h1>{{ 'SIGNSTEPFOUR.wallet_via_pin' | translate }} </h1>

  <ion-label class="proto-title" *ngIf="step == steps.step1">
    {{ 'PIN.form-first-pin' | translate }}
  </ion-label>
  <code-input *ngIf="step == steps.step1" #codeInput1 [isCodeHidden]="visibility.input1"
    [initialFocusField]="0"
    [codeLength]="5"
    (codeChanged)="onCodeChanged1($event)"
    (codeCompleted)="onCodeCompleted1($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step1" (click)="togglePINVisibility('input1')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input1 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>
 
  <ion-label class="proto-title" *ngIf="step == steps.step2">
    {{ 'PIN.form-confirm-new-pin' | translate }}
  </ion-label>
  <code-input *ngIf="step == steps.step2" #codeInput2 [isCodeHidden]="visibility.input2"
    [initialFocusField]="0"
    [codeLength]="5"
    (codeChanged)="onCodeChanged2($event)"
    (codeCompleted)="onCodeCompleted2($event)">
  </code-input>
  <ion-button *ngIf="step == steps.step2" (click)="togglePINVisibility('input2')" class="password-toggle" mode="md" fill="clear">
    <ion-icon color="primary" [name]="visibility.input2 ? 'eye' : 'eye-off'" slot="icon-only" mode="md"></ion-icon>
  </ion-button>
  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" (click)="goToPreviousStep()">{{ 'ALTWALKTHROUGH.back' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="nextStep()">{{ 'ALTWALKTHROUGH.next' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
    <div (click)="skip()" class="proto-hyperlink addPadding">
      <span>{{ 'SIGNSTEPFOUR.skip' | translate }}</span>
    </div>
</ion-content>