ion-content {

    .step {
        width: 100%;
        font-size: .7rem;
        color: var(--ion-text-color);
        margin: 64px 0 6px 0;
    }
    
    ion-progress-bar {
        height: 8px;
        --background: var(--ion-color-primary);
        --buffer-background: var(--ion-color-primary);
        --progress-background: var(--ion-color-secondary);    
    } 
    
    h1 {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    ion-input {
        border:  1px solid var(--ion-text-color);
    } 

    .password-toggle {
        --background: var(--ion-background-color);
        --color: var(--ion-text-color);
        width: 100%;
        z-index: 2;
    }
    
}

code-input {
    --item-border: 1px solid var(--ion-tab-icon-color);
    --item-border-bottom: 1px solid var(--ion-tab-icon-color);
    --item-border-has-value: 1px solid var(--ion-color-primary);
    --item-border-bottom-has-value: 1px solid var(--ion-color-primary);
    --item-border-focused: 1px solid var(--ion-color-secondary);
    --item-border-bottom-focused: 1px solid var(--ion-color-secondary);
    --item-height: 3em;
    --item-border-radius: 20px;
    --item-spacing: 10px;
    font-size: 30px;
  }

  .addPadding {
    padding-top: 10px;
  }
