<ion-header mode="ios" class="ion-no-border">
  <div class="page-header"></div>
</ion-header>

<ion-content [forceOverscroll]="false">

    <div class="ion-padding" class="profile-content">
      <div style="text-align: left;">
        <h1 class="welcome-title" *ngIf="stage == '1'">{{ 'WEB3WALLET.STEP3.heading' | translate }} Verified Wallet</h1>
        <h1 class="welcome-title" *ngIf="stage == '2'">{{ 'WEB3WALLET.STEP3.heading' | translate }} Unverified Wallet</h1>
        <h1 class="welcome-title" *ngIf="stage == '4'">{{ 'WEB3WALLET.STEP3.heading-4' | translate }}</h1>

          <div *ngIf="!displayLoadingDots" style="text-align: center;">

            <ion-card class="ion-no-margin cloudBackup" (click)="cloudBackup()">
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'WEB3WALLET.STEP3.card-2' | translate }}</span>
              </ion-card-content>
            </ion-card>

          </div>

          <h3 *ngIf="!displayLoadingDots" class="access-message">
            {{ 'WEB3WALLET.STEP3.info-1' | translate }} <strong>{{ 'WEB3WALLET.STEP3.info-1-strong' | translate }}</strong>
          </h3>

          <ion-item-divider *ngIf="!displayLoadingDots" mode="md" class="menu-item-divider"></ion-item-divider>
          <br>

          <div *ngIf="!displayLoadingDots" style="text-align: center;">

            <ion-card class="ion-no-margin paperBackup" (click)="paperBackup()">
              <ion-card-header>
                <div class="nav-item-icon"><i></i></div>
              </ion-card-header>
              <ion-card-content>
                <span>{{ 'WEB3WALLET.STEP3.card-1' | translate }}</span>
              </ion-card-content>
            </ion-card>

          </div>

          <h3 *ngIf="!displayLoadingDots" class="access-message">
            {{ 'WEB3WALLET.STEP3.info-2' | translate }} <strong>{{ 'WEB3WALLET.STEP3.info-2-strong' | translate }}</strong>
          </h3>

          <div style="text-align: center; font-size: 50px;">
            <ion-spinner *ngIf="displayLoadingDots" name="lines-sharp"></ion-spinner>
          </div>

      </div>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
      <div class="page-footer">
        <div class="buttons">
          <div class="button ion-activatable" (click)="deny()"><ion-ripple-effect></ion-ripple-effect>{{ 'ALTWALKTHROUGH.back' | translate }}</div>
        </div>
      </div>
  </ion-footer>
